<h3>Infrastructure</h3>
<p><b>Facilities available in Engineering Chemistry Laboratory: </b>Distilled water plant, pH meter, potentiometer, conductivity meter, colorimeter, hot-air oven, flame photometer.</p>
<h3>Facilities available in Chemistry Research Centre:</h3>
<ol style="padding-left: 20px;">
<li>BET surface area analyzer – Quanta chrome Nova-1000.</li>
<li>Gas chromatograph – Chemito GC-1000, IRIS software</li>
<li>FT-IR spectrometer – Shimadzu IR affinity-1, IR solution software.</li>
<li>UV-Visible spectrometer- Chemito UV-2100, Spectroscan Series.</li>
<li>Microwave reactor – Milestone (Italy)- Labstation Start- S</li>
<li>Vapour phase reactor</li>
<li>High pressure liquid phase reactor.</li>
<li>Autoclaves</li>
<li>Melting point apparatus</li>
<li>Furnace, Oven, Centrifuge, Magnetic stirrer, Mechanical stirrer, Heating mantle, shaker, chiller, vacuum pump.</li>
</ol>
<p>&nbsp;</p>
<h3>Projects sponsored (research grants received) from various funding agencies</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td valign="top">
<p>Sl. No</p>
</td>
<td valign="top">
<p>Funding agency</p>
</td>
<td valign="top">
<p>Title of the project</p>
</td>
<td valign="top">
<p>Total amount received (Rs)</p>
</td>
<td valign="top">
<p>Name of the Principal investigator/ Co-Investigator</p>
</td>
<td valign="top">
<p>Duration</p>
</td>
</tr>
<tr>
<td valign="top">
<p>1</p>
</td>
<td valign="top">
<p>Department of Science and Technology (DST),</p>
<p>New Delhi</p>
</td>
<td valign="top">
<p>Synthesis and characterization and catalytic activity of<br>aluminum pillared montmorillonite clays</p>
</td>
<td valign="top">
<p>13,50,000/-</p>
</td>
<td valign="top">
<p>Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>April 1995 to March 1998</p>
</td>
</tr>
<tr>
<td valign="top">
<p>2</p>
</td>
<td valign="top">
<p>Department of Atomic Energy (DAE), Mumbai</p>
</td>
<td valign="top">
<p>Chemically modified pillared clays as recyclable inorganic<br>adsorbents for removing toxic materials from aqueous<br>environment</p>
</td>
<td valign="top">
<p>17,60,000/-</p>
</td>
<td valign="top">
<p>Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>April 1998 to March 2001</p>
</td>
</tr>
<tr>
<td valign="top">
<p>3</p>
</td>
<td valign="top">
<p>Department of Science and Technology (DST),</p>
<p>New Delhi</p>
</td>
<td valign="top">
<p>Synthesis of industrially important esters using ultra<br>large pillared smectites as catalysts</p>
</td>
<td valign="top">
<p>20,00,000/-</p>
</td>
<td valign="top">
<p>Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>April 2000 to March 2003</p>
</td>
</tr>
<tr>
<td valign="top">
<p>4</p>
</td>
<td valign="top">
<p>Department of Atomic Energy (DAE), Mumbai</p>
</td>
<td valign="top">
<p>Separation and isolation of metal ions of importance in<br>atomic energy using surface modified smectites</p>
</td>
<td valign="top">
<p>11,05,000/-</p>
</td>
<td valign="top">
<p>Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>April 2004 to March 2007</p>
</td>
</tr>
<tr>
<td valign="top">
<p>5</p>
</td>
<td valign="top">
<p>Heavy Water Board, Mumbai</p>
</td>
<td valign="top">
<p>Modification of clays with biodegradable detergents for<br>pretreatment of phosphoric acid</p>
</td>
<td valign="top">
<p>2,00,000/-</p>
</td>
<td valign="top">
<p>Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>October 2006 to September 2007</p>
</td>
</tr>
<tr>
<td valign="top">
<p>6</p>
</td>
<td valign="top">
<p>Department of Science and Technology (DST),</p>
<p>New Delhi</p>
</td>
<td valign="top">
<p>Clay catalyzed synthesis of industrially important esters<br>under microwave irradiation conditions</p>
</td>
<td valign="top">
<p>18,00,000/-</p>
</td>
<td valign="top">
<p>Dr. Y. S. Bhat/ Dr. B. S. Jaiprakash</p>
</td>
<td valign="top">
<p>April 2007 to March 2010</p>
</td>
</tr>
<tr>
<td valign="top">
<p>7</p>
</td>
<td valign="top">
<p>Visveswaraya Technological University (VTU), Belgaum</p>
</td>
<td valign="top">
<p>Mono-dispersion of Mn species on nanoclay and its use in<br>catalytic oxidation</p>
</td>
<td valign="top">
<p>8,00,000/-</p>
</td>
<td valign="top">
<p>Dr. Y. S. Bhat</p>
</td>
<td valign="top">
<p>April 2010 to March 2013</p>
</td>
</tr>
</tbody>
</table>
<h3>Research Guides at Chemistry Research Centre</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="44">
<p>Sl. No</p>
</td>
<td width="187">
<p>Name</p>
</td>
<td width="95">
<p>Designation</p>
</td>
<td width="180">
<p>Phone number</p>
</td>
<td width="156">
<p>Area of research</p>
</td>
</tr>
<tr>
<td width="44">
<p>1</p>
</td>
<td width="187">
<p>Dr. Chandra shekara. B. M</p>
</td>
<td width="95">
<p>Associate Professor and HOD</p>
</td>
<td width="180">
<p><a href="mailto:chandrashekharabm@bit-bangalore.edu.in"><br>chandrashekharabm@bit-bangalore.edu.in<br></a></p>
<p>9008380008</p>
</td>
<td width="156">
<p>Heterogeneous Catalysis and Material Science.</p>
</td>
</tr>
<tr>
<td width="44">
<p>2</p>
</td>
<td width="187">
<p>Dr. Prakasha. K. C.</p>
</td>
<td width="95">
<p>Assistant Professor</p>
</td>
<td width="180">
<p><a href="mailto:prakashakc@bit-bangalore.edu.in"><br>prakashakc@bit-bangalore.edu.in<br></a></p>
<p>9844495907</p>
</td>
<td width="156">
<p>Medicinal Chemistry, Synthetic Chemistry &amp; Advanced<br>Materials.</p>
</td>
</tr>
<tr>
<td width="44">
<p>3</p>
</td>
<td width="187">
<p>Dr. Prakruthi. H. R</p>
</td>
<td width="95">
<p>Assistant Professor</p>
</td>
<td width="180">
<p><a href="mailto:prakruthihr@bit-bangalore.edu.in"><br>prakruthihr@bit-bangalore.edu.in<br></a></p>
<p>9986794973</p>
</td>
<td width="156">
<p>Heterogeneous Catalysis, Adsorption and Material Science.</p>
</td>
</tr>
<tr>
<td width="44">
<p>4</p>
</td>
<td width="187">
<p>Dr. Venkatesha</p>
</td>
<td width="95">
<p>Assistant Professor</p>
</td>
<td width="180">
<p><a href="mailto:venkateshanj@bit-bangalore.edu.in"><br>venkateshanj@bit-bangalore.edu.in<br></a></p>
<p>9986794973</p>
</td>
<td width="156">
<p>Heterogeneous catalysis and Nano materials.</p>
</td>
</tr>
</tbody>
</table>

<!--Images-->
<div class="row">
    <div class="col-md-12"><img src="/chem_photos/dc2.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;">Students performing experiments in Engineering Chemistry laboratory</p>
    </div>
    </div>
    <h3 style="padding-top: 20px;">CHARACTERIZATION FACILITIES:</h3>
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-6" style="float: left;"><img style="width: 555px; height: 350px;" src="/chem_photos/cf1.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>Gas chromatograph</b></p>
    </div>
    <div class="col-md-6" style="float: right;"><img style="width: 555px; height: 350px;" src="/chem_photos/cf2.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>BET surface area analyzer</b></p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-6" style="float: left;"><img style="width: 555px; height: 350px;" src="/chem_photos/cf3.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>FT-IR spectrometer</b></p>
    </div>
    <div class="col-md-6" style="float: right;"><img style="width: 555px; height: 350px;" src="/chem_photos/cf4.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>UV-Visible spectrometer</b></p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-6" style="float: left;"><img style="width: 555px; height: 350px;" src="/chem_photos/r1.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>Microwave Reactor</b></p>
    </div>
    <div class="col-md-6" style="float: right;"><img style="width: 555px; height: 350px;" src="/chem_photos/r4.jpg">
    <p>&nbsp;</p>
    <p style="text-align: center;"><b>Liquid phase reactor</b></p>
    </div>
   