<style>
.photo {
    padding: 30px;
}
</style>
    <h3>Infrastructure:</h3>
<p >The department  possesses up to  date equipment  and software packages to deep the students abreast with the latest trends and requirements of the ever changing industrial environment</p>
<h3>Laboratories:</h3>
<p >The department has well equipped Laboratories affording students practical experiences in handling machines and theoretical know how.<br>
<strong>Electrical Machines Lab: </strong>Include AC/DC generator and motors, inductions and synchronous motors, transformers.<br><br>
<strong>Microcontroller Lab :</strong> a full  fledged microcontroller lab , that offers interaction with 8051 model.<br><br>
<strong>Electrical Measurement lab: </strong>Equipped with latest technologies in electrical energy measurement and instrumentation such as kelvin bridges, flux meter, universal measuring bridges, energy meter and digital RMS meters<br><br>
<strong>Linear integrated Circuits lab : </strong> CROs, signal generators  are used to study opamp characteristic’s &amp; its application circuits are designed &amp;analysed .<br><br>
<strong>Relay &amp; High voltage lab: </strong>Experiments on measurement of high voltage Study of  various current &amp; voltage Relay Characteristics using testing kits,high voltage systems etc.,is carried out.<br><br>
<strong>Power electronics lab: </strong>Experiments involving study of SCRs, chopper and inverter circuits etc are taken up. study of electric drives and speed control of motor arecarried out.<br><br>
<strong>Controls Lab: </strong>Practical exercises on analysis of DC servomotors, feedback mechanisms, stepper motors characteristics  are conducted.<br><br>

<strong>Digital signal processing Lab:</strong> Using MAT-LAB, processing of various types of digital signal is done.<br>
<br>

<strong>Power system simulation / pspice lab: </strong>The lab houses MI-POWER software for load flow studies, fault analysis , steady state and transient state stability studies, optimality of performance study, system interconnection and their computer simulation etc.<br><br>
<strong>AEC/DEC Labs: </strong>study of characteristics of transistors, diodes, FET,MOSFET, and opamps are taken up. Realization of flip-flops, counters, multiplexers, demultiplexers, encoder,, decoder, ADC/DAC, multivibrators etc. are done.<br><br>

</p>
<div class="row">
<div class="col-md-12">
<div class="col-md-6">
<img class="photo" src="/eee_photos/eeei1.jpg"></div>
<div class="col-md-6">
<img class="photo" src="/eee_photos/eeei2.jpg"></div>
</div>
</div>
<br>
<br>
<div class="row">
<div class="col-md-12">
<div class="col-md-6">
<img class="photo" src="/eee_photos/eeei3.jpg"></div>
<div class="col-md-6">
<img class="photo" src="/eee_photos/eeei4.jpg"></div>
</div>
</div>					