
    <h1 class="title" id="page-title">Research</h1> 

<p >To add to the credibility of the department various project papers have been acknowledged by the industry .The department has VTU recognized R&amp;D  centre and 6 faculty members from our department &amp; also from other institutions have registered for  Ph.D at this centre. Also 5 faculty members of our department have been awarded  Ph.D. in diversified areas of EEE . Thus the department have strong sense of responsibility to provide an excellent technological education  to the undergraduates and has been successful in providing platform to carry out R&amp;D work.</p>
<p >Some important projects done by electrical students :</p>

<p >•	Power system in Bangalore city (KEB)</p>
<p >•	Long range Single Phase Electronic Energy meter (BHEL)</p>
<p >•	Communication Modem for the Protection Relay (ABB)</p>
<p >•	Airborne Encoder Decoder Simulator (ADE)</p>
<p >•	Application of Genetic Algorithm in Power Systems (CPRI)</p>
<p >•	Study of Ion Migration and Thermal Runaway of DC Insulators (CPRI)</p>
<p >•	Control and monitoring system Delhi Metro Rail Corporation (ABB)</p>
<p >•	Evaluation of Digital Distance Relaying Algorithms (CPRI)</p>
<p >•	Microprocessor based governing of prime movers &amp; PLC based controlled conveyor (KIRLOSKAR)</p>
