
<h3>Achievements </h3>
<h3>During 2013-14 VTU examination</h3>
<div class="col-md-12">
<div class="col-md-6">
<img src="/eee_photos/a1-1.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
Abhilash A.S<br>
has secured 1st Rank with 7 Gold Medals.
</div>
<div class="col-md-6">
<img src="/eee_photos/a2-1.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
Pruthvi R<br>
has secured 2nd rank
<br>
<br>
<br>
</div>
</div>
<br>
<br>
<br>


<h3>During 2014-15 VTU examination</h3>

<div class="col-md-12">
<div class="col-md-4">
<img src="/eee_photos/a3-1.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
RAHUL MADHUKAR<br>
IIRANK
</div>
<div class="col-md-4">
<img src="/eee_photos/a4-1.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
GOPAL DEO PRASAD<br>
VI-RANK
</div>
<div class="col-md-4">
<img src="/eee_photos/a5.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
RAKESH RAUSHAN<br>
IX-RANK
<br>
<br>
</div>
</div>

<h3>During 2016-17 VTU examination</h3>
<img src="/eee_photos/ac1.jpg" class="img-responsive" style="width:150px; height:200px;"><br>
LAVANYA UNDAVILLI<br>
VII-RANK

<h3>During 2017-18 VTU examination</h3>

<div class="col-md-12">
<div class="col-md-4">
<img src="/eee_photos/keerthana.png" class="img-responsive" style="width:150px; height:200px;"><br>
K KEERTHANA<br>
IIRANK
</div>
<div class="col-md-4">
<img src="/eee_photos/prajapathi.png" class="img-responsive" style="width:150px; height:200px;"><br>
PRAJAPATHI MANVENDRA<br>
IX-RANK
<br><br>
</div>
</div>
<br>
<br>

<div class="col-md-12">
<p><strong>RESULTS:</strong> The bar chart depicts   the overall pass percentage of final, third &amp; second year students of Department of Electrical &amp; Electronics Engineering.</p>
<p ><img src="/eee_photos/overf.png"></p>
<p ><img src="/eee_photos/3.png"></p>
<p ><img src="/eee_photos/Untitled.png"></p>
</div>

<div class="col-md-12">
<h4><a href="/eee_photos/placEEE-BIT-CR-2019-Sheet1.pdf" target="blank" rel="noopener noreferrer">1. ELECTRICAL &amp; ELECTRONICS ENGINEERING Branch students selected ON campus -Passed during Feb -August 2019</a></h4>
<h4><a href="/eee_photos/placement-2017-1-Sheet1.pdf" target="blank" rel="noopener noreferrer">2. ELECTRICAL &amp; ELECTRONICS ENGINEERING Branch students selected ON campus -Passed during Feb -August 2018</a></h4>
</div>						