{% extends "layout.html" %}
{% block title %}DEPARTMENT OF ELECTRONICS & INSTRUMENTATION ENGINEERING{% endblock %}
{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF ELECTRONICS & INSTRUMENTATION ENGINEERING</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p >The department of Instrumentation Technology was started in the year 1981-82 with the intake of 40 and later it was increased to 60. As indicated by the continuous opinion from the alumnae and up to date nEIMssities from the core industries, the department has been renamed as Electronics and Instrumentation Engineering. The department started new PG course in the academic year 2014-15 onwards with the sanctioned intake of 24. The main aim of this department is, to fulfill the requirement in frontier technology of Electronics and Instrumentation Engineering in the area of manufacturing, Instrumentation, Process control, Embedded System, Signal Processing and industrial automation.<br>

                      The department has been continuously imparting standard and quality service to the students for the past 36 years. The department produced 32 batches of undergraduates so far in which 15 batches under Bangalore University and 18 batches under Visvesvaraya Technological University. The department has been inculcating moral values in addition to the curricular and co-curricular activities. The Research and Development Centre was started in the academic year 2010-2011 to guide and assist the research scholars.<br>
                      
                      The department is proud about the performance of students in university examination to secure 25 Ranks under Bangalore University (1981-2001) and 43 Ranks under Visvesvaraya Technological University (VTU), (2002- till date). In last two years our students own Gold Medals by securing 1st Rank in University at State level.<br>
                      
                      The E&IE curriculum incorporates industry relevant technologies like Signal & Image Processing, Microcontrollers, VLSI, Computer communication Networks, Process Instrumentation, Control systems, Bio-Medical Instrumentation, Virtual Instrumentation, Robotics and controls etc., the contents of which are updated in compatibility with the changing industrial needs</p><br><br>
                        
                                <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
                                    <img src="/faculty/EI01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. M B Meenavathi</h5>
                                        <p class="card-text">Prof. & Head of the Dept
                                            </p>
                                        </div>
                                    </div></div>
                               
                            
                            <!-- Team Member Area -->
                            <div class="section-heading mt-30">
                               <h5> Vision and Mission </h5>
                            </div>
                              <h3>VISION</h3>
              <p >Graduates of Electronics and Instrumentation Engineering will have clarity of purpose and the solid decision-making abilities to be confident, selective and competitive in managing their careers and further Academic pursuits and to extending their hands for social service.</p>
              <h3>MISSION</h3>
              <p >1.	To evolve continually as a Centre of Excellence in offering quality in Electronics and Instrumentation Engineering education.<br>
              2.	To nurture the students to meet the Global Competency in Industry and Academia.<br>
              3.	To provide Reliable, Modern and Integrated Technology to support and facilitate Teaching, Learning, Research and Service.<br>
              4.	To promote collaboration with industry and Institute for constructive interaction for better Integration of Theory and Real Time Applications.</p>
              <h3>Programme Educational Objectives (PEOs)</h3>
              <p >The Program Educational Objectives define future roles for which we are preparing our students by studying four years of undergraduate engineering program. The major objectives for the Department of Electronics and Instrumentation Engineering at Bangalore Institute of Technology are:</p>
              <p >1.	To provide foundation in Mathematical, Scientific, and Electronics and Instrumentation Engineering, nEIMssary to solve Engineering Problems.<br>
              2.	To prepare Electronics and Instrumentation Engineering graduates   for Industry, Academia and globally employable with Professional Ethics.<br>
              3.	The graduates of Electronics and Instrumentation Engineering should be able to use their comprehensive skill set to launch a Carrier in Industry, Research and to become an Entrepreneur.<br>
              4.	To provide a knowledge base for creating new Innovative Techniques in Instrumentation and Process Industry with Multidisciplinary projects.</p>
              <h3>Program Specific Outcomes (PSOs)</h3>
              <p >The Program Specific Outcomes define future roles for which we are preparing our students by studying Electronics and Instrumentation Engineering. The major objectives for the Department of Electronics and Instrumentation Engineering at Bangalore Institute of Technology are:</p>
              <p >1.	To provide students with core competence in Electronics and Instrumentation Engineering.<br>
              2.	To provide our graduates with skill development in Process Automation and Control Engineering.</p>
              <h3>Program Outcomes (PO)</h3>
              <p >The Program Outcomes define the knowledge and skills that will be mastered by our graduates. The graduates will have the ability to </p>
              <p >1.	Engineering   knowledge:   Apply   the   knowledge   of   mathematics,   science,   engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.<br>
              2.	Problem   analysis:   Identify,   formulate,   review   research   literature,   and   analyze   complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.<br>
              3.	Design/development  of  solutions:  Design  solutions  for  complex  engineering  problems  and design  system  components  or  processes  that  meet  the  specified  needs  with  appropriate consideration  for  the  public  health  and  safety,  and  the  cultural,  societal,  and  environmental considerations.<br>
              4.	Conduct investigations of complex problems: Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.<br>
              5.	Modern tool usage: Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.<br>
              6.	The engineer and society: Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.<br>
              7.	Environment and sustainability: Understand the impact of the professional engineering solutions in  societal  and  environmental  contexts,  and  demonstrate  the  knowledge  of,  and  need  for sustainable development.<br>
              8.	Ethics: Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.<br>
              9.	Individual and team work: Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.<br>
              10.	Communication: Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and rEIMive clear instructions.<br>
              11.	Project   management   and   finance:   Demonstrate   knowledge   and   understanding   of   the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.<br>
              12.	Life-long learning: Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</p>				
     
                                    <!-- Faculty-->   
                                  <div class="section-heading mt-30">
                                    <h5>Faculty</h5>
                                </div>
                                {% for fac in facs %}
                                <!-- Single Team Member -->
                                <a href="#" >
                                <div class="single-team-member d-flex align-items-center">
                                    <div class="team-member-thumbnail">
                                        <img src="/faculty/{{fac[0]}}.jpg" alt="">
                                        
                                    </div>
                                    <div class="team-member-content">
                                        <h6>{{fac[1]}}</h6>
                                        <span>{{fac[2]}}</span>
                                        Qualification:-{{fac[3]}}<br>
                                           Email:- <a href="mailto:{{fac[4]}}" style="color: blue;">{{fac[4]}}</a>
                                        
                                    </div>
                                </div>
                                </a>
                                {% endfor %}
                            </div>
                           
                    
                            
                        </div>
                        
                        
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 box-shadow">
                                
                                <div class="section-heading">
                                    <h5>Other Links</h5>
                                </div>
                                <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">
                                
                                  <div class="social-followers-info">
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('EIM','ach')"><span>Achievements </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('EIM','infra')"><span>Infrastructure </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('EIM','research')"><span>Research </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('EIM','post')"><span>Post Graduate </span></button>
                                    <br>
                                </div>

                                <div class="single-sidebar-widget p-30">
                                    <!-- Section Title -->
                                    <div class="section-heading">
                                        <h5>Announcements</h5>
                                    </div>
                                    {% if annons|length==0 %}
                                    <div> No Announcements</div>
                                    <hr> {% else %} {% for annon in annons %}
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex">
                                        <div class="post-thumbnail">
                                            <span
                                                style="font-size: xx-large;">{{annon[2].day}}</span><span>{{getDate(annon[2].day)}}</span><br>{{annon[2].strftime("%b")}}
                                            {{annon[2].year}}
                                        </div>
                                        <div class="post-content">
                                            <a href="/announcement/{{annon[0]}}" class="post-title">{{annon[1]}}</a>
                                        </div>
                                    </div>
                        
                                    {% endfor %}
                                    <div><a href="/archive/EIM/1" style="color: inherit;"><button class="btn"><span>View all</span></button> </a>
                                    </div>
                                    {% endif %}
                                </div>


                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### About Us Area End ##### -->
            
            
            {% endblock %}