<div role="tabpanel" class="tab-pane  active animated fadeIn" id="tabs_desc_420_7">
    <h3>MTech in Signal Processing – PG Programme</h3>

<p>Department of Electronics and Instrumentation Engineering have started Signal Processing PG Programme in the year 2014. The program is approved by AICTE and is Affiliated to Visvesvaraya Technological University (VTU), Belagavi, Karnataka. The M.Tech (SP) programme is of four semesters (two years) duration. During this tenure, they acquire the in depth knowledge in various field of Signal Processing &amp; Engineering though  the  rigorous,  brain  storming  teaching- learning process. In addition, the students will be encouraged and motivated  to  learn  the  art  of  effective  dissemination  of  knowledge   through  seminars and technical paper publications. They are even trained to carryout good project works, so that in future, they are enabled to shoulder the responsibility of performing, managing any project efficiently. The special feature of the programme is to develop aspirant students as self-pride, confident, efficient professionals/ entrepreneurs.</p>
<p>Students will have 6 months internship programme during 3rd semester and our placement centre provides facilities for internship recruitments from major software companies. Most of the students have bagged internship offers from Robert Bosch, NAL, ADE, BSNL etc. PG students will be provided placements during 4th semester and many companies have visited for PG.</p>
<p>Facilities: An independent laboratory is provided for PG with well-equipped systems. Internet facility with IEEE access has been provided to each system. </p>
<p>PG Department is coordinated by Dr. H N Suresh BE,MTech,PhD. His publication at National and International conference is 11 and 17 respectively. No. of publication in National and International journals is 36nos. Six research scholars are completed their research work under his guidance. In the last academic year our students bagged 3 Ranks at University Examination 2017. </p>
<div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
    <img src="/faculty/EI02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dr. H N Suresh</h5>
        <p class="card-text">Professor &
            PG-Coordinator
            </p>
        </div>
    </div></div><br>
<p>Curriculum: The curriculum is aimed to give theoretical and hands on in the areas of advances in Signal Processing. Students have opportunity to work in advanced areas like Signal Processing Techniques during fourth semester and the entire third semester duration is allocated for Industrial Training (Internship) in companies.</p>
<h3>2018 Syllabus Coverage as per VTU</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="317">
<p><strong>CORE SUBJECTS</strong></p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p><strong>Semester I</strong></p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Advanced Engineering Mathematics</p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Advanced Digital Signal Processing</p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Advanced Embedded Systems</p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Multirate Systems and Filter Banks</p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Digital Compression</p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Advanced Digital Signal Processing Lab</p>
</td>
<td width="264">
<p> </p>
</td>
</tr><tr><td width="317">
<p>Research Methodology and IPR</p>
</td>
<td width="264">
<p> </p>
</td>
</tr><tr><td width="317">
<p> </p>
</td>
<td width="264">
<p> </p>
</td>
</tr><tr><td width="317">
<p><strong>Semester II</strong></p>
</td>
<td width="264">
<p><strong>Professional Elective I</strong></p>
</td>
</tr><tr><td width="317">
<p>Image Processing and Machine Vision</p>
</td>
<td width="264">
<p>Wireless Sensor Networks</p>
</td>
</tr><tr><td width="317">
<p>DSP System Design</p>
</td>
<td width="264">
<p>Reconfigurable Computing</p>
</td>
</tr><tr><td width="317">
<p>Biomedical Signal Processing</p>
</td>
<td width="264">
<p>Detection and Estimation</p>
</td>
</tr><tr><td width="317">
<p>Professional elective 1</p>
</td>
<td width="264">
<p><strong>Professional Elective II</strong></p>
</td>
</tr><tr><td width="317">
<p>Professional elective 2</p>
</td>
<td width="264">
<p> Channel Coding</p>
</td>
</tr><tr><td width="317">
<p>Image Processing Lab</p>
</td>
<td width="264">
<p> Statistical Signal Processing</p>
</td>
</tr><tr><td width="317">
<p>Technical Seminar</p>
</td>
<td width="264">
<p> Micro Electro Mechanical Systems</p>
</td>
</tr><tr><td width="317">
<p> </p>
</td>
<td width="264">
<p> </p>
</td>
</tr><tr><td width="317">
<p><strong>Semester III</strong></p>
</td>
<td width="264">
<p> Professional Elective 3</p>
</td>
</tr><tr><td width="317">
<p>Adaptive Signal Processing</p>
</td>
<td width="264">
<p> Speech and Audio Processing</p>
</td>
</tr><tr><td width="317">
<p>Professional elective -3</p>
</td>
<td width="264">
<p> Array Signal Processing</p>
</td>
</tr><tr><td width="317">
<p>Professional elective -4</p>
</td>
<td width="264">
<p> Communication System</p>
<p>Design using DSP Algorithm</p>
</td>
</tr><tr><td width="317">
<p>Evaluation of Project Phase -1</p>
</td>
<td width="264">
<p>Professional Elective 4</p>
</td>
</tr><tr><td width="317">
<p>Internship</p>
</td>
<td width="264">
<p><strong>VLSI Design for Signal Processing</strong></p>
</td>
</tr><tr><td width="317"> </td>
<td width="264">
<p><strong>Pattern Recognition &amp; Machine Learning</strong></p>
</td>
</tr><tr><td width="317"> </td>
<td width="264">
<p><strong>IoT</strong></p>
</td>
</tr><tr><td width="317">
<p> </p>
</td>
<td width="264">
<p> </p>
</td>
</tr><tr><td width="317">
<p><strong>Semester IV</strong></p>
</td>
<td width="264"> </td>
</tr><tr><td width="317">
<p>Project work Phase -2</p>
</td>
<td width="264"> </td>
</tr></tbody></table>						 </div>