    <h3>List of Major Equipment’s in Labs</h3>
<h3>Lab: Logic Design Lab</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="78">
<p>Sl.No</p>
</td>
<td width="270">
<p>Name of the Equipment</p>
</td>
</tr><tr><td width="78">
<p>1</p>
</td>
<td width="270">
<p>Linear IC trainer Kit</p>
</td>
</tr><tr><td width="78">
<p>2</p>
</td>
<td width="270">
<p>Handy Digital IC Tester         </p>
</td>
</tr><tr><td width="78">
<p>3</p>
</td>
<td width="270">
<p>Digital /Analog  IC Tester</p>
</td>
</tr></tbody></table><h3>Lab: AIC/AEC lab</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="72">
<p>Sl.No</p>
</td>
<td width="278">
<p>Name of the Equipment</p>
</td>
</tr><tr><td width="72">
<p>1</p>
</td>
<td width="278">
<p>2Khz high precision LCR meter</p>
</td>
</tr><tr><td width="72">
<p>2</p>
</td>
<td width="278">
<p>Function generator</p>
</td>
</tr><tr><td width="72">
<p>3</p>
</td>
<td width="278">
<p>Digital storage oscilloscope 40MHz</p>
</td>
</tr><tr><td width="72">
<p>4</p>
</td>
<td width="278">
<p>Digital storage oscilloscope 60MHz 20 channel color LCD display,</p>
</td>
</tr><tr><td width="72">
<p>5</p>
</td>
<td width="278">
<p>Dell Desktop Computers</p>
</td>
</tr><tr><td width="72">
<p>6</p>
</td>
<td width="278">
<p>1MHz Sine/Square Signal generator (APLab)</p>
</td>
</tr><tr><td width="72">
<p>7</p>
</td>
<td width="278">
<p>APLAB fixed dual power supply</p>
<p> +/- 15 v /2A</p>
</td>
</tr><tr><td width="72">
<p>8</p>
</td>
<td width="278">
<p>Digital IC trainer kits Big</p>
</td>
</tr><tr><td width="72">
<p>9</p>
</td>
<td width="278">
<p>Pulse Generator 20 MHz    (Scientific Make)</p>
</td>
</tr><tr><td width="72">
<p>10</p>
</td>
<td width="278">
<p>Handy Digital IC Tester</p>
</td>
</tr><tr><td width="72">
<p>11</p>
</td>
<td width="278">
<p>Autotransformer 230/5A</p>
</td>
</tr><tr><td width="72">
<p>12</p>
</td>
<td width="278">
<p>Servo stabilizers</p>
</td>
</tr><tr><td width="72">
<p>13</p>
</td>
<td width="278">
<p>Dell Workstation</p>
</td>
</tr></tbody></table><h3>Lab: 8051 Microcontroller  Lab</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="78">
<p>Sl.No</p>
</td>
<td width="270">
<p>Name of the Equipment</p>
</td>
</tr><tr><td width="78">
<p>1</p>
</td>
<td width="270">
<p>MCB51 Target boards</p>
</td>
</tr><tr><td width="78">
<p>2</p>
</td>
<td width="270">
<p>Dual slope ADC Interface </p>
</td>
</tr><tr><td width="78">
<p>3</p>
</td>
<td width="270">
<p>Dual DAC Interface</p>
</td>
</tr><tr><td width="78">
<p>4</p>
</td>
<td width="270">
<p>Calculator type key board interface</p>
</td>
</tr><tr><td width="78">
<p>5</p>
</td>
<td width="270">
<p>4-Digit, 7 segment LED  Display Interface</p>
</td>
</tr><tr><td width="78">
<p>6</p>
</td>
<td width="270">
<p>Temperature Controller Interface</p>
</td>
</tr><tr><td width="78">
<p>7</p>
</td>
<td width="270">
<p>Stepper Motor Interface with Stepper Motor, Power supply</p>
</td>
</tr><tr><td width="78">
<p>8</p>
</td>
<td width="270">
<p>Keil µVision v3.0</p>
</td>
</tr></tbody></table><p> </p>
<h3>Lab: Digital Signal processing Lab</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="72">
<p>Sl.No</p>
</td>
<td width="276">
<p>Name of the Equipment</p>
</td>
</tr><tr><td width="72">
<p>1</p>
</td>
<td width="276">
<p>DSP STARTER Kit TMS320C5402</p>
</td>
</tr><tr><td width="72">
<p>2</p>
</td>
<td width="276">
<p>DSP STARTER Kit TMS320C6713</p>
</td>
</tr><tr><td width="72">
<p>3</p>
</td>
<td width="276">
<p>TFT LCD Video Module</p>
</td>
</tr><tr><td width="72">
<p>4</p>
<p> </p>
<p> </p>
</td>
<td width="276">
<p>Digital storage oscilloscope 60MHz 20 channel color LCD display,</p>
<p>Make Gwinstek GDS 2062</p>
</td>
</tr><tr><td width="72">
<p>5</p>
</td>
<td width="276">
<p>Dell Desktop Computers</p>
</td>
</tr><tr><td width="72">
<p>6</p>
</td>
<td width="276">
<p>Dell Workstation</p>
</td>
</tr><tr><td width="72">
<p>7</p>
</td>
<td width="276">
<p>Dell Desktop Computers</p>
</td>
</tr><tr><td width="72">
<p>8</p>
</td>
<td width="276">
<p>Dell Server Power edge</p>
</td>
</tr></tbody></table><p> </p>
<h3>Lab: Process Control Lab</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="90">
<p>Sl.No</p>
</td>
<td width="258">
<p>Name of the Equipment</p>
</td>
</tr><tr><td width="90">
<p>1</p>
</td>
<td width="258">
<p>Temperature Controller</p>
</td>
</tr><tr><td width="90">
<p>2</p>
</td>
<td width="258">
<p>Flow Controller</p>
</td>
</tr><tr><td width="90">
<p>3</p>
</td>
<td width="258">
<p>Level Controller</p>
</td>
</tr><tr><td width="90">
<p>4</p>
</td>
<td width="258">
<p>Control Valve Characteristics</p>
</td>
</tr><tr><td width="90">
<p>5</p>
</td>
<td width="258">
<p>myDAQ by LabVIEW</p>
</td>
</tr><tr><td width="90">
<p>6</p>
</td>
<td width="258">
<p>Dell Desktop Computers</p>
</td>
</tr></tbody></table>