<h3>Achievement</h3>
<h4>
Rank Holders List under Visvesvaraya Technological University
</h4>
<table class="table table-bordered table-sm">
<thead>
<tr>
<td width="54">
<p>
<strong>Sl. No.</strong>
</p>
</td>
<td width="107">
<p>
<strong>USN</strong>
</p>
</td>
<td width="216">
<p>
<strong>Rank Holder Name</strong>
</p>
</td>
<td width="109">
<p>
<strong>Year of Pass</strong>
</p>
</td>
<td width="108" colspan="3">
<p>
<strong>Rank</strong>
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
1
</p>
</td>
<td width="107">
<p>
1BI14EI024
</p>
</td>
<td width="216">
<p>
Payal Shah
</p>
</td>
<td width="109" rowspan="2">
<p>
2018
</p>
</td>
<td width="108" colspan="3">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
2
</p>
</td>
<td width="107">
<p>
1BI14EI038
</p>
</td>
<td width="216">
<p>
Shipra Shandilya
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
</thead>
<tbody>

<tr>
<td width="54">
<p>
3
</p>
</td>
<td width="107">
<p>
1BI15LSP04
</p>
</td>
<td width="216">
<p>
Gulnaz S
</p>
</td>
<td width="109" rowspan="3">
<p>
2017
</p>
<p>
(MTech)
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
4
</p>
</td>
<td width="107">
<p>
1BI15LSP16<strong></strong>
</p>
</td>
<td width="216">
<p>
Rayeesa Shariff K<strong></strong>
</p>
</td>
<td width="108" colspan="3">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
5
</p>
</td>
<td width="107">
<p>
1BI15LSP17<strong></strong>
</p>
</td>
<td width="216">
<p>
Sushmitha M C<strong></strong>
</p>
</td>
<td width="108" colspan="3">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
6
</p>
</td>
<td width="107">
<p>
1BI13IT044
</p>
</td>
<td width="216">
<p>
Vani V Bhat
</p>
</td>
<td width="109" rowspan="3">
<p>
2017
</p>
</td>
<td width="108" colspan="3">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
7
</p>
</td>
<td width="107">
<p>
1BI13IT001
</p>
</td>
<td width="216">
<p>
Aniditha Chakrabothy
</p>
</td>
<td width="108" colspan="3">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
8
</p>
</td>
<td width="107">
<p>
1BI13IT017
</p>
</td>
<td width="216">
<p>
Mohammed Yaseen K
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
9


</p>
</td>
<td width="107">
<p>
1BI12IT039
</p>
</td>
<td width="216">
<p>
Renuka N (4 Gold Medals)
</p>
</td>
<td width="109" rowspan="3">
<p>
2016
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
10
</p>
</td>
<td width="107">
<p>
1BI12IT017
</p>
</td>
<td width="216">
<p>
K Varadaraj Shenoy
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
11
</p>
</td>
<td width="107">
<p>
1BI12IT013
</p>
</td>
<td width="216">
<p>
Gagana K S
</p>
</td>
<td width="108" colspan="3">
<p>
7
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
12
</p>
</td>
<td width="107">
<p>
1BI11IT042
</p>
</td>
<td width="216">
<p>
Priya. K.R
</p>
</td>
<td width="109" rowspan="3">
<p>
2015
</p>
</td>
<td width="108" colspan="3">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
13
</p>
</td>
<td width="107">
<p>
1BI11IT008
</p>
</td>
<td width="216">
<p>
Arpitha Rani. R
</p>
</td>
<td width="108" colspan="3">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
14
</p>
</td>
<td width="107">
<p>
1BI11IT043
</p>
</td>
<td width="216">
<p>
Priyanka.B.C
</p>
</td>
<td width="108" colspan="3">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
15
</p>
</td>
<td width="107">
<p>
1BI10IT030
</p>
</td>
<td width="216">
<p>
Prathima T J (4 Gold Medals)
</p>
</td>
<td width="109" rowspan="5">
<p>
2014
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
16
</p>
</td>
<td width="107">
<p>
1BI10IT051
</p>
</td>
<td width="216">
<p>
Sheryas R
</p>
</td>
<td width="108" colspan="3">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
17
</p>
</td>
<td width="107">
<p>
1BI10IT014
</p>
</td>
<td width="216">
<p>
Gnaneshwari Ellabathina
</p>
</td>
<td width="108" colspan="3">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
18
</p>
</td>
<td width="107">
<p>
1BI10IT015
</p>
</td>
<td width="216">
<p>
Indresh G
</p>
</td>
<td width="108" colspan="3">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
19
</p>
</td>
<td width="107">
<p>
1BI10IT016
</p>
</td>
<td width="216">
<p>
Kanupriya Mishra
</p>
</td>
<td width="108" colspan="3">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
20
</p>
</td>
<td width="107">
<p>
1BI09IT041
</p>
</td>
<td width="216">
<p>
Sara Tajammul (4 Gold Medals)
</p>
</td>
<td width="109" rowspan="3">
<p>
2013
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
21
</p>
</td>
<td width="107">
<p>
1BI09IT035
</p>
</td>
<td width="216">
<p>
Priyanka Lohia
</p>
</td>
<td width="108" colspan="3">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
22
</p>
</td>
<td width="107">
<p>
1BI09IT012
</p>
</td>
<td width="216">
<p>
Prachi Bhatia Rajesh
</p>
</td>
<td width="108" colspan="3">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
23
</p>
</td>
<td width="107">
<p>
1BI08IT014
</p>
</td>
<td width="216">
<p>
Gaurav Singh
</p>
</td>
<td width="109" rowspan="4">
<p>
2012
</p>
</td>
<td width="108" colspan="3">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
24
</p>
</td>
<td width="107">
<p>
1BI08IT019
</p>
</td>
<td width="216">
<p>
Jhenkar M D
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
25
</p>
</td>
<td width="107">
<p>
1BI08IT025
</p>
</td>
<td width="216">
<p>
Manish Kumar
</p>
</td>
<td width="108" colspan="3">
<p>
7
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
26
</p>
</td>
<td width="107">
<p>
1BI08IT047
</p>
</td>
<td width="216">
<p>
Sukriti Gupta
</p>
</td>
<td width="108" colspan="3">
<p>
7
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
27
</p>
</td>
<td width="107">
<p>
1BI06IT001
</p>
</td>
<td width="216">
<p>
Akhila M Avadhani
</p>
</td>
<td width="109" rowspan="3">
<p>
2010
</p>
</td>
<td width="108" colspan="3">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
28
</p>
</td>
<td width="107">
<p>
1BI06IT002
</p>
</td>
<td width="216">
<p>
Anjan S
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
29
</p>
</td>
<td width="107">
<p>
1BI06IT020
</p>
</td>
<td width="216">
<p>
Nanditha Kamat K
</p>
</td>
<td width="108" colspan="3">
<p>
7
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
30
</p>
</td>
<td width="107">
<p>
1BI05IT021
</p>
</td>
<td width="216">
<p>
Manasi M R (4 Gold Medals)
</p>
</td>
<td width="109" rowspan="5">
<p>
2009
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
31
</p>
</td>
<td width="107">
<p>
1BI05IT037
</p>
</td>
<td width="216">
<p>
Vandita M R
</p>
</td>
<td width="108" colspan="3">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
32
</p>
</td>
<td width="107">
<p>
1BI05IT012
</p>
</td>
<td width="216">
<p>
Gowthami M S
</p>
</td>
<td width="108" colspan="3">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
33
</p>
</td>
<td width="107">
<p>
1BI05IT034
</p>
</td>
<td width="216">
<p>
SriRanjani R
</p>
</td>
<td width="108" colspan="3">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
34
</p>
</td>
<td width="107">
<p>
1BI05IT016
</p>
</td>
<td width="216">
<p>
Lakshmi Baliga
</p>
</td>
<td width="108" colspan="3">
<p>
10
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
35
</p>
</td>
<td width="107">
<p>
1BI04IT014
</p>
</td>
<td width="216">
<p>
Glory S (4 Gold Medals)
</p>
</td>
<td width="109" rowspan="2">
<p>
2008
</p>
</td>
<td width="65" colspan="2">
<p>
1
</p>
</td>
<td width="45">
<p>
<img width="21" height="25" src="/eim_photos/image003-1.jpg">
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
36
</p>
</td>
<td width="107">
<p>
1BI04IT003
</p>
</td>
<td width="216">
<p>
Akhila M
</p>
</td>
<td width="108" colspan="3">
<p>
7
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
37
</p>
</td>
<td width="107">
<p>
1BI03IT013
</p>
</td>
<td width="216">
<p>
Indraneel MukherjEE
</p>
</td>
<td width="109" rowspan="3">
<p>
2007
</p>
</td>
<td width="108" colspan="3">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
38
</p>
</td>
<td width="107">
<p>
1BI03IT008
</p>
</td>
<td width="216">
<p>
Bhavya K
</p>
</td>
<td width="108" colspan="3">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
39
</p>
</td>
<td width="107">
<p>
1BI03IT016
</p>
</td>
<td width="216">
<p>
Kishan Heda
</p>
</td>
<td width="108" colspan="3">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
40
</p>
</td>
<td width="107">
<p>
1BI02IT021
</p>
</td>
<td width="216">
<p>
Mustafa Akberi
</p>
</td>
<td width="109" rowspan="2">
<p>
2006
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
41
</p>
</td>
<td width="107">
<p>
1BI02IT019
</p>
</td>
<td width="216">
<p>
Krishna Rao Vijayanagar
</p>
</td>
<td width="108" colspan="3">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
42
</p>
</td>
<td width="107">
<p>
1BI01IT022
</p>
</td>
<td width="216">
<p>
Manoj Mohanty
</p>
</td>
<td width="109">
<p>
2005
</p>
</td>
<td width="108" colspan="3">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
43
</p>
</td>
<td width="107">
<p>
1BI00IT004
</p>
</td>
<td width="216">
<p>
Anuradha
</p>
</td>
<td width="109">
<p>
2004
</p>
</td>
<td width="108" colspan="3">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
44
</p>
</td>
<td width="107">
<p>
1BI99IT022
</p>
</td>
<td width="216">
<p>
Nidhi Garg
</p>
</td>
<td width="109">
<p>
2003
</p>
</td>
<td width="108" colspan="3">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="54">
<p>
45
</p>
</td>
<td width="107">
<p>
1BI98IT023
</p>
</td>
<td width="216">
<p>
Ranjini S
</p>
</td>
<td width="109">
<p>
2002
</p>
</td>
<td width="108" colspan="3">
<p>
6
</p>
</td>
</tr>
</tbody>
</table>

<img src="/eim_photos/RANK-HOLDERS-2002_2018.jpg" height="300px">

<h4>
Rank Holders List under Bangalore University
</h4>
<table class="table table-bordered table-sm">
<thead>
<tr>
<td width="55">
<p>
<strong>Sl. No.</strong>
</p>
</td>
<td width="114">
<p>
<strong>USN</strong>
</p>
</td>
<td width="216">
<p>
<strong>Rank Holder Name</strong>
</p>
</td>
<td width="109">
<p>
<strong>Year of Pass</strong>
</p>
</td>
<td width="105">
<p>
<strong>Rank</strong>
</p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td width="55">
<p>
1
</p>
</td>
<td width="114">
<p>
97GGEI2016
</p>
</td>
<td width="216">
<p>
Manjula R
</p>
</td>
<td width="109">
<p>
2001
</p>
</td>
<td width="105">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
2
</p>
</td>
<td width="114">
<p>
96GGEI2026
</p>
</td>
<td width="216">
<p>
Ravishankar Srivatsa
</p>
</td>
<td width="109">
<p>
2000
</p>
</td>
<td width="105">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
3
</p>
</td>
<td width="114">
<p>
93GF012
</p>
</td>
<td width="216">
<p>
Giribalan G
</p>
</td>
<td width="109" rowspan="3">
<p>
1997
</p>
</td>
<td width="105">
<p>
1
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
4
</p>
</td>
<td width="114">
<p>
93GF014
</p>
</td>
<td width="216">
<p>
Jayagowri
</p>
</td>
<td width="105">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
5
</p>
</td>
<td width="114">
<p>
93GF002
</p>
</td>
<td width="216">
<p>
Ashok Ruman Chariya
</p>
</td>
<td width="105">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
6
</p>
</td>
<td width="114">
<p>
92GF032
</p>
</td>
<td width="216">
<p>
Pranjal M J
</p>
</td>
<td width="109">
<p>
1996
</p>
</td>
<td width="105">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
7
</p>
</td>
<td width="114">
<p>
91GF025
</p>
</td>
<td width="216">
<p>
Poornima VIshwanath
</p>
</td>
<td width="109">
<p>
1995
</p>
</td>
<td width="105">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
8
</p>
</td>
<td width="114">
<p>
90GF050
</p>
</td>
<td width="216">
<p>
Vishalakshi C V
</p>
</td>
<td width="109" rowspan="3">
<p>
1994
</p>
</td>
<td width="105">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
9
</p>
</td>
<td width="114">
<p>
90GF018
</p>
</td>
<td width="216">
<p>
Jagadish S N
</p>
</td>
<td width="105">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
10
</p>
</td>
<td width="114">
<p>
90GF041
</p>
</td>
<td width="216">
<p>
Sridhar R
</p>
</td>
<td width="105">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
11
</p>
</td>
<td width="114">
<p>
89GF010
</p>
</td>
<td width="216">
<p>
Girish V
</p>
</td>
<td width="109" rowspan="2">
<p>
1993
</p>
</td>
<td width="105">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
12
</p>
</td>
<td width="114">
<p>
89GF004
</p>
</td>
<td width="216">
<p>
Arvind Manjunath Bhat
</p>
</td>
<td width="105">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
13
</p>
</td>
<td width="114">
<p>
88GF031
</p>
</td>
<td width="216">
<p>
Shubha G
</p>
</td>
<td width="109" rowspan="5">
<p>
1992
</p>
</td>
<td width="105">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
14
</p>
</td>
<td width="114">
<p>
88GF008
</p>
</td>
<td width="216">
<p>
Girisha V K
</p>
</td>
<td width="105">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
15
</p>
</td>
<td width="114">
<p>
88GF025
</p>
</td>
<td width="216">
<p>
Roopa K
</p>
</td>
<td width="105">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
16
</p>
</td>
<td width="114">
<p>
88GF004
</p>
</td>
<td width="216">
<p>
Bharathi M
</p>
</td>
<td width="105">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
17
</p>
</td>
<td width="114">
<p>
88GF022
</p>
</td>
<td width="216">
<p>
Pujar Varij Madhukar
</p>
</td>
<td width="105">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
18
</p>
</td>
<td width="114">
<p>
088406019
</p>
</td>
<td width="216">
<p>
Raksha G
</p>
</td>
<td width="109" rowspan="7">
<p>
1989
</p>
</td>
<td width="105">
<p>
1
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
19
</p>
</td>
<td width="114">
<p>
088406028
</p>
</td>
<td width="216">
<p>
Sudhir V Pai
</p>
</td>
<td width="105">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
20
</p>
</td>
<td width="114">
<p>
088406001
</p>
</td>
<td width="216">
<p>
Bhavani H N
</p>
</td>
<td width="105">
<p>
4
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
21
</p>
</td>
<td width="114">
<p>
088406038
</p>
</td>
<td width="216">
<p>
Narendra N
</p>
</td>
<td width="105">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
22
</p>
</td>
<td width="114">
<p>
088406008
</p>
</td>
<td width="216">
<p>
Krishna Kumar S N
</p>
</td>
<td width="105">
<p>
8
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
23
</p>
</td>
<td width="114">
<p>
088406029
</p>
</td>
<td width="216">
<p>
Suresh S
</p>
</td>
<td width="105">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
24
</p>
</td>
<td width="114">
<p>
088406026
</p>
</td>
<td width="216">
<p>
Shylaja V
</p>
</td>
<td width="105">
<p>
10
</p>
</td>
</tr>
<tr>
<td width="55">
<p>
25
</p>
</td>
<td width="114">
<p>
E82GF020
</p>
</td>
<td width="216">
<p>
Raj Kumar M
</p>
</td>
<td width="109">
<p>
1987
</p>
</td>
<td width="105">
<p>
2
</p>
</td>
</tr>
</tbody>
</table>
<h4>
<strong>Other Achievements by Students </strong>
</h4>
<ul>
<li>
Two of our Alumni topped in UPSE-2015 examination.
</li>
<li>
Vishwas Navada B (1BI13IT048) of 2013 Batch has secured First place in “Remote Control Car Racing” in Pravega – 2016 hosted at IISc, Bengaluru.
</li>
<li>
Vishwas Navada B (1BI13IT048) of 2013 Batch has secured First place in “Treasure Hunt” Pravega – 2015 hosted at IISc, Bengaluru.
</li>
</ul>
<br>
<h4><a href="/eim_photos/Placement-details-13-09-19.pdf" target="blank" rel="noopener noreferrer">1.Placement details</a></h4>