{% extends "layout.html" %}
{% block title %}DEPARTMENT OF INDUSTRIAL ENGINEERING & MANAGEMENT{% endblock %}
{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF INDUSTRIAL ENGINEERING & MANAGEMENT</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p >The department was started in B.I.T. in 1986. Since then it has been catering to the needs of excellent managers in the production industry. The department has Dr. M.C. Jagath as Prof. & H.O.D. The teaching staff is well experienced in teaching and research, exposing the students to industrial environment, production and management.<br>

                      Industrial Engineering is concerned with the design, improvement and installation of integrated system of men, material and equipment. It refers to that multi-disciplinary function which encompasses various areas of Science, technology, economics, engineering and operations management that is used for achieving higher overall productivity and profitability leading to an economic uplift of society as a whole and the industry, business or services in particular. Keeping this broad perspective in mind, the highly expert faculty has ensured that the students churned out from this department are of the highest caliber. Thus, we at the industrial engineering & management department have resolved to keep our commitment to the present day management of technical industries.<br>
                      
                      The department of Industrial Engineering and Management of B.I.T. has a well-equipped virtual NC lab, industrial engineering lab, production technology lab, measurement lab and gauging lab. A state of art computer labs with software like ERP, IGRIP and QUEST. This ensures that the students of the department get enough practical experience besides the theoretical concepts.<br>
                      
                      The Department is currently headed by Dr. M. C. Jagath, Ph.D</p><br><br>
                        
                                <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
                                    <img src="/faculty/IEM01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. M. C. Jagath</h5>
                                        <p class="card-text">Prof. & Head of the Dept
                                            </p>
                                        </div>
                                    </div></div>
                               
                            
                            <!-- Team Member Area -->
                            <div class="section-heading mt-30">
                               <h5> Vision and Mission </h5>
                            </div>
                            
              <h3>VISION</h3>
              <p >To be a quality industrial engineering education center with emphasis on employability, infusing confidence to attain higher learning and to be a successful entrepreneur.</p>
              <h3>MISSION</h3>
              <p >•	To provide quality education in Industrial Engineering and Management<br>
              •	Encourage students to pursue higher education<br>
              •	Create employable graduates in Industrial Engineering and Management to cater for diverse industries.<br>
              •	To encourage the graduates to become entrepreneurs.</p>
              <h3>PROGRAM EDUCATIONAL OBJECTIVES</h3>
              <p>Within a few years of graduation, our students</p>
              <p >1.	Will have a successful career in engineering and management in manufacturing or service sector.<br>
              2.	Will have assumed leadership roles in organization.<br>
              3.	Will have acquired new knowledge and expertise in engineering, management or related fields through higher education.<br>
              4.	Will have the required knowledge and skill to be an entrepreneur.</p>
              <h3>PROGRAM SPECIFIC OUTCOMES</h3>
              <p >1 Design, Develop, implement and improve integrated systems which include man, machine, materials and information.<br>
              2 Plan and start an enterprise and become a successful entrepreneur. </p>
              <h3>PROGRAM OUTCOMES</h3>
              <table class="table table-bordered table-sm"><tbody><tr><td width="43">
              <p><strong>SL</strong></p>
              <p><strong>NO.</strong></p>
              </td>
              <td width="204">
              <p><strong>GRADUATE</strong></p>
              <p><strong>ATTRIBUTE</strong></p>
              </td>
              <td width="343">
              <p><strong>PROGRAM OUTCOME</strong></p>
              </td>
              </tr><tr><td width="43">
              <p>1.</p>
              </td>
              <td width="204">
              <p>Engineering Knowledge</p>
              </td>
              <td width="343">
              <p >Apply knowledge of differential equations, vector calculus, complex variables, matrix theory, probability theory, physics and chemistry, Industrial engineering and management fundamentals.</p>
              </td>
              </tr><tr><td width="43">
              <p>2.</p>
              </td>
              <td width="204">
              <p>Problem Analysis</p>
              </td>
              <td width="343">
              <p >Able to identify, formulate and solve complex industrial engineering problems using the first principles of mathematics natural sciences and engineering science.</p>
              </td>
              </tr><tr><td width="43">
              <p>3.</p>
              </td>
              <td width="204">
              <p>Design / development of solutions</p>
              </td>
              <td width="343">
              <p >Represent, analyze, design and experiment on production &nbsp;system and interpret and assess the data.</p>
              </td>
              </tr><tr><td width="43">
              <p>4.</p>
              </td>
              <td width="204">
              <p >Conduct investigation of complex problems</p>
              </td>
              <td width="343">
              <p >Conduct investigations of complex problems including design of experiments, analysis and interpretation of data, and synthesis of information to provide valid conclusions.</p>
              </td>
              </tr><tr><td width="43">
              <p>5.</p>
              </td>
              <td width="204">
              <p>Modern Tool Usage</p>
              </td>
              <td width="343">
              <p >Demonstrate skills to use modern engineering tools, software, and equipment to analyze problems.</p>
              </td>
              </tr><tr><td width="43">
              <p>6.</p>
              </td>
              <td width="204">
              <p>Engineers and society</p>
              </td>
              <td width="343">
              <p >Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</p>
              </td>
              </tr><tr><td width="43">
              <p>7.</p>
              </td>
              <td width="204">
              <p>Environment and sustainability</p>
              </td>
              <td width="343">
              <p >Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</p>
              </td>
              </tr><tr><td width="43">
              <p>8.</p>
              </td>
              <td width="204">
              <p>Ethics</p>
              </td>
              <td width="343">
              <p >Graduates will demonstrate knowledge of professional and ethical responsibilities.</p>
              </td>
              </tr><tr><td width="43">
              <p>9.</p>
              </td>
              <td width="204">
              <p>Individual and Team work</p>
              </td>
              <td width="343">
              <p >Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</p>
              </td>
              </tr><tr><td width="43">
              <p>10.</p>
              </td>
              <td width="204">
              <p>Communication</p>
              </td>
              <td width="343">
              <p >Able to communicate effectively in both verbal and written form.</p>
              </td>
              </tr><tr><td width="43">
              <p>11.</p>
              </td>
              <td width="204">
              <p>Project Management and Finance</p>
              </td>
              <td width="343">
              <p >Familiar with project management problems and basic financial principles for a multi-disciplinary work.</p>
              </td>
              </tr><tr><td width="43">
              <p>12.</p>
              </td>
              <td width="204">
              <p>Lifelong Learning</p>
              </td>
              <td width="343">
              <p >Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</p>
              </td>
              </tr></tbody></table>
     
                                    <!-- Faculty-->   
                                  <div class="section-heading mt-30">
                                    <h5>Faculty</h5>
                                </div>
                                {% for fac in facs %}
                                <!-- Single Team Member -->
                                <a href="#" >
                                <div class="single-team-member d-flex align-items-center">
                                    <div class="team-member-thumbnail">
                                        <img src="/faculty/{{fac[0]}}.jpg" alt="">
                                        
                                    </div>
                                    <div class="team-member-content">
                                        <h6>{{fac[1]}}</h6>
                                        <span>{{fac[2]}}</span>
                                        Qualification:-{{fac[3]}}<br>
                                           Email:- <a href="mailto:{{fac[4]}}" style="color: blue;">{{fac[4]}}</a>
                                        
                                    </div>
                                </div>
                                </a>
                                {% endfor %}
                            </div>
                           
                    
                            
                        </div>
                        
                        
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 box-shadow">
                                
                                <div class="section-heading">
                                    <h5>Other Links</h5>
                                </div>
                                <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">
                                
                                <div class="social-followers-info">
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('IEM','ach')"><span>Achievements </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('IEM','infra')"><span>Infrastructure </span></button>
                                    <br>
                                </div>
                                <div class="single-sidebar-widget p-30">
                                    <!-- Section Title -->
                                    <div class="section-heading">
                                        <h5>Announcements</h5>
                                    </div>
                                    {% if annons|length==0 %}
                                    <div> No Announcements</div>
                                    <hr> {% else %} {% for annon in annons %}
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex">
                                        <div class="post-thumbnail">
                                            <span
                                                style="font-size: xx-large;">{{annon[2].day}}</span><span>{{getDate(annon[2].day)}}</span><br>{{annon[2].strftime("%b")}}
                                            {{annon[2].year}}
                                        </div>
                                        <div class="post-content">
                                            <a href="/announcement/{{annon[0]}}" class="post-title">{{annon[1]}}</a>
                                        </div>
                                    </div>
                        
                                    {% endfor %}
                                    <div><a href="/archive/IEM/1" style="color: inherit;"><button class="btn"><span>View all</span></button> </a>
                                    </div>
                                    {% endif %}
                                </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### About Us Area End ##### -->
            
           
            {% endblock %}