    <h3>ACHIVEMENTS:</h3>
<p>Besides the above, engineers are necessarily exposed to the industrial environment during the 8th semester, for duration of 8 to 10 weeks. During this period they are made to undertake and enter into practical arenas of day to day industrial problems. Projects done by IEM students are:-</p>
<p>1. Human resource management in ITI<br>
2. Work place design<br>
3. Review of MIS in BEML<br>
4. Production scheduling in engineering industry - a case study<br>
5. Simulation of plant layout using QUEST<br>
6. Formation of cells in plunger area of MICO plant</p>
<h3>Awards for Papers presented :  </h3>
<p>1.	Got The IVEAS Excellent paper award for the paper entitled “ Application of Value Engineering for cost reduction on a Waist Belt “ presented at International value Engineering summit held at Bangalore on 3rd -5th March 2017<br>
2.	Got The second best paper award for the paper entitled “ Value analysis techniques and design modification and product alternatives for a divan bed with case study “ presented at the 34th INVEST International conference held at Mumbai on 7th-8th December 2018</p>

<h3>RANK LIST - VTU</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="45" valign="top">
<p>
Sl. No.
</p>
</td>
<td width="262" valign="top">
<p>
Name
</p>
</td>
<td width="72" valign="top">
<p>
Rank
</p>
</td>
<td width="78" valign="top">
<p>
Year
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
1
</p>
</td>
<td width="262" valign="top">
<p>
HEMA M
</p>
</td>
<td width="72" valign="top">
<p>
II
</p>
</td>
<td width="78" valign="top">
<p>
2002
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
2
</p>
</td>
<td width="262" valign="top">
<p>
POOJA KUMAR
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2002
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
3
</p>
</td>
<td width="262" valign="top">
<p>
PAVANA J
</p>
</td>
<td width="72" valign="top">
<p>
IX
</p>
</td>
<td width="78" valign="top">
<p>
2002
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
4
</p>
</td>
<td width="262" valign="top">
<p>
ANAND SEN
</p>
</td>
<td width="72" valign="top">
<p>
III
</p>
</td>
<td width="78" valign="top">
<p>
2003
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
5
</p>
</td>
<td width="262" valign="top">
<p>
TANMAY BANDHU RAY
</p>
</td>
<td width="72" valign="top">
<p>
IV
</p>
</td>
<td width="78" valign="top">
<p>
2003
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
6
</p>
</td>
<td width="262" valign="top">
<p>
AKSHATHA PANDITH
</p>
</td>
<td width="72" valign="top">
<p>
IX
</p>
</td>
<td width="78" valign="top">
<p>
2003
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
7
</p>
</td>
<td width="262" valign="top">
<p>
AMY ANNA GEORGE
</p>
</td>
<td width="72" valign="top">
<p>
III
</p>
</td>
<td width="78" valign="top">
<p>
2004
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
8
</p>
</td>
<td width="262" valign="top">
<p>
AMARESH M
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2004
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
9
</p>
</td>
<td width="262" valign="top">
<p>
RAMYA S
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2005
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
10
</p>
</td>
<td width="262" valign="top">
<p>
SYEDA IKRAM IRFAN SHAH
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2006
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
11
</p>
</td>
<td width="262" valign="top">
<p>
MANOJ HUKUMCHAND BAGADE
</p>
</td>
<td width="72" valign="top">
<p>
IV
</p>
</td>
<td width="78" valign="top">
<p>
2007
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
12
</p>
</td>
<td width="262" valign="top">
<p>
SMRITHI MENON
</p>
</td>
<td width="72" valign="top">
<p>
VI
</p>
</td>
<td width="78" valign="top">
<p>
2007
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
13
</p>
</td>
<td width="262" valign="top">
<p>
MEERA N
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2009
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
14
</p>
</td>
<td width="262" valign="top">
<p>
SHILPA PAWAR M
</p>
</td>
<td width="72" valign="top">
<p>
II
</p>
</td>
<td width="78" valign="top">
<p>
2009
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
15
</p>
</td>
<td width="262" valign="top">
<p>
BASANTHI D
</p>
</td>
<td width="72" valign="top">
<p>
VIII
</p>
</td>
<td width="78" valign="top">
<p>
2009
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
16
</p>
</td>
<td width="262" valign="top">
<p>
CHAITHARA K N
</p>
</td>
<td width="72" valign="top">
<p>
IX
</p>
</td>
<td width="78" valign="top">
<p>
2009
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
17
</p>
</td>
<td width="262" valign="top">
<p>
DEEPIKA K C
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2011
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
18
</p>
</td>
<td width="262" valign="top">
<p>
NAGARJUN B
</p>
</td>
<td width="72" valign="top">
<p>
II
</p>
</td>
<td width="78" valign="top">
<p>
2012
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
19
</p>
</td>
<td width="262" valign="top">
<p>
ARATHI L
</p>
</td>
<td width="72" valign="top">
<p>
III
</p>
</td>
<td width="78" valign="top">
<p>
2012
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
20
</p>
</td>
<td width="262" valign="top">
<p>
SNIGDHA KUNDU
</p>
</td>
<td width="72" valign="top">
<p>
V
</p>
</td>
<td width="78" valign="top">
<p>
2012
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
21
</p>
</td>
<td width="262" valign="top">
<p>
MANASA S
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2012
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
22
</p>
</td>
<td width="262" valign="top">
<p>
ASHWINI S NAIK
</p>
</td>
<td width="72" valign="top">
<p>
VIII
</p>
</td>
<td width="78" valign="top">
<p>
2012
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
23
</p>
</td>
<td width="262" valign="top">
<p>
SHILPA S
</p>
</td>
<td width="72" valign="top">
<p>
II
</p>
</td>
<td width="78" valign="top">
<p>
2013
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
24
</p>
</td>
<td width="262" valign="top">
<p>
ARYA ROY
</p>
</td>
<td width="72" valign="top">
<p>
III
</p>
</td>
<td width="78" valign="top">
<p>
2013
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
25
</p>
</td>
<td width="262" valign="top">
<p>
THARA NAYAK
</p>
</td>
<td width="72" valign="top">
<p>
IV
</p>
</td>
<td width="78" valign="top">
<p>
2013
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
26
</p>
</td>
<td width="262" valign="top">
<p>
AVISHEK AGARWAL
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2013
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
27
</p>
</td>
<td width="262" valign="top">
<p>
GAYATHRI ANNAPOORNI
</p>
</td>
<td width="72" valign="top">
<p>
IV
</p>
</td>
<td width="78" valign="top">
<p>
2014
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
28
</p>
</td>
<td width="262" valign="top">
<p>
AMITA L.M.
</p>
</td>
<td width="72" valign="top">
<p>
V
</p>
</td>
<td width="78" valign="top">
<p>
2014
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
29
</p>
</td>
<td width="262" valign="top">
<p>
BABBLI J. SHETTY
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2014
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
30
</p>
</td>
<td width="262" valign="top">
<p>
BHARAT V.
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2015
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
31
</p>
</td>
<td width="262" valign="top">
<p>
CHETHANA KUMARI
</p>
</td>
<td width="72" valign="top">
<p>
III
</p>
</td>
<td width="78" valign="top">
<p>
2015
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
32
</p>
</td>
<td width="262" valign="top">
<p>
NISCHITHA M. GOWDA
</p>
</td>
<td width="72" valign="top">
<p>
V
</p>
</td>
<td width="78" valign="top">
<p>
2015
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
33
</p>
</td>
<td width="262" valign="top">
<p>
VINAY S. NAYAK
</p>
</td>
<td width="72" valign="top">
<p>
IX
</p>
</td>
<td width="78" valign="top">
<p>
2015
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
34
</p>
</td>
<td width="262" valign="top">
<p>
DEEPTHI M. GEORGE
</p>
</td>
<td width="72" valign="top">
<p>
X
</p>
</td>
<td width="78" valign="top">
<p>
2015
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
35
</p>
</td>
<td width="262" valign="top">
<p>
CHAITRA V. KADAM
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2016
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
36
</p>
</td>
<td width="262" valign="top">
<p>
NAVEE GUPTA
</p>
</td>
<td width="72" valign="top">
<p>
X
</p>
</td>
<td width="78" valign="top">
<p>
2016
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
37
</p>
</td>
<td width="262" valign="top">
<p>
KAVYASHREE S.
</p>
</td>
<td width="72" valign="top">
<p>
V
</p>
</td>
<td width="78" valign="top">
<p>
2017
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
38
</p>
</td>
<td width="262" valign="top">
<p>
B. MALLISHREE
</p>
</td>
<td width="72" valign="top">
<p>
VII
</p>
</td>
<td width="78" valign="top">
<p>
2017
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
39
</p>
</td>
<td width="262" valign="top">
<p>
SREENIVASA S.
</p>
</td>
<td width="72" valign="top">
<p>
X
</p>
</td>
<td width="78" valign="top">
<p>
2017
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
40
</p>
</td>
<td width="262" valign="top">
<p>
SWATI
</p>
</td>
<td width="72" valign="top">
<p>
I
</p>
</td>
<td width="78" valign="top">
<p>
2018
</p>
</td>
</tr>
<tr>
<td width="45" valign="top">
<p>
41
</p>
</td>
<td width="262" valign="top">
<p>
VISWAS G M
</p>
</td>
<td width="72" valign="top">
<p>
II
</p>
</td>
<td width="78" valign="top">
<p>
2018
</p>
</td>
</tr>
</tbody>
</table>

<br>
<h4><a href="/iem_photos/IEM-Placement-List.pdf">1.IEM Placement List</a></h4>