    <h3>INFRASTRUCTURE</h3>

<p><b>CAD:</b> The CAD laboratory is furnished with modern computers with software like C / C++, AUTOCAD etc.</p>
<p><b>CAM:</b> This is the hardware section equipped with CNC milling CNC drilling machines table top robot etc.</p>
<p><b>Metrology Laboratory:</b> With instruments like autocollimator, tool maker's microscope, UMM etc; the lab inculcates the measurement and calibration skills.</p>
<p><b>Machine Tools &amp; Metal Cutting Laboratory:</b> It has more than 20 lathes, shaping and planning, grinding machines and also HMT precision lathe and drilling machines for students to practice machining skills.</p>
<p><b>Manufacturing Laboratory:</b> This lab is having jig boring, draw bench &amp; HMT CNC machine to make students aware &amp; practice advanced manufacturing concepts.</p>
<p><b>Industrial engineering Laboratory:</b> It is equipped with projectors to view films on material handling recording techniques etc. The students put to use the rules of work study &amp; ergonomics for developing appropriate methods, layout &amp; designs.</p>
<p><b>Foundry &amp; Welding Shop:</b> It has equipment for melting, molding &amp; casting of metals. The welding shop besides having the conventional welding equipment is now equipped with modern welding facilities.</p>
<p><b>RDBMS &amp; SQL Laboratory:</b> This lab is equipped with software like ORACLE, MS Access.</p>
<p><b>Simulation laboratory:</b> This lab is furnished with latest software of ERP like IBCS, Makess, Promodel/Arena / Deneb Simulation packages etc.</p>