
								<h3>About Computer Network Engineering</h3>
<p>The PG program CNE, started in BIT in 2014 to educate, develop and produce professionals in the field of computer networks, who can provide solutions in telecommunication networks, cellular networks, multimedia networks, adhoc networks, , wireless networks, storage systems, Internet of Things, Big Data Analysis etc using Machine Learning, web mining and other techniques. Students are provided with infrastructure and faculty support to develop skills in wireless networks, telecommunication networks, multimedia networks, network security, multitier architecture programming, networks simulation, deep learning etc.</p>

<p>The PG program is headed by Dr R Nagaraja, who has 30 years of teaching experience and has guided several students in BE, MTech and PhD level in state of art technologies. His students are well placed in higher posts in reputed IT companies. </p>

<p>Department has well educated and highly experienced staff to train the PG students in all aspects of Network Engineering Domain. All 3rd semester PG students are doing internship in reputed IT companies like HP, HCL, Oracle, BSNL, Alcatel-Lucent Technologies, Nokia, NetApp, Mind Tree, Microchip Technologies, Robert Bosch and other reputed IT companies with stipend up to Rs 35,000/- per month.</p>

<p>The program has the credit of getting ranks every year and this year alone 3 ranks are secured and nearly 90% of PG students are employed. Students are taught how to use peer reviewed journal papers for presenting papers and doing innovative projects. All students do present papers in reputed peer reviewed journals as part of the academic requirements.</p>

<h3>Lab Facilities</h3>
<p>We have a network laboratory for the design and evaluation of computer network architectures. We also have a lab with 1GB network with high end systems for regular lab activities, like distributed computing, network security, IOT, network programming and other related fields. These facilities are for the exclusive use of students and staff, providing resources that are among the best in the country.</p>
<p>PG students will be able to use up-to-date learning resources including a well-stocked library with traditional and electronic media, general-purpose network computing facilities, and dedicated laboratories for activities ranging from program development to network configuration and communication system experimentation.</p>
<h3>Course Structure:</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="319">
<p><strong>I semester</strong></p>
</td>
<td width="319">
<p><strong>II semester</strong></p>
</td>
</tr><tr><td width="319">
<p>&nbsp;</p>
<p>Ø&nbsp; 	Mathematics</p>
<p>Ø&nbsp; Advances in Computer Networks</p>
<p>Ø&nbsp; Information and Network Security</p>
<p>Ø&nbsp; Internet of Things</p>
<p>Ø&nbsp; Professional Elective -1</p>
<p>Ø&nbsp; Computer Networks And Iot Laboratory</p>
<p>Ø&nbsp; Research Methodology and IPR</p>
</td>
<td width="319">
<p>&nbsp;</p>
<p>Ø&nbsp; Multimedia Communications</p>
<p>Ø&nbsp; Network Programming</p>
<p>Ø&nbsp; Wireless Adhoc Networks</p>
<p>Ø&nbsp; Professional elective 2</p>
<p>Ø&nbsp; Professional elective 3</p>
<p>Ø&nbsp; Mini Project</p>
<p>Ø&nbsp; Technical Seminar</p>
</td>
</tr><tr><td width="319">
<p><strong>I</strong><strong>II Semester</strong></p>
</td>
<td width="319">
<p><strong>IV Semester</strong></p>
</td>
</tr><tr><td width="319">
<p>&nbsp;</p>
<p>Ø&nbsp; Cloud Computing</p>
<p>Ø&nbsp; Professional elective4</p>
<p>Ø&nbsp; Professional elective 5</p>
<p>Ø&nbsp; Evaluation of Project phase -1</p>
<p>Ø&nbsp; Internship</p>
</td>
<td width="319">
<p>&nbsp;</p>
<p>Ø&nbsp; Project Phase 2</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<h3>Students can select from the following electives:</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
	<td width="319"><p><strong>Professional Elective - I</strong></p></td>
	<td width="319"><p><strong>Professional Elective - II</strong></p></td>
</tr>
<tr>
	<td width="319">
		<p>&nbsp;</p>
		<p>Ø&nbsp; Wireless Networks &amp; Mobile Computing</p>
		<p>Ø&nbsp; Multi Core Architecture and Programming</p>
		<p>Ø&nbsp; Social Network Analysis</p>
		<p>Ø&nbsp; Cloud Security</p>
	</td>
	<td width="319">
		<p>&nbsp;</p>
		<p>Ø&nbsp; Advances in Storage Area Network</p>
		<p>Ø&nbsp; Switching &amp; Statistical Multiplexing In Telecommunications</p>
		<p>Ø&nbsp; Ethernet Technology</p>
		<p>Ø&nbsp; Mobile Application Development</p>
	</td>
</tr>
<tr>
	<td width="319"><p><strong>Professional Elective - III</strong></p></td>
	<td width="319"><p><strong>Professional Elective - IV</strong></p></td>
</tr>
<tr>
	<td width="319">
		<p>Ø&nbsp; Wireless Sensor Networks</p>
		<p>Ø&nbsp; Managing Big Data</p>
		<p>Ø&nbsp; Network Management</p>
		<p>Ø&nbsp; Advances In Operating Systems</p>
	</td>
	<td width="319">
		<p>Ø&nbsp; Computer Systems Performance Analysis</p>
		<p>Ø&nbsp; Network Routing Algorithm</p>
		<p>Ø&nbsp; Information Security Policies in Industry</p>
		<p>Ø&nbsp; Machine Learning Techniques</p>
	</td>
</tr>
<tr>
	<td width="319"><p><strong>Professional Elective - V</strong></p></td>
</tr>
<tr>
	<td width="319">
		<p>Ø&nbsp; Analysis of Computer Networks</p>
		<p>Ø&nbsp; Protocol Engineering</p>
		<p>Ø&nbsp; Web Engineering</p>
		<p>Ø&nbsp; Web Mining</p>
	</td>
</tr>
</tbody></table>