<h3>Infrastructure and Facilities available:</h3>
<p>Department has enough class and tutorial rooms, there are 3 UG class rooms,2 PG class room with most of them equipped with projectors, one PG lab and research lab and there are five well equipped laboratories. The library is equipped with books, journals and student project reports, for quick reference for both students and staff. </p>
<p>The Departmental Laboratories - Algorithm &amp; Data Structures, Database &amp; Networking Labs, Web Technologies, system software &amp; operating system lab and the Microprocessor Lab are equipped with state of the art technologies. The systems work on a dual processor capable Intel-Xeon server, enabling students to access resources across the department.</p>
<p>The internet facility is provided by the Department with the speed of 10Mbps(1:1) leased line from Aircel for all systems available in the lab.</p><br>

<h3>Department Floor Space</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="115">
<p><strong>&nbsp;</strong></p>
<p><strong>Sl. No. </strong></p>
</td>
<td width="288">
<p><strong>Name of Space. </strong></p>
<p><strong>[ HOD Chamber/ Library/ Dept. Office/ </strong></p>
<p><strong>Laboratory/ Class Rooms/ Etc ] </strong></p>
</td>
<td width="120">
<p><strong>Length </strong></p>
<p><strong>in Mtrs </strong></p>
</td>
<td width="102">
<p><strong>Breadth </strong></p>
<p><strong>in Mtrs </strong></p>
</td>
<td width="102">
<p><strong>Area in Square Mtrs </strong></p>
</td>
</tr><tr><td width="115">
<p>1</p>
</td>
<td width="288">
<p>HOD Room - R.No.601</p>
</td>
<td width="120">
<p>10.058</p>
</td>
<td width="102">
<p>3.657</p>
</td>
<td width="102">
<p>44</p>
</td>
</tr><tr><td width="115">
<p>2</p>
</td>
<td width="288">
<p>Research Centre &amp; library - R.No.602A</p>
</td>
<td width="120">
<p>5.519</p>
</td>
<td width="102">
<p>7.375</p>
</td>
<td width="102">
<p>44</p>
</td>
</tr><tr><td width="115">
<p>3</p>
</td>
<td width="288">
<p>PG Coordinatior Room - R.No.602B</p>
</td>
<td width="120">
<p>4.267</p>
</td>
<td width="102">
<p>3.749</p>
</td>
<td width="102">
<p>15</p>
</td>
</tr><tr><td width="115">
<p>4</p>
</td>
<td width="288">
<p>UG Class Room(Room No-603)</p>
</td>
<td width="120">
<p>11.58</p>
</td>
<td width="102">
<p>7.589</p>
</td>
<td width="102">
<p>88</p>
</td>
</tr><tr><td width="115">
<p>5</p>
</td>
<td width="288">
<p>Machine Learning &amp; Software testing lab,Microprocessor and DataStructure lab</p>
<p>Room No-604</p>
</td>
<td width="120">
<p>19.3</p>
</td>
<td width="102">
<p>10.1</p>
</td>
<td width="102">
<p>185</p>
</td>
</tr><tr><td width="115">
<p>6</p>
</td>
<td width="288">
<p>UG Class Room - R.No.605</p>
</td>
<td width="120">
<p>11.582</p>
</td>
<td width="102">
<p>7.62</p>
</td>
<td width="102">
<p>88</p>
</td>
</tr><tr><td width="115">
<p>7</p>
</td>
<td width="288">
<p>UG Class Room- R.No.606</p>
</td>
<td width="120">
<p>11.582</p>
</td>
<td width="102">
<p>10.210</p>
</td>
<td width="102">
<p>116</p>
</td>
</tr><tr><td width="115">
<p>8</p>
</td>
<td width="288">
<p>Faculty Room - R.No.607</p>
</td>
<td width="120">
<p>10.3</p>
</td>
<td width="102">
<p>17.5</p>
</td>
<td width="102">
<p>162</p>
</td>
</tr><tr><td width="115">
<p>9</p>
</td>
<td width="288">
<p>DBMS/FS Lab,Project &amp; Web Technolgy Lab,DAA Lab &amp; Computer Network Lab/Department Seminar Hall - R.No.612</p>
</td>
<td width="120">
<p>14.6304</p>
</td>
<td width="102">
<p>9.752</p>
</td>
<td width="102">
<p>285</p>
</td>
</tr><tr><td width="115">
<p>10</p>
</td>
<td width="288">
<p>First Year Computer Programming Lab - R.No.614</p>
</td>
<td width="120">
<p>21.823</p>
</td>
<td width="102">
<p>7.65</p>
</td>
<td width="102">
<p>125</p>
</td>
</tr><tr><td width="115">
<p>11</p>
</td>
<td width="288">
<p>PG Class Room/Lab - R.No.613</p>
</td>
<td width="120">
<p>7.315</p>
</td>
<td width="102">
<p>7.0104</p>
</td>
<td width="102">
<p>51</p>
</td>
</tr><tr><td width="115">
<p>12</p>
</td>
<td width="288">
<p>PG Class Room - R.No.704</p>
</td>
<td width="120">
<p>12.452</p>
</td>
<td width="102">
<p>10.087</p>
</td>
<td width="102">
<p>125</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<p><b>Total Area = 1,328 Square Mtrs</b></p>
<h3>Specifications of each lab</h3>

<table class="table table-bordered table-sm" ><tbody><tr><td width="706">
<p><b>Name of the LAB: DATA STRUCTURE LAB  &amp; MICRO PROCESSOR &amp; MICROCONTROLLOR LAB</b></p>
<p><strong>&nbsp;</strong></p>
<p><strong>HP Compaq-d330 </strong>Pentium IV with HT @ 2.6Ghz, intel 865 Chipset,800Mhz FSB, 512 KB cache, 1GB DDR - SDRAM, 160GB+80GB HDD @ 7200rpm
 </p>
<p><strong>HPCompaq-d220</strong> Pentium  IV with HT @2. 6GHz, intel 845 Chipset ,333MHz FSB,1 GB DDR SDRAM,160GB + 40GB HDD </p>
<p><strong>HPCompaq-dx7200 Dekstop</strong> Pentium  IV ,630,3.0GHz .2Mb cache 800MHz FSB,945G Chipset,160GB SATA 3gb/s,1GB DDR2 @533MHz  </p>
<p><strong>OS</strong>Windows XP</p>
<p><strong>Software</strong>Borland C TASM &amp; MASM</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: SOFTWARE TESTING LAB &amp; MACHINE LEARNING LAB HP PRO BOOK 400g5 DEKSTOP</strong></p>
<p> </p>
<p><strong>HP Compaq-d330 </strong>Intel core I5-8500 AMD Radeon R7 430, 2GB GFX CPU @Base, 3.0 GHz, Turbo 4.10 GHz 8GB RAM , 1Tb 7200rpm SATA HDD, 19.5" HPU 203p Monitor </p>
<p><strong>OS</strong>: Windows XP </p>
<p><strong>Software</strong>: Borland C, TASM &amp; MASM</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: FILE STRUCTURE &amp; DBMS LAB Lab</strong></p>
<p>&nbsp;</p>
<p><strong>DUPLEX OPTIPLEX 780 : </strong>Q8400 core processor @2.66GHz 1333MHz FSB,4MB Cache,Q45 Express Chipset,Gigabit Ethernet LAN controller 4500GMA ,HD Audio, 4B(2x2GB)DDR<sub>3</sub> @1066Mhz,SDRAM,500GB 7200 rpm HDD 16x DVD RW ,K/B with Mouse, 19" Flat VGA Monitor</p>
<p><strong>OS</strong>: Windows 7,Linux Fedora</p>
<p><strong>Software</strong>: Oracle Client 11g and Oracle Server 10g, Visual Studio</p>
<p>&nbsp;</p>
<p><strong>DUPLEX OPTIPLEX 380 : </strong>Intel Processor Core 2 Duo - E7500, 2.93, 4GB RAM, 500GB HDD,DVD R/W 19" LED Monitor with Mouse</p>
<p><strong>OS</strong>: Windows 7,Linux Fedora</p>
<p><strong>Software</strong>: Oracle Client 11g and Oracle Server 10g, Visual Studio</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: COMPUTER NETWORK &AMP; DESIGN AND ANALYSIS OF ALGORITHMS LAB DELL DELL OPTIPLEX 755 DEKSTOP</strong></p>
<p></p>
<p><strong>DELL PRECISION T3400n Series </strong>Intel core 2 duo E6500 @ 2.33GHz ,4MB L2 Cache 1333MHz FSB,Express 38 Chipset Mother Board,2GB(2x1) GB NECE Dual channel DDR-2RAM @667 MHz, 160GB Serial SATA(72K rpm 3.0Gb/s)1333Mhz,256 MB PCI EX 16 NVIDIA Quadro 570 (D)Graphics with dual DVI+ VGA ,16x Max DVD R/W Drive,17" Flat Panel LCD Monitor ,USB K/B &amp; Mouse </p>
<p><strong>OS</strong>: Linux Ubuntu-14.04 LTS</p>
<p><strong>Software</strong>: Eclipse,Java,NS2</p>
<p>&nbsp;</p>
<p><strong>DELL OPTIPLEX 755 </strong>Intel core 2 duo E4500 @ 2.2GHz ,Intel Q35 Chipset Mother Board,160GB Serial SATA(7200 RPM *MB catch),2GB NECE,Dual Channel DDR-2RAM @667 MHz,Intergrated Graphics,16xMax DVD R/W Drive </p>
<p><strong>OS</strong>: Linux Ubuntu-14.04 LTS</p>
<p><strong>Software</strong>: Eclipse,Java,NS2</p>
<p>&nbsp;</p>
<p><strong>Name of the LAB: WEB PROGRAMMING $AMP; PROJECT Lab</strong></p>
<p>&nbsp;</p>
<p><strong>DELL PRECISION T3400N Series Workstation 400G5 </strong>Intel core 2 Duo E6500 @ 2.33 GHz ,4MB L2 Cache 1333 MHz FSB,Express 38 Chipset Mother Board,2GB(2x1)GB NECE Dual Channel DDR-2 RAM @ 667 MHz,160 GB serial SATA(72K rpm 3.0Gb/s) 1333MHz, 256 MB PCI EX 16 NVIDIA QuadroFx 570(D) Graphics with dual DVI+ VGA, 16 Max DV R/W Drive,17" Flat Panel LCD Monitor</p>
<p><strong>OS</strong>: Linux Ubuntu-14.04 LTS</p>
<p><strong>Software</strong>: java Eclipse &amp; NS2, MYSQL,Apache Tomcat</p>
<p>&nbsp;</p>
<p><strong>HP PRO BOOK 400G5 Dekstop </strong>Intel core I5-8500 AMD Raedeon R7 430, 2GB GFX CPU @Base, 3.0 GHz,Turbo 4.10 GHz 8GB Ram,1TB 7200 rpm SATA HDD,19.5" HPU 203p Monit</p>
<p><strong>OS</strong>: Linux Ubuntu-14.04 LTS</p>
<p><strong>Software</strong>:Anaconda Package,Python 3.6, Android studio,Oracle Database 11g Express Edition,WINRAR,Visual Studio 6.0(VB,VC++),Ruby Rails,Virtual Box</p>
</td>
</tr></tbody></table>