
    <h3>Achievements</h3>
<ul style="padding-left:20px">
<li><p>	One day workshop on ORACLE (SQL &amp; PL/SQL) conducted by Department of ISE in association with Vani Institute on 3rd September 2018</p></li>
<li><p> Three day workshop on “Python Application Programming conducted by ISESA in association with Isiri Technologies, Bangalore on 26th, 27th and 28th February 2018</p></li>
<li><p> Java and J2EE Programming conducted by ISESA in association with Niravan Talents, Bangalore on 9th, 10th and 11th of March 2017</p></li>
<li><p> Two day workshop on Ruby on Rails, April-27th and 28th 2016 in association with DCT Academy.</p></li>
<li><p> One day workshop on “Computer Networking Simulator (NS2)” by LIVEWIRE, Yelahanka, Bangalore on 16-10-2015 and 17-10-2015</p></li>
<li><p> One day workshop on “Computer Networking and Cisco Devices” by LIVEWIRE, Yelahanka, Bangalore on 16-10-2015 and 17-10-2015 </p></li>
<li><p> Two day workshop on “Unix Essentials and System Programming “ by Apelix Technologies on 16-03-2013 and 17-03-2013</p></li>
<li><p> Three day workshop on “Digital Image Processing and its Applications”, March -2012</p></li>
<li><p> Conducted technical talks</p></li>
<li><p> The results (98%) and Placement (100% Eligible students) of our department is very good</p></li>
<li><p> Computer lab has been equipped with audio visual multimedia system</p></li>
</ul>
<h3 style="padding-top:20px">Rank Holders</h3>
<table  class="table table-bordered table-sm">
<tbody>
<tr>
<td width="160" valign="top">
<p>
<strong>Sl No</strong>
</p>
</td>
<td width="160" valign="top">
<p>
<strong>Name</strong>
</p>
</td>
<td width="160" valign="top">
<p>
<strong>Year</strong>
</p>
</td>
<td width="160" valign="top">
<p>
<strong>Rank</strong>
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
1
</p>
</td>
<td width="160" valign="top">
<p>
Akshata .G
</p>
</td>
<td width="160" valign="top">
<p>
2010
</p>
</td>
<td width="160" valign="top">
<p>
10
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
2
</p>
</td>
<td width="160" valign="top">
<p>
Smitha .S
</p>
</td>
<td width="160" valign="top">
<p>
2011
</p>
</td>
<td width="160" valign="top">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
3
</p>
</td>
<td width="160" valign="top">
<p>
Abhishek K.M
</p>
</td>
<td width="160" valign="top">
<p>
2011
</p>
</td>
<td width="160" valign="top">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
4
</p>
</td>
<td width="160" valign="top">
<p>
Bhagya Madhuri
</p>
</td>
<td width="160" valign="top">
<p>
2014
</p>
</td>
<td width="160" valign="top">
<p>
10
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
5
</p>
</td>
<td width="160" valign="top">
<p>
Divya R (M.Tech)
</p>
</td>
<td width="160" valign="top">
<p>
2016
</p>
</td>
<td width="160" valign="top">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
6
</p>
</td>
<td width="160" valign="top">
<p>
Shirishti Priya
</p>
</td>
<td width="160" valign="top">
<p>
2016
</p>
</td>
<td width="160" valign="top">
<p>
5
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
7
</p>
</td>
<td width="160" valign="top">
<p>
Ravikant Rajeev
</p>
</td>
<td width="160" valign="top">
<p>
2016
</p>
</td>
<td width="160" valign="top">
<p>
6
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
8
</p>
</td>
<td width="160" valign="top">
<p>
Nikitha .J
</p>
</td>
<td width="160" valign="top">
<p>
2017
</p>
</td>
<td width="160" valign="top">
<p>
9
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
9
</p>
</td>
<td width="160" valign="top">
<p>
Vinutha R Kamath
</p>
</td>
<td width="160" valign="top">
<p>
2018
</p>
</td>
<td width="160" valign="top">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
10
</p>
</td>
<td width="160" valign="top">
<p>
Priya B(M.Tech)
</p>
</td>
<td width="160" valign="top">
<p>
2018
</p>
</td>
<td width="160" valign="top">
<p>
2
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
11
</p>
</td>
<td width="160" valign="top">
<p>
Pratiksha Naragund G (M.Tech)
</p>
</td>
<td width="160" valign="top">
<p>
2018
</p>
</td>
<td width="160" valign="top">
<p>
3
</p>
</td>
</tr>
<tr>
<td width="160" valign="top">
<p>
12
</p>
</td>
<td width="160" valign="top">
<p>
Rashmi Vishwanath Hadagalimath (M.Tech)
</p>
</td>
<td width="160" valign="top">
<p>
2018
</p>
</td>
<td width="160" valign="top">
<p>
4
</p>
</td>
</tr>
</tbody>
</table>

<h3>Placement Records</h3>

<h4><a href="/ise_photos/placementise.pdf">1.Placement details</a></h4>

<p> Placement details with highest, medium and low packages are shown in Table. Core Industry placements obtained for ISE branch are AKKAMAI, MU-SIGMA, CISCO, SAP-LAB, NATIONAL INSTRUMENTS, DELL, GE APPLIANCES, ADOBE, SPRINKLR etc. Software Industry placement obtained for ISE branch are WIPRO, ACCENTURE, INFOSYS, ROBERT BOSCH, FIDELITY etc.</p>

<table  class="table table-bordered table-sm">
<tbody>
<tr>
<td width="541" colspan="5">
<p>
<strong>Table 1: Campus Selection</strong>
</p>
</td>
</tr>
<tr>
<td width="121">
<p>
<strong>Academic Year</strong>
</p>
</td>
<td width="107">
<p>
<strong>2015-16</strong>
</p>
</td>
<td width="107">
<p>
<strong>2016-17</strong>
</p>
</td>
<td width="92">
<p>
<strong>2017-18</strong>
</p>
</td>
<td width="114">
<p>
<strong>2018-19</strong>
</p>
</td>
</tr>
<tr>
<td width="121">
<p>
<strong>No. of Eligible students</strong>
</p>
</td>
<td width="107">
<p>
49
</p>
</td>
<td width="107">
<p>
39
</p>
</td>
<td width="92">
<p>
39
</p>
</td>
<td width="114">
<p>
60
</p>
</td>
</tr>
<tr>
<td width="121">
<p>
<strong>No. of students placed</strong>
</p>
</td>
<td width="107">
<p>
46
</p>
</td>
<td width="107">
<p>
35
</p>
</td>
<td width="92">
<p>
33
</p>
</td>
<td width="114">
<p>
41
</p>
</td>
</tr>
<tr>
<td width="121">
<p>
<strong>No. of offers Received</strong>
</p>
</td>
<td width="107">
<p>
71
</p>
</td>
<td width="107">
<p>
43
</p>
</td>
<td width="92">
<p>
47
</p>
</td>
<td width="114">
<p>
54
</p>
</td>
</tr>
<tr>
<td width="121">
<p>
<strong>Average pay Lakhs/Annum</strong>
</p>
</td>
<td width="107">
<p>
9.57 Lakhs-3.1 Lakhs
</p>
</td>
<td width="107">
<p>
12.37 Lakhs-3 Lakhs
</p>
</td>
<td width="92">
<p>
8.5 Lakhs-3 Lakhs
</p>
</td>
<td width="114">
<p>
12.35Lakhs-3Lakhs
</p>
</td>
</tr>
</tbody>
</table>
<br>
<div>
<table  class="table table-bordered table-sm">
<tbody>
<tr>
<td width="461" colspan="4">
<p>
<strong>
Table 2 : Sample of Students Placed in Different
Companies with Packages
</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="461" colspan="4">
<p>
<strong>2012-2016: Series Students</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>Sl No</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Name</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>Company name</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>Salary</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>1</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Janani Raghupathy</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>CISCO</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>13 Lakh</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>2</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Deepak Suhag</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>SPRINKLR</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>8.5 Lakh</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>3</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Shrishti Priya</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>SPRINKLR</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>8.5 Lakh</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>4</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Krithika J</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>SAP LABS</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>6.75 Lakh</strong>
</p>
</td>
</tr>
<tr>
<td width="461" colspan="4">
<p>
<strong>2013-2017: Series Students</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>1</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Amol Raj</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>Akamai</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>12.37 Lakh</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>2</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Yashica Saun</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>JP Morgan</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>6.7 Lakhs</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>3</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Nikitha</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>Dell</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>5.75 Lakhs</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>4</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Divyashree</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>Oracle</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>4.75 Lakhs</strong>
</p>
</td>
</tr>
<tr>
<td width="461" colspan="4">
<p>
<strong></strong>
<strong>2014-2018: Series Students</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>1</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Manish Raju</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>M U Sigma</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>7 Lakhs</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>2</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Ashish Chopra</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>M U Sigma</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>7 Lakhs</strong>
</p>
</td>
</tr>
<tr>
<td width="45" nowrap="">
<p>
<strong>3</strong>
</p>
</td>
<td width="195" nowrap="">
<p>
<strong>Sushmitha Madhyastha</strong>
</p>
</td>
<td width="131" nowrap="">
<p>
<strong>Oracle</strong>
</p>
</td>
<td width="91" nowrap="">
<p>
<strong>5.1 Lakhs</strong>
</p>
</td>
</tr>
</tbody>
</table>
</div>
<p>
<strong></strong>
</p>
<p>
<img width="634" height="232" src="/ise_photos/image001-2.png">
</p>

<p>
<strong>2012-2016: Series Students</strong>
</p>

<p>
<img width="641" height="266" src="/ise_photos/image003-2.png">
</p>

<p>
<strong>2013-2017: Series Students</strong>
</p>

<p>
<img width="641" height="273" src="/ise_photos/image005-2.png">
</p>




<p></p>
<h3>
Product Development
</h3>
<p></p>
<ul>
<li> Mr Hansum Krishna, final year student of the Department of ISE developed AgroSquad which is a unit of wirelessly communicating autonomous sub-systems that make use of image processing, and embedded systems with modular sensors to survey and manage agricultural landscapes for optimizing crop production. Multirotor-copter based areal imagery detects soil variations, crop quality and pest/fungal infestation - which aren’t apparent at eye level, while the ground level probe capsule gathers soil-specific parametrical measurements for ensuring crop quality and yield.</li>
<li> Mr Hansum Krishna also developed Project DriX which is an advanced voice-enabled driver-assistance AI for human-driven vehicles, which uses driving behavior recognition system, comprising a set of sensors embedded in the driver’s console – discretizing driving patterns on a highly individualized level.</li>
<li> Mr Shriyan, 2<sup>nd</sup> year student of the department of ISE build an unmanned ground vehicle (UGV) capable of being controlled using hand gestures which benefits the disabled persons. As those persons with the hand gesture moves to the direction they want to go without pressing any buttons.</li>
</ul>

<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="367" valign="top">
<p>
<img width="400" height="306" src="/ise_photos/image007.png" hspace="12">
</p>
</td>
<td width="290" valign="top">
<p>
<img width="300" height="307" src="/ise_photos/image009-1.png" hspace="12">
</p>
</td>
</tr>
<tr>
<td width="657" colspan="2" valign="top">
<p>
<strong>
Figure : Working Models Developed by Mr Shriyan and Mr
Hansum Krishna
</strong>
</p>
<p>
<strong></strong>
</p>
<p>
<strong></strong>
</p>
<p>
<strong></strong>
</p>
</td>
</tr>
</tbody>
</table>
<p>
<strong></strong>
</p>
<p>
<strong>
<u>Sports Achievements of ISE Department from 2015-16 to 2018-19</u>
</strong>
</p>
<table  class="table table-bordered table-sm">
<tbody>
<tr>
<td width="38" valign="top">
<p>
Sl No
</p>
</td>
<td width="151" valign="top">
<p>
Name
</p>
</td>
<td width="47" valign="top">
<p>
Sem
</p>
</td>
<td width="142" valign="top">
<p>
Representation
</p>
</td>
<td width="208" valign="top">
<p>
Event, place &amp; date
</p>
</td>
<td width="95" valign="top">
<p>
Results
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
1
</p>
</td>
<td width="151" valign="top">
<p>
Ayush Kumar Gupta
</p>
</td>
<td width="47" valign="top">
<p>
2<sup>nd</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Volleyball, Org. By Vemana IT, Bangalore from 25                    <sup>th</sup> to 26<sup>th</sup> February 2015
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
2
</p>
</td>
<td width="151" valign="top">
<p>
Bhargava A
</p>
</td>
<td width="47" valign="top">
<p>
4<sup>th</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Handball, Org. By MSRIT, Bangalore from 19<sup>th</sup>
March 2015
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
3
</p>
</td>
<td width="151" valign="top">
<p>
Bhargava A
</p>
</td>
<td width="47" valign="top">
<p>
4<sup>th</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Handball, Org. By BMSCE, Bangalore from 14<sup>th</sup>
March 2016
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
4
</p>
</td>
<td width="151" valign="top">
<p>
Raushan KR Sah
</p>
</td>
<td width="47" valign="top">
<p>
1<sup>st</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Athletic Meet, Org. By
</p>
<p>
Dr. Thimmaiah IT, Bangalore from 15<sup>th</sup> to 18<sup>th</sup> November 2016
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
5
</p>
</td>
<td width="151" valign="top">
<p>
Raushan KR Sah
</p>
</td>
<td width="47" valign="top">
<p>
3<sup>st</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Athletic Meet, Org. By
</p>
<p>
VTU Campus, Belagavi from 2<sup>nd</sup> to 6<sup>th</sup>
November 2017
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
6
</p>
</td>
<td width="151" valign="top">
<p>
Vishal R
</p>
</td>
<td width="47" valign="top">
<p>
2<sup>nd</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Cricket, Org. By CMRIT, from2nd to 5<sup>th</sup> March
2018
</p>
</td>
<td width="95" valign="top">
<p>
Semi-final
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
7
</p>
</td>
<td width="151" valign="top">
<p>
Neha Suresh Hebbar
</p>
</td>
<td width="47" valign="top">
<p>
3<sup>rd</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Badminton, Org. BySea College, Bangalore from 27<sup>th</sup> &amp; 28<sup>th</sup> August 2018
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
8
</p>
</td>
<td width="151" valign="top">
<p>
Kiran Kumar
</p>
</td>
<td width="47" valign="top">
<p>
1<sup>st</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Basketball, Org. MSRIT, Bangalore from 14<sup>th</sup>
&amp; 15<sup>th</sup> Sept. 2018
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
9
</p>
</td>
<td width="151" valign="top">
<p>
Chirsg Kempegowda
</p>
</td>
<td width="47" valign="top">
<p>
1<sup>st</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU, Inter Collegiate Aquatic Championship
</p>
</td>
<td width="208" valign="top">
<p>
Swimming, Org. By BMSCE, Bangalore on03-10-2018.
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
<tr>
<td width="38" valign="top">
<p>
10
</p>
</td>
<td width="151" valign="top">
<p>
Raushan KR Sah
</p>
</td>
<td width="47" valign="top">
<p>
5<sup>st</sup>
</p>
</td>
<td width="142" valign="top">
<p>
VTU Bangalore central zone tournament
</p>
</td>
<td width="208" valign="top">
<p>
Athletic Meet, Org. By
</p>
<p>
SJCIT, Chikballapur from 26<sup>th</sup> to 29<sup>th</sup>
October 2018
</p>
</td>
<td width="95" valign="top">
<p>
Participated
</p>
</td>
</tr>
</tbody>
</table>						