<h3>Infrastructure/Facilities</h3>
<p >The central library is housed in two separate wings of main building with a carpet area of over 1204sq mts and is located in the center of the campus. The library services and resources are mentioned below.</p>
<h3>Ground Floor (North wing)</h3>
<p>&nbsp;</p>
<h3>Digital Section</h3>
<p ><img class="image-page" src="/lib_photos/l1.jpg"></p>
<p >Online access to the e-resources subscription through VTU e-resources consortium of IEEE/IEL, Springer Link, ASCE, ASME, Federated Search Knimbus.be accessed VTU Consortium e- resources (Online Journals) provided on Remote access.</p>

<h3>Circulation Section:</h3>
<ul style="padding-left: 20px;">
<li style="list-style-type: none;">
<ul style="padding-left: 20px;">
<li>Stack area for books in all disciplines are shelved as per the classification number with open access</li>
<li>OPAC Services</li>
<li>Document Circulation Counter</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p ><img class="image-page" src="/lib_photos/l2.jpg"></p>
<p>&nbsp;</p>
<h3>Book Bank Section:</h3>
<p ><img class="image-page" src="/lib_photos/image001.jpg"></p>
<p>&nbsp;</p>
<ul>
<li>The facility is provided for category/disability students, students are entitled to borrow three additional books.</li>
</ul>
<h3>Ground/ First Floor (East wing)</h3>
<ul>
<li><strong>Librarian Chamber</strong></li>
<li><strong>Periodical Section: </strong> Back volumes of Journals have been bound and arranged in subject wise for reference and Technical magazines are displayed</li>
<li><strong>Reading Room: </strong>Newspapers and general magazines displayed in reading room</li>
<li><strong>Reference Section : </strong>The Reference section of the library has collection of international editions of reference books, handbooks, encyclopedias, competitive books and various reference documents</li>
</ul>
<p>&nbsp;</p>
<p ><img class="image-page" src="/lib_photos/l3.jpg"></p>
<h3>Electronic Surveillances</h3>
<ul>
<li>18 CCTV cameras are installed in the library premises as security measure</li>
</ul>
<p>&nbsp;</p>
<h3>Referral services:</h3>
<ul>
<li>Students and researchers in need of diverted information have been referred to use other reputed library like IISc, NAL, CMTI, and IIMB through institutional membership</li>
</ul>
<p>&nbsp;</p>
<h3>User awareness Programme:-</h3>
<ul>
<li>Library facility and orientation programme services will be conducted for the new students</li>
</ul>
<p>&nbsp;</p>
<h3>Reprographic services/ Centralized:</h3>
<ul>
<li>Centralized Reprographic services available in the campus</li>
<li>Scanning/ Print , Internet, Intranet and downloading facilities are available</li>
</ul>
<p>&nbsp;</p>
<h3>Library Collections:</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td valign="top" width="53">
<p>Sl.No</p>
</td>
<td valign="top" width="308">
<p>Particulars</p>
</td>
<td valign="top" width="186">
<p>Category</p>
</td>
<td valign="top" width="132">
<p>Total Quantity</p>
</td>
</tr>
<tr>
<td rowspan="2" width="53">
<p >1</p>
</td>
<td rowspan="2" width="308">
<p>Books</p>
</td>
<td valign="top" width="186">
<p>Volumes</p>
</td>
<td valign="top" width="132">
<p>83605</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Titles</p>
</td>
<td valign="top" width="132">
<p>19750</p>
</td>
</tr>
<tr>
<td rowspan="2" width="53">
<p >2</p>
</td>
<td rowspan="2" width="308">
<p>Periodical</p>
</td>
<td valign="top" width="186">
<p>Magazines</p>
</td>
<td valign="top" width="132">
<p>20</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>News Papers</p>
</td>
<td valign="top" width="132">
<p>11</p>
</td>
</tr>

<tr>
<td width="53">
<p >5</p>
</td>
<td valign="top" width="308">
<p>Bound Volumes</p>
</td>
<td valign="top" width="186">
<p>National &amp; International</p>
</td>
<td valign="top" width="132">
<p>2405</p>
</td>
</tr>
<tr>
<td width="53">
<p >6</p>
</td>
<td valign="top" width="308">
<p>VTU Question Papers</p>
</td>
<td valign="top" width="186">
<p>Hard &amp; Soft Copy</p>
</td>
<td valign="top" width="132">
<p>Available</p>
</td>
</tr>
<tr>
<td rowspan="16" width="53">
<p >7</p>
<p >&nbsp;</p>
</td>
<td rowspan="16" width="308">
<p><strong>VTU Consortium (e- Resources)</strong></p>
<p>&nbsp;</p>
</td>
<td valign="top" width="186">
<p><strong><br> Journals</strong></p>
</td>
<td width="132">
<p><strong>Volumes</strong></p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p><strong>E-Journals(International)</strong></p>
</td>
<td valign="top" width="132">
<p><strong>1681</strong></p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Elsevier</p>
</td>
<td valign="top" width="132">
<p>304</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Springer Nature</p>
</td>
<td valign="top" width="132">
<p>690</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Taylor &amp; Francis</p>
</td>
<td valign="top" width="132">
<p>536</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Institution of Civil Engineers(ICE)</p>
</td>
<td valign="top" width="132">
<p>31</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Emerald</p>
</td>
<td valign="top" width="132">
<p>120</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p><strong>E-books</strong></p>
</td>
<td valign="top" width="132">
<p><strong>Volumes</strong></p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p><strong>e-Books</strong></p>
</td>
<td valign="top" width="132">
<p><strong>24933</strong></p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Elsevier Science Direct</p>
</td>
<td valign="top" width="132">
<p>436</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Springer e- Books</p>
</td>
<td valign="top" width="132">
<p>12822</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>CRC net base e- Books</p>
</td>
<td valign="top" width="132">
<p>1000</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Taylor &amp; Francis</p>
</td>
<td valign="top" width="132">
<p>4950</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>McGraw Hill Education</p>
</td>
<td valign="top" width="132">
<p>505</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>New Age International</p>
</td>
<td valign="top" width="132">
<p>220</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>Packt</p>
</td>
<td valign="top" width="132">
<p>5000</p>
</td>
</tr>


</tbody>
</table>

<table class="table table-bordered table-sm">
<tbody>
<tr>
<td rowspan="3" width="308">
<p><strong>Technology Platform</strong></p>
</td>
<td valign="top" width="186">
<p>Knimbus</p>
</td>
<td valign="top" width="132">
<p>e-Books:10,000+ &amp; e-Journals:5700+</p>
</td>
<tr>
<td valign="top" width="186">
<p>Turnitin*</p>
</td>
<td valign="top" width="132">
<p>Plagiarism Check</p>
</td>
</tr>
<tr>
<td valign="top" width="186">
<p>NetAnalytiks</p>
</td>
<td valign="top" width="132">
<p>Sententia(Writing Grammar Tool)</p>
</td>
</tr>
</tr>

</tbody>
</table>


<h3>E-Resources Portal:</h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td colspan="2" width="657">
<p ><strong><br>VTU E – Resources Consortium Subscription (Journals)<br>URL Address<br></strong></p>
</td>
</tr>
<tr>
<td width="316">
<p><strong>Publisher</strong></p>
</td>
<td width="341">
<p><strong>Portal Address</strong></p>
</td>
</tr>
<tr>
<td width="316">
<p>Elsevier Science Direct</p>
</td>
<td width="341">
<p><a href="http://www.sciencedirect.com/" target="_blank" rel="noopener noreferrer"><br>http://www.sciencedirect.com/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Springer link</p>
</td>
<td width="341">
<p><a href="http://link.springer.com/" target="_blank" rel="noopener noreferrer"><br>http://link.springer.com/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Taylor &amp; Francis</p>
</td>
<td width="341">
<p><a href="http://www.tandfonline.com/" target="_blank" rel="noopener noreferrer"><br>http://www.tandfonline.com/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Institution of Civil Engineers(ICE)</p>
</td>
<td width="341">
<p><a href="http://www.ice.org.uk/" target="_blank" rel="noopener noreferrer"><br>http://www.ice.org.uk/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Emerald</p>
</td>
<td valign="bottom" width="341">
<p><a href="http://www.emeraldinsight.com/" target="_blank" rel="noopener noreferrer"><br>http://www.emeraldinsight.com/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>McGraw Hill Education</p>
</td>
<td valign="bottom" width="341">
<p><a href="http://mcgrawhilleducation.pdn.ipublishcentral.com/" target="_blank" rel="noopener noreferrer"><br>http://mcgrawhilleducation.pdn.ipublishcentral.com/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>New Age International</p>
</td>
<td width="341">
<p><a href="http://digital.elib4u.com/" target="_blank" rel="noopener noreferrer"><br>http://digital.elib4u.com/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Packt</p>
</td>
<td valign="bottom" width="341">
<p><a href="http://prod.packtpub.com/in/" target="_blank" rel="noopener noreferrer"><br>http://prod.packtpub.com/in/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>KNIMBUS (Remote Access)</p>
</td>
<td width="341">
<p><a href="https://bit.new.knimbus.com/" target="_blank" rel="noopener noreferrer"><br>https://bit.new.knimbus.com/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Turnitin*</p>
</td>
<td valign="bottom" width="341">
<p><a href="http://www.turnitin.com/" target="_blank" rel="noopener noreferrer"><br>http://www.turnitin.com/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>NetAnalytiks</p>
</td>
<td valign="bottom" width="341">
<p><a href="http://sententia.online/" target="_blank" rel="noopener noreferrer"><br>http://sententia.online/</a></p>
</td>
</tr>
<tr>
<td colspan="2" width="657">
<p ><strong>Open Access Institutional Resources</strong></p>
</td>
</tr>

<tr>
<td width="316">
<p><b> Library Web OPAC</b> (<a href="http://119.161.98.143:8082" target="_blank" rel="noopener noreferrer">National Digital Library of India</a>)</p>
</td>
<td width="341">
<p><a href="http://119.161.98.143:8082" target="_blank" rel="noopener noreferrer"><br>http://119.161.98.143:8082</a></p>
</td>
</tr>

<tr>
<td width="316">
<p><b>NDL</b> (<a href="https://ndl.iitkgp.ac.in/" target="_blank" rel="noopener noreferrer">National Digital Library of India</a>)</p>
</td>
<td width="341">
<p><a href="https://ndl.iitkgp.ac.in/" target="_blank" rel="noopener noreferrer"><br>https://ndl.iitkgp.ac.in/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p><strong>SWAYAM</strong> (Platform developed by MHRD and AICTE are available free of<br>cost to the learners)</p>
</td>
<td width="341">
<p><a href="https://swayam.gov.in/" target="_blank" rel="noopener noreferrer"><br>https://swayam.gov.in/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p><a href="http://nptel.ac.in/" target="_blank" rel="noopener noreferrer"><b>NPTEL</b></a> (<a href="https://en.wikipedia.org/wiki/National_Programme_on_Technology_Enhanced_Learning" target="_blank" rel="noopener noreferrer">National Programme on Technology Enhanced Learning</a>)</p>
</td>
<td width="341">
<p><a href="http://nptel.ac.in/" target="_blank" rel="noopener noreferrer"><br>http://nptel.ac.in/</a></p>
<p><a href="http://119.161.98.143/localguru/" target="_blank" rel="noopener noreferrer"><br>http://119.161.98.143/localguru/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p><b>Shodhganga</b> (Reservoir of Indian Thesis @ INFLIBNET)</p>
</td>
<td width="341">
<p><a href="http://shodhganga.inflibnet.ac.in" target="_blank" rel="noopener noreferrer"><br>http://shodhganga.inflibnet.ac.in</a></p>
</td>
</tr>
<tr>
<td colspan="2" width="657">
<p ><strong>Useful Links to Open Access Journals</strong></p>
</td>
</tr>
<tr>
<td width="316">
<p>Directory of Open Access Journal</p>
</td>
<td width="341">
<p><a href="https://www.doaj.org/" target="_blank" rel="noopener noreferrer">https://www.doaj.org/</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Library Genius: scientific Articles</p>
</td>
<td width="341">
<p><a href="https://93.174.95.27/scimag/" target="_blank" rel="noopener noreferrer"><br>https://93.174.95.27/scimag/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Online Computer Library Center</p>
</td>
<td width="341">
<p><a href="https://www.oclc.org/" target="_blank" rel="noopener noreferrer">https://www.oclc.org</a></p>
</td>
</tr>
<tr>
<td width="316">
<p>World Scientific</p>
</td>
<td width="341">
<p><a href="https://www.worldscientific.com/" target="_blank" rel="noopener noreferrer"><br>https://www.worldscientific.com/<br></a></p>
</td>
</tr>
<tr>
<td width="316">
<p>Indian Academy of Sciences</p>
</td>
<td width="341">
<p><a href=" https://www.ias.ac.in/" target="_blank" rel="noopener noreferrer"><br>https://www.ias.ac.in/</a></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p ><b>SWAYAM</b> is the digital platform for distance learning where distinguished faculties offer best quality content for students from school till post-graduation.</p>
<p ><b>NPTEL</b> is a joint initiative from IITs and IISc to offer online courses and certification in various topics.</p>