<h3>Library Services</h3>
<p>&nbsp;</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><strong>Library Working Hours &amp; Hours:</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">Monday to Friday</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Saturday</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Reference Section </span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 8.30PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 5PM</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Issue Section</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 4.30 PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 1.30PM</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Periodical Section</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 4.30 PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 1.30PM</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">4</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Digital Library</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 4.30 PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">8.30AM to 1.30PM</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">5</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Book Bank </span></p>
</td>
<td>
<p><span style="font-weight: 400;">9AM to 4.30 PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">9AM to 2PM</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">6</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Reading Room</span></p>
</td>
<td>
<p><span style="font-weight: 400;">9AM to 4.30 PM</span></p>
</td>
<td>
<p><span style="font-weight: 400;">9AM to 2PM</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h3><strong>Membership</strong></h3>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td>
<p><strong>Category of Membership</strong></p>
</td>
<td>
<p><strong>No. of Books</strong></p>
</td>
<td>
<p><strong>Period of Loan</strong></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Students Under Graduate (BE)</span></p>
</td>
<td>
<p><span style="font-weight: 400;">02</span></p>
</td>
<td>
<p><span style="font-weight: 400;">15 days</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Students Post Graduate (M.Tech/MCA/MBA)</span></p>
</td>
<td>
<p><span style="font-weight: 400;">03</span></p>
</td>
<td>
<p><span style="font-weight: 400;">15 days</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Faculty Teaching</span></p>
</td>
<td>
<p><span style="font-weight: 400;">10</span></p>
</td>
<td>
<p><span style="font-weight: 400;">One Semester</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Non Teaching Staff</span></p>
</td>
<td>
<p><span style="font-weight: 400;">03</span></p>
</td>
<td>
<p><span style="font-weight: 400;">30 days</span></p>
</td>
</tr>
</tbody>
</table>