<h3>MANDATORY COMMITTEES</h3>
<ul style="padding-top: 40px; padding-left: 20px; padding-bottom: 30px !important; height: 400px;">
    <li class="quicklinks">
        <h5><a style="text-decoration: none; text-transform: uppercase; color: block; font-size: 14px; font-weight: 600;"
                href="/documents/IQAC.pdf" target="_blank"
                rel="noopener noreferrer"> IQAC Committee</a></h5>
    </li>
    <li class="quicklinks">
        <h5><a style="text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: 600;"
                href="/documents/Antiragging-Committee-2019.pdf"> Anti
                ragging</a></h5>
    </li>
    <li class="quicklinks">
        <h5><a style="text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: 600;"
                href="/documents/Internal-Complaints.pdf"> Internal
                Complaints Committee (ICC)</a></h5>
    </li>
    <li class="quicklinks">
        <h5><a style="text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: 600;"
                href="/documents/SC-St-Committe.pdf"> SC/ST COMMITTEE</a>
        </h5>
    </li>
    <li class="quicklinks">
        <h5><a style="text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: 600;"
                href="/documents/Womens-Greviences-Cell.pdf"> Women
                Greviences Cell</a></h5>
    </li>
</ul>