<style>
    .space{
        padding-bottom: 50px;
    }
</style>
<h3>Dr. Roopa K.M.</h3>
<h6>Research Publications</h6>
<ul style="padding-left: 50px;">
<li class="space">Roopa K.M., 2013. Stability of the Ferro-Fluid Melt Rotating on a Vertical Axis, during the Solidification of Binary Alloy using a Mathematical Model. International Journal of Theoretical and Applied Mechanics ISSN 0973-6085 Volume 8; Number 1 (2013) pp. 45-46 (Impact Factor 1.7).</li>
<li class="space">Roopa K.M., 2013. A Mathematical Formulation for the Hydrodynamic and Morphological Stability of the Unidirectional Stability of Freezing Binary Alloy in Porous Medium. International Journal of Mathematical Research and Science (IJMRS) Vol. 1; Issue 3, pp. 1-14 (Impact Factor 2.3).</li>
<li class="space">Roopa K.M., 2013. A Non-Liner Analysis to Identify the Stability of the Ferro-Fluid Melt Rotating on a Vertical Axis during the Solidification of a Binary Alloy. International Journal of Theoretical and Applied Mechanics, ISSN 0973-6085 Vol. 8; Number 1(2013) pp. 57-62 (Impact Factor 1.7).</li>
<li class="space">Roopa K.M., Apoorva, H.R., Srinivasu, V.K. and Viswanath, M.C., 2013. A Study on Different Algorithms for Shortest Route Problem. International Journal of Engineering Research and Technology (IJERT), Vol. 2; Issue 9, pp. 1-13 (Impact factor 1.76).</li>
<li class="space">Roopa K.M., 2014. A Mathematical Model for Stability of the Ferro-fluid Melt in a sparsely Packed Porous Medium Rotating on a Vertical axis during the Solidification on a Binary Alloy. International Journal of Advanced Technology in Engineering and Science (IJATES), Vol. 2; Issue 7, pp. 277-287 (Impact factor 1.012).</li>
<li class="space">Roopa K.M., 2014. A Mathematical Model for Linear Analysis of the Stability of a system during unidirectional Solidification with Buoyancy and small segregation coefficient. International Journal of Advanced Technology in Engineering and Science (IJATES), Vol. 2; Issue 10, pp. 283-292 (Impact Factor 1.012).</li>
<li class="space">Roopa K.M, Apoorva H.R, and Viswanath M.C., 2014. A Comparative Study on Different Algorithms for finding longest Route in a project network. International Journal of Mathematical and Computer Research (IJMCR), Vol. 2; Issue 12, pp… 751-765. (Impact Factor 2.2).</li>
<li class="space">Roopa K.M., 2015. Mathematical model for nonlinear analysis of the stability of a system during unidirectional solidification with buoyancy and small segregation coefficient. International of Computer Science and Engineering Technology (IJCSET), Vol.6; No.05, pp. 262 -266.</li>
</ul>
<h3>Wrokshop and Conferences Organised</h3>
<ul style="padding-left: 50px;">
<li class="space">Coordinated in organization of a workshop on “Research Methodologies” held during 4thMarch 2015 at BIT, Bangalore.</li>
<li class="space">Coordinated in organization of a workshop on “Statistical and Numerical Trends in Engineering” held during 29th- 30th July 2015 at BIT, Bangalore.</li>
<li class="space">Presently, one of the coordinators for 8th KSTA conference on “Science and Technology for GenNext Urban Space” being organized in association with BIT during Nov. 5 – 6, 2015 in Bangalore.</li>
<li class="space">Three day workshop on “MATLAB &amp; SIMULINK for Science and Engineering applications during 27th-29th July 2016”.</li>
<li class="space">Coordinated with Department of MBA to organized two days’ workshop on “R &#8211; Statistical software” with hands on experience for MBA faculties and students during the month of March 18th &amp; 19th -2017.</li>
<li class="space">Coordinated in organization of a workshop on Two Day Workshop on “Statistical Signal Processing using R-Graphics and Report Writing” held during 17th- 18th April 2017 at BIT, Bangalore.</li>
<li class="space">Coordinated in organization of a workshop on “A Two day Workshop on Research Methodology” held during 6th- 7th July 2017 at KSTA, Bangalore.</li>
<li class="space">Coordinated in organization of a workshop on “A Two day Workshop on Research Methodology” held during 17th- 18th July 2017 at KSTA, Bangalore.</li>
<li class="space">Coordinated in organization of a workshop on “A Two day Workshop on Statistical Analysis &amp; use of Software LATEX &amp; R” held during 22nd – 23rd August 2017 at KSTA, Bangalore.</li>
<li class="space">Coordinated in organization of a workshop on “Role of Statistics in Scientific Research ” held during 4th- 5th January 2018 at KSTA, Bangalore.</li>
<li class="space">Coordinated in organization of a day workshop on “ Blow up syllabus for Engineering Mathematics I &amp; II (17MAT11 &amp; 17MAT21) ” at Bangalore Institute of Technology for the Academic year 2017-2018.</li>
<li class="space">Coordinated in organization of Two day Workshop on “Linear Algebra for Engineering Applications” held on 27th -28th April 2018 jointly organized by Karnataka State Council for Science and Technology (KSCST) at Bangalore.</li>
</ul>
<h3>Dr. K. Manjula</h3>
<p><strong>Research Area: Graph Theory</strong></p>
<p><strong>Research Publications</strong></p>
<ul style="padding-left: 50px;">
<li class="space">Some results on H-line graphs, IJPAM, Vol.34/9 Sept 2003, 1307-1314</li>
<li class="space">Restricted Super Line Graphs, Far East J Appl. Math. 24(1)(2006), 23-37</li>
<li class="space">The Super line graph of Index 3, IJCSM, Vol. 2 Number 1-2(2010), pp 53-65</li>
<li class="space">Radio Number of cube of a path, IJMC Vol.1 April 2010, 05-29</li>
<li class="space">The Transformation Graph G xyz when xyz = ++-, IJMSEA, Vol.3, NO.I(2009),249-259.</li>
<li class="space">Outer Sum Labeling of a Graph, Int. J of Comb. Graph theory and Appl. Vol.4, No.1 (Jan-June2011), pp.37-60</li>
<li class="space">Cordiality of Transformation Graphs of cycles, Chandrakala S B, K Manjula IJMR, Vol.6 No.2(2016) pp. 113 – 125.</li>
<li class="space">Clique Partition of Transformation Graphs, Chandrakala S B , K Manjula IJMC, Vol. 1 (2016),91 – 96.</li>
<li class="space">Clique Covering of the Transformation Graph Chandrakala S B, K Manjula, B.Sooryanarayana IJPAM. July 2018.</li>
</ul>
<p>Number of Research scholars guided for doctoral degree : 02<br>Number of Research Scholars pursuing doctoral degree : 03</p>
<h3>Dr. A.C. Dinesh</h3>
<h6>Research Publications</h6>
<ul style="padding-left: 50px;">
<li class="space">Equitable Domination Polynomial of Graphs, Int. J. Pure Appli .Resea.Engi.Tech.,4(5)(2015),62-75.</li>
<li class="space">The Minimum Maximal Domination Energy of a Graph, Int.J.Math.Appli.,3-A(2015),31-40.</li>
<li class="space">The Minimum Neighborhood Energy of a Graph, Int. Online Oulti .J.Revi.Resea., 5(4)(2016), 1-8.</li>
<li class="space">On the End Edge Equitable Domination of Graphs,(Indian Journal of Applied Research April -2016, pg:523-531).</li>
<li class="space">Monopoly Size of Some Related Wheel Graphs.,(Indian Streams Research Journal,ISSN 2230-7850 Vol-6,Issue-1,Feb-2016, pg1-9).</li>
<li class="space">Resolving Domination Polynomial of Graphs,(Golden Research Thoughts, ISSN :2231-5063, Vol-5, Issue-9, March -2016, pg:1-17.</li>
</ul>
<h3>Dr. Dhananjaya M.</h3>
<h6>Research Publications</h6>
<ul style="padding-left: 50px;">
<li class="space">Effect of variable viscosity on thermal convective instability in a nanofluid saturated porous layer. International Journal of Mathematical Archive. 5 38-46 (2014) (with Shivakumara, I. S.).</li>
<li class="space">Onset of convection in a nanofluid saturated porous layer with temperature dependent viscosity. International Journal of Research and Applications. 4 80-85 (2014) (with Shivakumara, I. S.).</li>
<li class="space">Thermal convective instability in an Oldroyd-B nanofluid saturated porous layer. International Journal of Heat and Mass Transfer. 84 167-177 (2015) (Shivakumara, I. S., Ng, C. O.).</li>
<li class="space">Penetrative Brinkman convection in an anisotropic porous layer saturated by a nanofluid. Ain Shams Engineering Journal. 6 703-713 (2015) (with Shivakumara, I. S.).</li>
<li class="space">Thermal convection in a nanofluid layer with thermorheological effect. Journal of Nanofluids. 4 402-411 (2015) (with Shivakumara, I. S.).</li>
<li class="space">Overstability of a rotating nanofluid-saturated porous layer heated from below. Journal of Nanofluids. 5(1), 176-185, 2016 (with Shivakumara, I. S.).</li>
<li class="space">Effect of temperature-dependent internal heating on thermal convection in a viscoelastic nanofluid saturated porous layer. Vijnana Bharathi-Bangalore University Journal of Science- A bi-annual periodical. 1(2), 55-84, 2016 (with Shivakumara, I. S. and Ng, C. O.).</li>
</ul>
<h3>Mrs. Jyothi A M</h3>
<p>Research article entitled “Exploration of a particle shape effect on CU-H20 nanoparticles over moving plate “ accepted for publication in International journal of Numerical Methods for Heat and Flow.</p>