<h3>SPECIALIZATIONS OFFERED:</h3>
<p >As today’s professionals need to continuously build their domain-specific and managerial credentials to perform better, the department of provides specializations in the below mentioned domains.</p>
<ul  style="padding-left:20px">
<li>Marketing Management</li>
<li>Financial Management</li>
<li>Human Resources Management</li>
</ul>
<h3 style="padding-top:20px">ACHIVEMENTS:</h3>
<ul  style="padding-left:20px">
<li>Successful conduction of AICTE sponsored two week training programme on paradigm shifts in Human Resource Management.</li>
<li>Conduction of three day workshop on entrepreneurship awareness camp sponsored by VTU.</li>
</ul>
<h3 style="padding-top:20px">FACILITIES AT BIT MBA:</h3>
<p><b>The department is well equipped with adequate facilities such as:</b></p>
<ul  style="padding-left:20px">
<li>Class rooms with LCD projectors, </li>
<li>Exclusive library with EBSCO</li>
<li>Seminar Hall </li>
<li>Computer lab </li>
</ul>
<br>

<h3>PLACEMENTS:</h3>
<p >The department has a Placement Centre to facilitate on-campus Placement openings to the students. The Centre has in-charge asst. placement officer to organize the events. The Centre provides placement training in soft skills to all final year students to empower them to familiarize to the contemporary corporate desires.</p>
<p >The center enables students to face discussions &amp; get jobs of their choice. More than 50 top and well recognized companies across the country/abroad from all divisions visit the campus for recruitment. Every year more than 70% of students from the programs are being placed. The students are given a choice of choosing for two job prospects.</p>
<p >Guest lectures and special invitee talk series organized for all the branches of students from commerce and industry experts through the Placement Centre.</p>
<p >Most of the top companies across the nation, visit us for Campus Recruitment. There is incredible antagonism amongst companies to visit the Campus to recruit the best aptitude of the students and the institution. </p>
<h3>RESEARCH CENTRE:</h3>
<p >A well organized and systematic approach has been developed for the selection of research scholars. Candidates pursuing Ph.D. under the Department of Management are required to compulsorily take up the course work examination conducted by VTU. At present there are four research scholars perusing their doctoral programme under MBA department.</p>