{% extends "layout.html" %} {% block title %}DEPARTMENT OF MCA{% endblock %} {% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF MCA</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p>MCA Department was established in 1997.The department is having 60 intake and is a full-fledged department with well qualified & experienced faculty. Considering all available infrastructural facilities, VTU has accorded a permanent
                        affiliation to the department . So far, our department has bagged TWELVE ranks including three in 2013.<br> We are very proud to announce that, Government of Karnataka has sanctioned Rs. 20,00,000/-( Twenty Lakhs) as a research
                        grant to our MCA department during 2015.<br> Our students are placed in very reputed software industries including Infosys, WIPRO, IBM, Microsoft, TCS, MINDTREE, Honeywell, Congnizant, Igate, Informatica, Applied Materials, Nokia
                        Siemens, Sapient, Fidelity etc.<br> Our department has MoU with IBM for Rational software Architecture which costs about Rupees 4.75 lakh. Our department has Students Association with “MCA MASTERMINDS”. The association is mainly
                        involved in conducting various students’ personality development programs including Technical, Cultural, Soft skills, etc.<br> Our students recently participated in technical events in other leading colleges including Manipal Institute
                        of Technology – Manipal, NMAM Institute of Technology – Nitte, Mount Carmel college, Christ University, T John Institute of Technology, SJCE-Mysore, RVCE , RNSIT, AMC, CITY College, have won first prize & second prize in many events.
                        Our college conducts Techno-Cultural Fest every year. Our MCA department alone conducts many events such as Web Design, IT Quiz, Coding and Debugging, Slow-Drag, etc.,. The department is regularly publishing the department News
                        letter “BIT WISE” which provides a platform to the students to showcase their talents.<br> In the recent past, our department, in co-ordinations with B.I.T placement office has conducted 5 expert lecturers and the experts are from
                        leading IT industry such as Congnizant, Accenture, WIPRO, Microsoft, etc.<br> The Dept in association with Q-Spiders has conducted three days national level workshop on “Software Testing” during Oct 29th -31st, 2013.<br> The Dept
                        has conducted three days national level workshop on “Android Mobile Operating System” during Oct 26th – 28th, 2017.<br> One of our faculty members Prof. A M. Shivaram, is pursuing his Ph. D. under the guidance of Dr. Shivanand
                        M. Handigund. His paper titled “An Ameliorated Methodology for the Abstraction of Use Cases from the SRS” which was presented in Soft Computing and Software Engineering (ScSe) an International Conference held at University of California,
                        Berkeley, Sutardja Dai Hall, Berkeley, California, USA, during Mar 5, 2015 – Mar 6, 2015 is published in Elsevier Journal.<br> The Department is currently headed by Dr. Asha .T B.E., M.E., Ph.D</p><br><br>

                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="/faculty/MCA01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">A M Shivaram</h5>
                                <p class="card-text">Associate professor & HOD
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- Team Member Area -->
                    <div class="section-heading mt-30">
                        <h5> Vision and Mission </h5>
                    </div>

                    <h3>VISION</h3>
                    <p>To transform the young graduates into skilled computer professionals to meet Industrial and Societal needs.</p>
                    <h3>MISSION</h3>
                    <ul style="padding-left:20px;">
                        <li>To enhance the Teaching learning process to meet quality education in the field of Computer applications</li>
                        <li>To impart the knowledge in current technologies to meet the industrial needs</li>
                        <li>To inculcate ethical values and leadership qualities for the betterment of society</li>
                    </ul>
                    <h3 style="padding-top:20px">PROGRAM EDUCATIONAL OBJECTIVES (PEOs)</h3>
                    <p>
                        PEO1: To develop quality application software with innovative ideas to meet the industrial requirements
                    </p>
                    <p>
                        PEO2: To imbibe the current technologies and to adopt in computing profession as per the changing needs
                    </p>
                    <p>
                        PEO3: To progress in their career with leadership qualities and ethical values that enhances self and societal growth
                    </p>
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO1
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Apply knowledge of computing fundamentals, computing specialization, mathematics and domain knowledge appropriate for conceptualization of computing models as per the requirement
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO2
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Identify, analyze systematize and solve computer application related problems using the principles of mathematics, computing sciences and relevant domain knowledge
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO3
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Design, develop and evaluate software solution to solve complex problem with societal and environment concern.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO4
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Conduct investigations of complex computing problems using research based methods to provide valid conclusions.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO5
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Select, adapt and apply appropriate techniques, resources and modern tools for complex computing activities
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO6
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Understand ethical responsibilities and cyber regulations to perform professionally.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO7
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Involve in independent learning for continual development as computing professionals
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO8
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Apply and demonstrate the computing and management principle to manage projects in multidisciplinary environment as an individual or as a member in team.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO9
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Comprehend and write effective reports and make quality presentations about complex computing activities
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO10
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Understand and assess the impact of computing practices and socio-environmental concern
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO11
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Work as an individual and a member or a leader in multidisciplinary environment
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="55" valign="top">
                                    <p>
                                        PO12
                                    </p>
                                </td>
                                <td width="493" valign="top">
                                    <p>
                                        Identify business opportunity and pursue using innovative ideas to create value and wealth for the betterment of society
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Faculty-->
                    <div class="section-heading mt-30">
                        <h5>Faculty</h5>
                    </div>
                    {% for fac in facs %}
                    <!-- Single Team Member -->
                    <a href="#">
                        <div class="single-team-member d-flex align-items-center">
                            <div class="team-member-thumbnail">
                                <img src="/faculty/{{fac[0]}}.jpg" alt="">

                            </div>
                            <div class="team-member-content">
                                <h6>{{fac[1]}}</h6>
                                <span>{{fac[2]}}</span> Qualification:-{{fac[3]}}
                                <br> Email:- <a href="mailto:{{fac[4]}}" style="color: blue;">{{fac[4]}}</a>

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>



            </div>


            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">

                    <div class="section-heading">
                        <h5>Other Links</h5>
                    </div>
                    <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">

                        <div class="social-followers-info">
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('MCA','ach')"><span>Achievements </span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('MCA','infra')"><span>Infrastructure </span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('MCA','research')"><span>Research </span></button>

                            <br>
                        </div>
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Announcements</h5>
                            </div>
                            {% if annons|length==0 %}
                            <div> No Announcements</div>
                            <hr> {% else %} {% for annon in annons %}
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <span style="font-size: xx-large;">{{annon[2].day}}</span><span>{{getDate(annon[2].day)}}</span><br>{{annon[2].strftime("%b")}} {{annon[2].year}}
                                </div>
                                <div class="post-content">
                                    <a href="/announcement/{{annon[0]}}" class="post-title">{{annon[1]}}</a>
                                </div>
                            </div>

                            {% endfor %}
                            <div><a href="/archive/MCA/1" style="color: inherit;"><button class="btn"><span>View all</span></button> </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->



{% endblock %}