    <table class="table table-bordered table-sm"><tbody><tr><td width="40"><p><strong>Sl. no</strong></p></td>
<td width="80"><p><strong>Author Name</strong></p></td>
<td width="100"><p><strong>Title of Paper
</strong></p></td>
<td width="80"><p><strong>JOURNALS
</strong></p></td>
<td width="20"><p><strong> Volume/Page number
</strong></p></td>
<td width="20"><p><strong>Year 
</strong></p></td>
<td width="30"><p><strong>ISBN/ISSN NO
</strong></p></td>
<td width="30"><p><strong>Department of the teacher 
</strong></p></td>
</tr>
<tr><td width="40"><p>1</p></td>
<td width="80"><p>A.M Shivram and 
<br>Dr.Shivanand
<br> M. Handigund</p></td>
<td width="100"><p>An Ameliorated Methodology for the Abstraction of Object Oriented Features from Software Requirements Specification</p></td>
<td width="80"><p>International Journal, ELSEVIER Procedia Computer Science,
</p></td>
<td width="20"><p>Vol. 62 Pg Nos. 274-281
</p></td>
<td width="20"><p>2015
</p></td>
<td width="30"><p></p></td>
<td width="30"><p>MCA</p></td>
</tr>

<tr><td width="40"><p>2</p></td>
<td width="80"><p>Shivanand M <br>
Handigund
<br> Shivram A.M
<br>
Arunakumari B.N</p></td>
<td width="100"><p>An Ameliorated Methodology to Establish the Analogy between Business Process Perspective Views and UML Diagrams</p></td>
<td width="80"><p>Published in the proceedings of
3rd International Conference on Advances in Computing, Communications and Informatics (ICACCI – 2014)</p></td>
<td width="20"><p>IEEE Xplore Page Nos. 231-237
</p></td>
<td width="20"><p>2014</p></td>
<td width="30"><p></p></td>
<td width="30"><p>MCA</p></td>
</tr>

<tr><td width="40"><p>3</p></td>
<td width="80"><p>Dr. Shivanand <br>
M. Handigund<br>
A.M Shivaram</p></td>
<td width="100"><p>An  Ameliorated Methodology for the Abstraction of Usecases from Software Requirements Specification</p></td>
<td width="80"><p>Published in proceedings of  International Conference on Science and Information (SAI) 2013, London UK.</p></td>
<td width="20"><p>IEEE Xplore Page Nos. 263-269</p></td>
<td width="20"><p>2013</p></td>
<td width="30"><p>ISBN-978-0-9893 193-0-0</p></td>
<td width="30"><p>MCA</p></td>
</tr>

<tr><td width="40"><p>4</p></td>
<td width="80"><p>Dr. Shivanand <br>M. Handigund<br>
A.M. Shivaram<br>
Aphoorva A<br>
Pushpa C</p></td>
<td width="100"><p>An Ameliorated Methodology for the Abstraction of Usecases with their Hierarchical Levels</p></td>
<td width="80"><p>published  in the proceedings of National Conference on Advances in Information Technology, Organized by Indo Asian Academy group of Institutions, Bangalore.
</p></td>
<td width="20"><p></p></td>
<td width="20"><p>2012</p></td>
<td width="30"><p></p></td>
<td width="30"><p>MCA</p></td>
</tr>


<tr><td width="40"><p>5</p></td>
<td width="80"><p></p></td>
<td width="100"><p>An Ameliorated Methodology for Abstracting Coherent Clusters of Usecases</p></td>
<td width="80"><p>published in the proceedings of  National Conference on Emerging Trends in Information Technology(ETIT) organized by BITM, Bellari</p></td>
<td width="20"><p></p></td>
<td width="20"><p>2010</p></td>
<td width="30"><p></p></td>
<td width="30"><p>MCA</p></td>
</tr>
<tr><td width="40"><p>6</p></td>
<td width="80"><p>Vidya S<br> Rajan Kumar<br> Md.Shafique Ziya</p></td>
<td width="100"><p>Comparative Study and Analysis of E-WALLETS</p></td>
<td width="80"><p>Published in 4th International Conference on New Frontiers of Engineering, Management, Social Science and Humanities.
IJSRR</p></td>
<td width="20"><p>Volume 07, Issue 05, May 2019</p></td>
<td width="20"><p>2019</p></td>
<td width="30"><p>ISBN:978-93-87793-88-0 ISSN NO; 2279-543X</p></td>
<td width="30"><p>MCA</p></td>
</tr>
<tr><td width="40"><p>7</p></td>
<td width="80"><p>Madhu H K <br> Dr. Prakash B R</p></td>
<td width="100"><p>A Survey: Big Data Ethics And Challenges In Healthcare Division</p></td>
<td width="80"><p>Published in International Journal of computer science and Engineering. JCSE</p></td>
<td width="20"><p>Volume -7, special Issue-13, May 2019</p></td>
<td width="20"><p>2019</p></td>
<td width="30"><p>E-ISSN:2347-2693</p></td>
<td width="30"><p>MCA</p></td>
</tr>


</tbody>
</table>						 