
    <div>
<a href="/mca_photos/MCA-Model4.pdf">MCA-Model4</a>
</div>

<div>
<a href="/mca_photos/MCA-Model.pdf">MCA-Model</a>
</div>
<br>

<strong>Name of the LAB: </strong>MCA LAB 1
&nbsp;<br>
<strong>Details of Hardware and Software:&nbsp;</strong>Dell optiplex755, Intel core(TM)2 Duo CPU E4500@2.20GHz 2.19Ghz 1.95GB of RAM, 160GB Hard drive.<br>
<strong>OS: </strong>fedora 12
<br>
<strong>No of Systems: </strong>22<br>
<strong>Software: </strong>Computer networks, (DBMS) My Sql And C-programming<br>
<strong>Technical Staff:  </strong>Mohan Kumar A N –Programmer
<br>
Suresh C N - SNA Instructor. <br>


<br><div>
<img src="/mca_photos/20190207_110419.jpg">
</div>

&nbsp;<br>
<br>
<br>

<strong>Name of the LAB:</strong> MCA LAB 2<br>
&nbsp;
<strong>Details of Hardware and Software:</strong>Dell - OptiPlex 380 DT, Intel core 2 Duo E7500 2.93 GHz, 2GB SDRAM, 320GB SATA Hard drive, 18.5” HD Monitor with WLED.<br>

<strong>OS:</strong> Windows 7 Professional<br>
<strong>No Of Systems:</strong> 22<br>
<strong>Software: </strong>RSA, Python programming and Web Programming (Xamp).&nbsp;<br>
<strong>Technical Staff:  </strong>Mohan Kumar A N –Programmer<br>
Suresh C N - SNA Instructor.

<br>
<div>
<img src="/mca_photos/20190207_105456.jpg">
</div>


<br>
<br>
<br>


<strong>Name of the LAB: </strong>LAB 3<br>
&nbsp;
<strong>Details of Hardware and Software :</strong>/&nbsp;Dell - Optiplex 780  500GB 7.2K RPM  SATA Hard drive, DOS,RAID Auto detect/ATA,DVD+/-RW  with dual layer wright capabilities for MT &amp; DT,Rxio creator v10.3 software, Power DVD 8.3.<br>

<strong>OS: </strong>Fedora 12<br>

<strong>No Of Systems:</strong> 22<br>
<strong>Software:</strong> Java and Advance JAVA (Netbeans 7.4)<br>
<strong>Technical Staff: </strong> Anjan K M –Instructor
<br>
Anjinappa N-Mechanic

<br>
<div>
<img src="/mca_photos/20190207_110514.jpg">
</div>


&nbsp;<br>
<br>
<br>

<strong>Name of the LAB: </strong>LAB 4(PROJECT LAB)<br>
<strong>&nbsp;Details of Hardware and Software:&nbsp; </strong>HP Intel ® core™ i5-8500 CPU @3.00Ghz 3.00 Ghz   8GB RAM, 1 TB HDD and assembled machine Intel ® core™ i5-4460 CPU @3.20Ghz 3.20 GHz 4 GB RAM 1Tb HDD.<br>

<strong>No of Systems:</strong> 20<br>

<strong>OS: </strong>Windows 10 for HP and windows 7 for assembled machines
Software: VB .Net and Android studio<br>
<strong> Technical Staff: </strong> Anjan K M –Instructor<br>
MariSwamy N B-Attender.


<br>

<div>
<img src="/mca_photos/20190207_110449.jpg">
</div>

<br>
<br>