<h3>Policies of BIT</h3>
<ul>
    <li style="list-style-type: none;">
        <ul>
            <a href="/documents/Feedback-Report-1.pdf" target="blank"
                rel="noopener noreferrer">1. PERFORMANCE ANALYSIS COUNSELLING &amp; FEEDBACK IMPLEMENTATION
                COMMITTEE</a>&nbsp;<p></p>
            <p><a href="/documents/RECRUITMENT-POLICIES-1.pdf"
                    target="blank" rel="noopener noreferrer"> 2. RECRUITMENT POLICY</a>&nbsp;</p>
            <p><a href="/documents/RVS-Service-Rules-1.pdf" target="blank"
                    rel="noopener noreferrer"> 3. SERVICE RULES</a></p>
        </ul>

    </li>
</ul>