    <p>
<strong>Sports Committee Members:</strong>
</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="64">
<p >
<strong>Sl. No.</strong>
</p>
</td>
<td width="254">
<p >
<strong>Name</strong>
</p>
</td>
<td>
<p >
<strong>Department</strong>
</p>
</td>
<td>
<p >
<strong>Designation</strong>
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
1
</p>
</td>
<td width="254">
<p>
Dr. Hemanth Kumar A. R.
</p>
</td>
<td>
<p >
ECE
</p>
</td>
<td>
<p >
Chairman
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
2
</p>
</td>
<td width="254">
<p>
Mr. Dase Gowda K. T.
</p>
</td>
<td>
<p >
PED/SPORTS
</p>
</td>
<td>
<p >
PED
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
3
</p>
</td>
<td width="254">
<p>
Prof. Shankar Gowda B N
</p>
</td>
<td>
<p >
CSE
</p>
</td>
<td>
<p >
Sports Secretary
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
4
</p>
</td>
<td width="254">
<p>
Dr. Balakrishna H. B.
</p>
</td>
<td>
<p >
CIVIL
</p>
</td>
<td>
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
5
</p>
</td>
<td width="254">
<p>
Prof. M. B. Girish
</p>
</td>
<td>
<p >
CIVIL
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64">
<p >
6
</p>
</td>
<td width="254">
<p>
Prof. Girish Kumar N.G
</p>
</td>
<td>
<p >
TE
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64" valign="bottom">
<p >
7
</p>
</td>
<td width="254" valign="bottom">
<p>
Prof. Karthik B
</p>
</td>
<td valign="bottom">
<p >
CIVIL
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64" valign="bottom">
<p >
8
</p>
</td>
<td width="254" valign="bottom">
<p>
Prof. Preethi K H
</p>
</td>
<td valign="bottom">
<p >
IEM
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64" valign="bottom">
<p >
9
</p>
</td>
<td width="254" valign="bottom">
<p>
Mr. Jayaram V (Kabaddi)
</p>
</td>
<td valign="bottom">
<p >
MECH
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
<tr>
<td width="64" valign="bottom">
<p >
10
</p>
</td>
<td width="254" valign="bottom">
<p>
Mr. Jayaram T
</p>
</td>
<td valign="bottom">
<p >
OFFICE
</p>
</td>
<td valign="top">
<p >
Member
</p>
</td>
</tr>
</tbody>
</table>
<p>
Mr. Dase Gowda K. T. Dr. Hemanth Kumar A R
</p>
<p>
PED, BIT Chairman, SC, BIT
</p>
<p>
Prof. B. N. Shankar Gowda Dr. M. U. Aswath
</p>
<p>
Sports Secretary, BIT Principal, BIT
</p>


<p >
<img src="/faculty/S1.jpg">
</p>
<p >
<strong>Mr. K. T . Dasegowda</strong><br>
Physical Education Director,
</p>

<p>
<strong></strong>
</p>

<table class="table table-bordered table-sm">
<tbody>
<tr>
<td valign="top">
<p>
<strong>Name</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>Mr. K. T . Dasegowda </strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>Qualification</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>M.P.Ed., </strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>Current Institution</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>Physical Education Director,</strong>
<strong> </strong>
<strong>
Bangalore Institute of Technology , Bangalore -560 004
</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>Telephone</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>(O) 080-26613237(M) 9880497336 </strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>Fax</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>080-22426796</strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>Email</strong>
</p>
</td>
<td width="481" valign="top">
<p>
<strong>ktdasegowda@gmail.com</strong>
<strong></strong>
</p>
</td>
</tr>
</tbody>
</table>
<p>
<strong></strong>
</p>
<p>
<strong>Profile of Professional Career:</strong>
<strong></strong>
</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td valign="top">
<p>
<strong>Sl. No.</strong>
<strong></strong>
</p>
</td>
<td valign="top">
<p>
<strong>Name &amp; Address of the Employer</strong>
<strong></strong>
</p>
</td>
<td valign="top">
<p>
<strong>
Period of Service in each post (Duration in months)
</strong>
<strong></strong>
</p>
</td>
<td valign="top">
<p>
<strong>Designation of Post Held</strong>
<strong></strong>
</p>
</td>
<td valign="top">
<p>
<strong>
Nature of Work and Level of Responsibilities
</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td valign="top">
<p>
<strong>1</strong>
</p>
</td>
<td valign="top">
<p>
<strong>
Bangalore Institute of Technology, Bangalore
</strong>
<strong></strong>
</p>
</td>
<td valign="top">
<p>
<strong>From March 1988 To Till date</strong>
</p>
</td>
<td valign="top">
<p>
<strong>Physical Education Director</strong>
</p>
</td>
<td valign="top">
<p>
<strong>Coaching, organizing and other work</strong>
</p>
</td>
</tr>
</tbody>
</table>