{% extends "layout.html" %} {% block title %}DEPARTMENT OF PHYSICAL EDUCATION &amp; SPORTS SCIENCE{% endblock %} {% block content %}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF PHYSICAL EDUCATION &amp; SPORTS SCIENCE</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p>The Department of Sports & Games in BIT was established in the year 1981 with affiliation to BANGALORE UNIVERSITY, under the leadership of Mr. Lingaiah, Sports officer BIT. Mr. K. T. Dasegowda is the Physical Education Director since
                        1980. Department of Physical Education & Sports Science of BIT serves an integral part of student and staff life on campus. The aim is to provide a broad spectrum of sports, recreation and leisure activities for students, and staff
                        Members. The department is striving to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and
                        leadership opportunities.</p><br><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card" style="height: 23rem;">
                                    <img src="/faculty/S1.jpg" class="card-img-top" alt="..." style="height:275px ;">
                                    <div class="card-body">
                                        <h5 class="card-title">Mr. K. T. Dasegowda</h5>
                                        <p class="card-text">Physical Education Director</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card" style="height: 23rem;">
                                    <img src="/faculty/S2.jpg" style="height:275px ;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Prof. B.N. Shankar Gowda</h5>
                                        <p class="card-text">Sports Secretary<br><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Team Member Area -->
                    <div class="section-heading mt-30">
                        <h5>Vision and Mission</h5>
                    </div>


                    <h3>Vision</h3>
                    <p>
                        To promote “Sports for ALL” and be the state of art facility center to the students and staff for sound physical and psychological health.
                    </p>
                    <h2>Mission </h2>
                    <p>
                        · To create state of art Infrastructure for Sports and Games.
                    </p>
                    <p>
                        · To motivate the Students and Staff for active participation in sports and games for the overall personality development.
                    </p>
                    <p>
                        · To build a comprehensive program that enhances student learning, team building, leadership qualities and wellness.
                    </p>
                    <h2>Objectives of Sports and Games is to Promote </h2>

                    <p>.
                        <strong>Health</strong> : reducing stress and strain on body and mind.
                    </p>
                    <p>.
                        <strong>General Wellbeing</strong> : Physical Education enhances feelings of happiness.
                    </p>
                    <p>.
                        <strong>Good Habits</strong> : Physical Education early on ensures that adults continue exercising for many years to come.
                    </p>
                    <p>.
                        <strong>Team players</strong> : Physical Education makes participants into good team players.
                    </p>
                    <p>.
                        <strong>Self-help</strong> : a great way to help ourselves with our issues.
                    </p>
                    <p>.
                        <strong>Overall Development</strong> : all round development, not just academic
                    </p>

                    <h2>We Strive to Meet Our Mission by</h2>
                    <p>• Easy to Follow, Precise Steps – By following these steps, you have clear, focused goals which make it simple to train and create the drive towards sports.<br> • Motivational Training, Motivational talks.<br> • Goal-Oriented Instructions,
                        Increase confidence in competition and a winning performance.</p>

                    <div class="section-heading mt-30">
                        <h5>Staff</h5>
                    </div>
                    {% for fac in facs %}
                    <!-- Single Team Member -->
                    <a href="#" style="margin: 10px;">
                        <div class="single-team-member d-flex align-items-center">
                            <div class="team-member-thumbnail">
                                <img src="/faculty/{{fac[0]}}.jpg" alt="">

                            </div>
                            <div class="team-member-content">
                                <h6>{{fac[1]}}</h6>
                                <span>{{fac[2]}}</span>

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">

                    <div class="section-heading">
                        <h5>Other Links</h5>
                    </div>
                    <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">

                        <div class="social-followers-info">
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','ach')"><span>Achievements </span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','acti')"><span>Activities </span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','faci')"><span>Facility </span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','comm')"><span>Committee Members</span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','comp')"><span>Competition</span></button>
                            <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('SPO','event')"><span>Events</span></button>
                            <br>
                        </div>
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Announcements</h5>
                            </div>
                            {% if annons|length==0 %}
                            <div> No Announcements</div>
                            <hr> {% else %} {% for annon in annons %}
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <span style="font-size: xx-large;">{{annon[2].day}}</span><span>{{getDate(annon[2].day)}}</span><br>{{annon[2].strftime("%b")}} {{annon[2].year}}
                                </div>
                                <div class="post-content">
                                    <a href="/announcement/{{annon[0]}}" class="post-title">{{annon[1]}}</a>
                                </div>
                            </div>

                            {% endfor %}
                            <div><a href="/archive/SPO/1" style="color: inherit;"><button class="btn"><span>View all</span></button> </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
        </div>
        {% endblock %}