    <p >
<strong>
SPORTS EVENTS HOSTED BY BIT DURING THE LAST FOUR ACADEMIC YEARS
(2015-16)
</strong>
<strong> AS FOLLOWS.</strong>
</p>
<p>
<strong> </strong>
</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="90" valign="top">
<p >
<strong>Sl no</strong>
</p>
</td>
<td width="171" valign="top">
<p >
<strong>Name of the Event</strong>
</p>
</td>
<td width="180" valign="top">
<p >
<strong>Date</strong>
</p>
</td>
<td width="242" valign="top">
<p >
<strong>Venue</strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2015-16</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT </strong>
<strong>Annual Athletic Meet </strong>
<strong>2015-16</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>19<sup>th</sup> March 2016</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>
Kitturu Rani Channamma Stadium , Jayanagar, Bangalore
</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2015-16</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT</strong>
<strong> Inter Branch Annual Sports Indoor Games </strong>
<strong>2015-16</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
25<sup>th</sup> to 28<sup>th </sup> March 2016
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Sports Room Bangalore</strong>
</p>
<p>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2016-17</strong>
<strong></strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>
VTU Bangalore Centre Zone Inter Collegiate Kabaddi
Tournament 2016-17
</strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>22/04/2016 to 23/04/2016</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Quadrangle, Bangalore -04</strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2016-17</strong>
<strong></strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT </strong>
<strong>Annual Athletic Meet </strong>
<strong>2016-17</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>22<sup>nd</sup> February 2017</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>
Kitturu Rani Channamma Stadium , Jayanagar, Bangalore
</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2016-17</strong>
<strong></strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT</strong>
<strong> Inter Branch Annual Sports Indoor Games </strong>
<strong>2016-17</strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>2nd to 8<sup>th</sup> May 2017</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Sports Room, Bangalore</strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2017-18</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>
BIT Inter Branch Kabaddi Tournament 2017-18
</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
10<sup>th</sup> to 11<sup>th</sup> November 2017
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Quadrangle, Bangalore -04</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2017-18</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT </strong>
<strong> Annual Athletic Meet </strong>
<strong>2017-18</strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>22<sup>nd</sup> February 2018</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>
Kitturu Rani Channamma Stadium, Jayanagar, Bangalore
</strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2017-18</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT</strong>
<strong> Inter Branch Annual Sports Indoor Games </strong>
<strong>2017-18</strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
12<sup>th</sup> to 14<sup>th</sup> March 2018
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Sports Room, Bangalore</strong>
</p>
<p>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2017-18</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>
BIT Inter Branch Volley ball Tournament 2017-18
</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
16<sup>th</sup> to 17<sup>th</sup> March 2018
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Quadrangle, Bangalore -04</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2018-19</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>
BIT Inter Branch Kabaddi Tournament 2018-19
</strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
30<sup>th</sup> and 31<sup>st</sup> October 2018
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Quadrangle, Bangalore -04</strong>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2018-19</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>
All India Inter University Aquatic Women Championship
2018-19
</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>
2<sup>nd</sup> to 4<sup>th</sup> November 2018
</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>
Basavanagudi Aquatic Centre, &amp; Nisha millet
Swimming Academy Bangalore
</strong>
</p>
<p>
<strong></strong>
</p>
</td>
</tr>
<tr>
<td width="90" valign="top">
<p>
<strong>2018-19</strong>
</p>
</td>
<td width="171" valign="top">
<p>
<strong>BIT Inter</strong>
<strong> Branch </strong>
<strong>Tag of War </strong>
<strong> tournament</strong>
<strong> 2018-19</strong>
<strong></strong>
</p>
</td>
<td width="180" valign="top">
<p>
<strong>18<sup>th</sup> September 2018</strong>
</p>
</td>
<td width="242" valign="top">
<p>
<strong>BIT Quadrangle, Bangalore -04</strong>
<strong></strong>
</p>
</td>
</tr>
</tbody>
</table>
<p >
<strong></strong>
</p>
<p >
<strong>Inter Branch Kabaddi tournament, organized by </strong>
<strong>Rotaract Club of BIT and Sports Dept </strong>
<strong>for the year 2018 -19</strong>
</p>
<p >
<strong> </strong>
<strong>
BIT conducted the Annual kabaddi tournament "Le Panga - 2k18" at the
BIT campus on 30th and 31st October, 2018.
</strong>
</p>

<p >
<img width="643" height="375" src="/sports_photos/image007.jpg" alt="IMG_5288.JPG">
</p>
<p >
<img width="681" height="361" src="/sports_photos/image009.jpg">
</p>
<p>
<strong> </strong>
</p>
<p >
<img width="602" height="415" src="/sports_photos/image011.png" alt="https://lh6.googleusercontent.com/jzXOL3SfTZx5xgBH5HWFvRo6mHU0jOJ1eox8FgfCMrs5k8pB0-_iH17SiHCfNeiMmeaGWKvufHiHwBWDmrkLRMsxB5CDhnY8HUsJDmcWfeOVFtVVhPZazSHWHSb0WDDRv16m1ANT03k">
</p>
<p >
<strong>
BIT conducted the Annual Volley ball tournament 2018 at the BIT campus.
</strong>
</p>
<p >
<img width="641" height="427" src="/sports_photos/image013.jpg">
</p>
<p>
<strong></strong>
</p>
<p >
<strong>
BIT Football Team winning the VTU Bengaluru Central Zone Inter
Collegiate Football Tournament 2019-20, organized by Dr. Ambedkar
Institute of Technology, Bengaluru held on 21<sup>st</sup> and 22        <sup>nd</sup> March 2019
</strong>
.
</p>
<p >
<img width="641" height="247" src="/sports_photos/image017.jpg">
</p>
<p>
<strong></strong>
</p>
<p>
<strong></strong>
</p>
<p>
<strong></strong>
</p>
<p >
<strong>
BIT conducted the Annual Tag of War Competitions 2018 at the BIT
campus.
</strong>
</p>
<p >
<img width="641" height="427" src="/sports_photos/image019.jpg">
</p>