    <h3>ACTIVITIES</h3>

<p>
· Intramural activities
</p>
<p>.
Extramural activities
</p>
<p>·
Organization of tournament

</p><p>·
Training and coaching in elite sports competitions
</p>
<p>·
Enrolments of students in the concerned sports and games
</p>

<p>
· Enrolments of Staff Sports in the concerned sports and games
</p>
<p>
· Coaching Camp conducted for VTU in the different discipline to
participate in inter-University competitions both in Sports as well as
Cultural activities.
</p>
<p>
· Motivational Training, Motivational talks.<strong></strong>
</p>
<p>
· Goal-Oriented Instructions<strong></strong>
</p>

<p>
<strong></strong>
</p>
<p>
<strong>Constitution: </strong>
</p>
<p>
The Constitution of the Committee shall be according to the structure given
below:
</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="66">
<p>
<strong>Sl. No.</strong>
<strong></strong>
</p>
</td>
<td width="501">
<p>
<strong>Category</strong>
</p>
</td>
<td width="104">
<p>
<strong>Status</strong>
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
1
</p>
</td>
<td width="501">
<p>
Faculty at Professor/ Associate Professor cadre nominated
by Principal
</p>
</td>
<td width="104">
<p>
Chairperson
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
2
</p>
</td>
<td width="501">
<p>
Faculty at Professor/ Associate Professor cadre nominated
by Principal
</p>
</td>
<td width="104">
<p>
Sports Secretary
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
3
</p>
</td>
<td width="501">
<p>
PED of Sports department of BIT
</p>
</td>
<td width="104">
<p>
Members
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
4
</p>
</td>
<td width="501">
<p>
One Faculty (Women) who is interested in Sports development
at BIT
</p>
</td>
<td width="104" valign="top">
<p>
Members
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
5
</p>
</td>
<td width="501">
<p>
Two Senior Faculty Advisors
</p>
</td>
<td width="104" valign="top">
<p>
Members
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
6
</p>
</td>
<td width="501">
<p>
Two Young Faculty members in the cadre of Assistant
Professor
</p>
</td>
<td width="104" valign="top">
<p>
Members
</p>
</td>
</tr>
<tr>
<td width="66">
<p>
7
</p>
</td>
<td width="501">
<p>
Two non Teaching members
</p>
</td>
<td width="104" valign="top">
<p>
Members
</p>
</td>
</tr>
</tbody>
</table>
<p>
<strong>Functions: </strong>
</p>
<p>
· Sports Committee is to prepare the polices, strategies and implementation
framework for sports development in BIT
</p>
<p>
· Sports Committee shall work for the provision of funding and resources in
support of sports development at BIT.
</p>
<p>
· The Sports Committee shall create a Sports culture in the institution by
organizing various sports activities like Annual athletic meet, Indoor
events, Kabaddi, Cricket etc.
</p>
<p>
<strong>Term: </strong>
</p>
<p>
· The term of Sports Committee is for two years and shall continue to be in
force until reconstitution.
</p>
<p>
<strong>Meetings &amp; Quorum: </strong>
</p>
<p>
· The Sports Committee shall conduct minimum two meetings per semester.
However, the meeting may be scheduled periodically as and when necessary.
The quorum for all the meetings shall be one half of the committee members.
</p>