    <h3>Achievements:</h3>
<p>Students brought laurels to the Institution by representing VTU,the students (Players) of BIT participated in the VTU Bangalore Zone &amp; Inter Zone Inter Collegiate Competitions and Scoring Points and Ranking in the Sports and Cultural events, during the Year 2014-15 to 2017-18, as follows.</p>
<table class="table table-bordered table-sm">
<thead>
<tr>
<th width="38">
<p>Sl No</p>
</th>
<th width="132">
<p> Year</p>
</th>
<th width="227">
<p>Total Nos. of students participated in the VTU Sports Events</p>
</th>
<th width="113">
<p> Scored the</p>
<p>VTU Points</p>
</th>
<th width="151">
<p>  VTU  Ranking</p>
</th>
</tr>
</thead>
<tbody>
<tr>
<td width="38">
<p>1</p>
</td>
<td width="132">
<p>2014-15</p>
</td>
<td width="227">
<p>171</p>
</td>
<td width="113">
<p>282</p>
</td>
<td width="151">
<p>17<sup>th</sup></p>
</td>
</tr>
<tr>
<td width="38">
<p>2</p>
</td>
<td width="132">
<p>2015-16</p>
</td>
<td width="227">
<p>165</p>
</td>
<td width="113">
<p>243</p>
</td>
<td width="151">
<p>23<sup>rd</sup></p>
</td>
</tr>
<tr>
<td width="38">
<p>3</p>
</td>
<td width="132">
<p>2017-18</p>
</td>
<td width="227">
<p>172</p>
</td>
<td width="113">
<p>270</p>
</td>
<td width="151">
<p>20th</p>
</td>
</tr>
</tbody>
</table>
<p>Sports  and  Cultural  events, reimbursement &amp; cash awards received from VTU during the year 1999-2004 to 2004 -05 to 2016-17 as follows.</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="55">
<p><strong>Sl No </strong></p>
</td>
<td width="223">
<p><strong>Sports Development fund received from VTU</strong></p>
</td>
<td width="253">
<p><strong>VTU Cash Awards</strong></p>
</td>
<td width="117">
<p><strong>During  the Year</strong></p>
</td>
</tr>
<tr>
<td width="55">
<p>1</p>
</td>
<td width="223">
<p>94,500</p>
</td>
<td width="253">
<p>———–</p>
</td>
<td width="117">
<p>1999-04</p>
</td>
</tr>
<tr>
<td width="55">
<p>2</p>
</td>
<td width="223">
<p>69,650/-</p>
</td>
<td width="253">
<p>50,000/-</p>
</td>
<td width="117">
<p>2004-05</p>
</td>
</tr>
<tr>
<td width="55">
<p>3</p>
</td>
<td width="223">
<p>————</p>
</td>
<td width="253">
<p>50,000/-</p>
</td>
<td width="117">
<p>2005-06</p>
</td>
</tr>
<tr>
<td width="55">
<p>4</p>
</td>
<td width="223">
<p>59,650/-</p>
</td>
<td width="253">
<p>———–</p>
</td>
<td width="117">
<p>2006-07</p>
</td>
</tr>
<tr>
<td width="55">
<p>5</p>
</td>
<td width="223">
<p>80,450/-</p>
</td>
<td width="253">
<p>———-</p>
</td>
<td width="117">
<p>2007-08</p>
</td>
</tr>
<tr>
<td width="55">
<p>6</p>
</td>
<td width="223">
<p>82,375/-</p>
</td>
<td width="253">
<p>———-</p>
</td>
<td width="117">
<p>2008-09</p>
</td>
</tr>
<tr>
<td width="55">
<p>7</p>
</td>
<td width="223">
<p>87,750/-</p>
</td>
<td width="253">
<p>1,00,000/-</p>
</td>
<td width="117">
<p>2009-10</p>
</td>
</tr>
<tr>
<td width="55">
<p>8</p>
</td>
<td width="223">
<p>90,725/-</p>
</td>
<td width="253">
<p>———–</p>
</td>
<td width="117">
<p>20010-11</p>
</td>
</tr>
<tr>
<td width="55">
<p>9</p>
</td>
<td width="223">
<p>1,01,250/-</p>
</td>
<td width="253">
<p>1,00,000/-</p>
</td>
<td width="117">
<p>20014-15</p>
</td>
</tr>
<tr>
<td width="55">
<p>10</p>
</td>
<td width="223">
<p>1,14,750/-</p>
</td>
<td width="253">
<p>————</p>
</td>
<td width="117">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="55">
<p>11</p>
</td>
<td width="223">
<p>1,23,050/-</p>
</td>
<td width="253">
<p>————–</p>
</td>
<td width="117">
<p>2016-17</p>
</td>
</tr>
<tr>
<td width="55">
<p><strong>                         </strong></p>
</td>
<td width="223">
<p><strong>            Rs. 9,04,150/-</strong></p>
</td>
<td width="253">
<p><strong>                Total Rs. 3,00,000/-</strong></p>
</td>
<td width="117">
<p><strong>   </strong></p>
</td>
</tr>
</tbody>
</table>
<h2>Grand Total Rs.12, 04,150/-</h2>
<h2>MEDALS WON BY BIT  STUDENTS</h2>
<p>The following students (Players)won the medals in the VTU Competitions for the following games in the below mentioned years</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="151">
<p>Poorna Chandra </p>
</td>
<td width="47">
<p>7<sup>th</sup> </p>
</td>
<td width="57">
<p>Civil </p>
</td>
<td width="104">
<p>Archery </p>
</td>
<td width="265">
<p>Won the 02 Gold   Medals  in VTU Competitions  </p>
</td>
<td width="76">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="151">
<p> Sapthami US</p>
</td>
<td width="47">
<p>3<sup>rd</sup> </p>
</td>
<td width="57">
<p>EEE</p>
</td>
<td width="104">
<p>Swimming </p>
</td>
<td width="265">
<p>Won the  03 Silver, and 03 Bronze   Medals in VTU Competitions</p>
</td>
<td width="76">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="151">
<p>Chethana  R Gowda</p>
</td>
<td width="47">
<p>1<sup>st</sup> </p>
</td>
<td width="57">
<p>Mech</p>
</td>
<td width="104">
<p>Swimming </p>
</td>
<td width="265">
<p>1 Bronze  Medals in VTU Competitions</p>
</td>
<td width="76">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="151">
<p>  Sapthami US</p>
</td>
<td width="47">
<p>5th </p>
</td>
<td width="57">
<p>Civil</p>
</td>
<td width="104">
<p>Swimming </p>
</td>
<td width="265">
<p>Won the 01 Gold 01 Silver and 06 Bronze  Medals  in VTU Competitions  </p>
</td>
<td width="76">
<p>2016-17</p>
</td>
</tr>
<tr>
<td width="151">
<p>  Adithya   A</p>
</td>
<td width="47">
<p>7th</p>
</td>
<td width="57">
<p>CSE</p>
</td>
<td width="104">
<p>Best Physique</p>
</td>
<td width="265">
<p>Winning 01 Silver Medal in VTU </p>
</td>
<td width="76">
<p>2016-17</p>
</td>
</tr>
<tr>
<td width="151">
<p>  Prajan M</p>
</td>
<td width="47">
<p>5th</p>
</td>
<td width="57">
<p>E&amp; C</p>
</td>
<td width="104">
<p>Weight lifting</p>
</td>
<td width="265">
<p>Winning 01 Silver Medal in VTU </p>
</td>
<td width="76">
<p>2017-18</p>
</td>
</tr>
<tr>
<td width="151">
<p>  Sapthami US</p>
</td>
<td width="47">
<p>7th</p>
</td>
<td width="57">
<p>Civil</p>
</td>
<td width="104">
<p>Swimming </p>
</td>
<td width="265">
<p>Winning 03 Silver and 03 Bronze medals in VTU competitions  </p>
</td>
<td width="76">
<p>2017-18</p>
</td>
</tr>
<tr>
<td width="151">
<p>Shravanth Srinivas</p>
</td>
<td width="47">
<p>1st</p>
</td>
<td width="57">
<p>Mech.</p>
</td>
<td width="104">
<p>Swimming </p>
</td>
<td width="265">
<p>Winning 04 silver &amp; 06 Bronze  medal s  in  VTU competitions  </p>
</td>
<td width="76">
<p>2018-19</p>
</td>
</tr>
<tr>
<td width="151">
<p>  Prajan M</p>
</td>
<td width="47">
<p>7th </p>
</td>
<td width="57">
<p>E&amp; C</p>
</td>
<td width="104">
<p>Weight lifting</p>
</td>
<td width="265">
<p>1 Silver Medal In VTU Inter Collegiate  Competitions  </p>
</td>
<td width="76">
<p>2018-19</p>
</td>
</tr>
<tr>
<td width="151">
<p>Kushal</p>
</td>
<td width="47">
<p>1st</p>
</td>
<td width="57">
<p>MBA</p>
</td>
<td width="104">
<p>Gymnastics</p>
</td>
<td width="265">
<p> Winning 03 Silver Medals &amp; 01 Bronze Medal &amp; Men Runner UP Trophy  in  the VTU Inter Collegiate  Competitions</p>
</td>
<td width="76">
<p>2018-19</p>
</td>
</tr>
</tbody>
</table>
<h2>UNIVERSITY REPRESENTED PLAYERS</h2>
<p>The following BIT, students represented the VTU teams for the following games in the below mentioned years</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="265">
<p>SAPTHAMI  U S</p>
</td>
<td width="57">
<p>3<sup>rd</sup> </p>
</td>
<td width="94">
<p>EEE</p>
</td>
<td width="151">
<p>Swimming</p>
</td>
<td width="123">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="265">
<p>MAYOR   D</p>
</td>
<td width="57">
<p>7<sup>th</sup> </p>
</td>
<td width="94">
<p>E &amp; C</p>
</td>
<td width="151">
<p>Water polo</p>
</td>
<td width="123">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="265">
<p>TUSHAR  K                      </p>
</td>
<td width="57">
<p>7<sup>th</sup> </p>
</td>
<td width="94">
<p>CSE</p>
</td>
<td width="151">
<p>Water polo</p>
</td>
<td width="123">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="265">
<p>POORNA CHANDRA</p>
</td>
<td width="57">
<p>7<sup>th</sup> </p>
</td>
<td width="94">
<p>Civil</p>
</td>
<td width="151">
<p>Archery</p>
</td>
<td width="123">
<p>2015-16</p>
</td>
</tr>
<tr>
<td width="265">
<p>SAPTHAMI  U S</p>
</td>
<td width="57">
<p>5<sup>th</sup> </p>
</td>
<td width="94">
<p>Civil</p>
</td>
<td width="151">
<p>Swimming</p>
</td>
<td width="123">
<p>2016-17</p>
</td>
</tr>
<tr>
<td width="265">
<p>GANAPATHI  P M</p>
</td>
<td width="57">
<p>5<sup>th</sup> </p>
</td>
<td width="94">
<p>IEM</p>
</td>
<td width="151">
<p>Tennis</p>
</td>
<td width="123">
<p>2016-17</p>
</td>
</tr>
<tr>
<td width="265">
<p>SAPTHAMI  U S</p>
</td>
<td width="57">
<p>7<sup>th</sup>  </p>
</td>
<td width="94">
<p>Civil</p>
</td>
<td width="151">
<p>Swimming</p>
</td>
<td width="123">
<p>2017-18</p>
</td>
</tr>
<tr>
<td width="265">
<p>AKSHAY KUMAR  R</p>
</td>
<td width="57">
<p>5<sup>th</sup> </p>
</td>
<td width="94">
<p>Mech.</p>
</td>
<td width="151">
<p>Kabaddi</p>
</td>
<td width="123">
<p>2017-18</p>
</td>
</tr>
<tr>
<td width="265">
<p>KUSHAL</p>
</td>
<td width="57">
<p>1<sup>st</sup> </p>
</td>
<td width="94">
<p>MBA</p>
</td>
<td width="151">
<p>Gymnastics</p>
</td>
<td width="123">
<p>2018-19</p>
</td>
</tr>
<tr>
<td width="265">
<p>SHRAVANTH SRINIVAS</p>
</td>
<td width="57">
<p>1<sup>st</sup> </p>
</td>
<td width="94">
<p>Mech.</p>
</td>
<td width="151">
<p>Swimming </p>
</td>
<td width="123">
<p>2018-19</p>
</td>
</tr>
</tbody>
</table>
<h2>Winners in VTU &amp; Others Inter-collegiate Tournaments</h2>
<p>The following  teams winning the Trophies,  in the VTU Bangalore Central Zone and Inter Zone Inter Collegiate tournaments, during the Year 2015-16 to 2017-18</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="73">
<p>2015-16</p>
</td>
<td width="463">
<p>a)  VTU Bangalore Central Zone  Inter Collegiate  Hockey  Men  tournament   </p>
<p>d)  VTU Bangalore Central  Zone  Table Tennis  Men   tournament </p>
<p>c)  VTU Single Zone  Swimming Woman’s  team  Champion ship   </p>
</td>
<td width="132">
<p>Runners Trophy</p>
<p>Runners Trophy</p>
<p>Runners trophy</p>
</td>
</tr>
<tr>
<td width="73">
<p>2016-17</p>
</td>
<td width="463">
<p>a)  VTU Bangalore Central Zone  Inter Collegiate  Tennis  Men  tournament </p>
<p>b) VTU Inter Zone Inter Collegiate  Tennis  Men  tournament </p>
<p>c)  VTU Bangalore  Central  Zone   Table Tennis  Woman’s  tournament </p>
<p>d)  VTU Inter Zone Inter  Collegiate Table Tennis Woman’s  tournament </p>
<p> e) VTU Single Zone  Swimming Women s   team  Champion ship   </p>
</td>
<td width="132">
<p>Winners Trophy</p>
<p>Runners Trophy</p>
<p>Runners Trophy</p>
<p>Runners Trophy</p>
<p>2<sup>nd</sup> runner trophy</p>
</td>
</tr>
<tr>
<td width="73">
<p>2017-18</p>
</td>
<td width="463">
<p>a)  VTU Bangalore   Zone  Inter Collegiate  Tennis  Men   tournament </p>
<p>b)  VTU Bangalore Central  Zone   Table Tennis  Woman’s  tournament   </p>
<p>c)  VTU Inter Zone  Inter Collegiate Table Tennis Woman’s tournament  </p>
<p>d)  VTU Bangalore Central  Zone  Inter Collegiate Cricket  tournament </p>
</td>
<td width="132">
<p>Winners Trophy</p>
<p>Winners Trophy</p>
<p>Winners Trophy</p>
<p>Winners Trophy</p>
</td>
</tr>
<tr>
<td width="73">
<p>2018-19</p>
</td>
<td width="463">
<p>a)  VTU Inter  Collegiate  Gymnastics   Men  Champion ship    </p>
</td>
<td width="132">
<p>Runners Trophy</p>
</td>
</tr>
</tbody>
</table>
<p>The following teams winning the Trophies, in the Bangalore City and others Inter Collegiate tournaments, during the Year 2017-18</p>
<table class="table table-bordered table-sm">
<tbody>
<tr>
<td width="71">
<p>2016-17</p>
</td>
<td width="464">
<p> a)  RVCE     Inter Collegiate  Tennis   Tournament</p>
<p> b)  BMSCE   Inter Collegiate  Tennis   Tournament</p>
<p> c)  Ghosia  Inter Collegiate  Football   Tournament</p>
</td>
<td width="128">
<p>Winners Trophy</p>
<p>Winners Trophy Runners Trophy</p>
</td>
</tr>
<tr>
<td width="71">
<p>2017-18</p>
</td>
<td width="464">
<p> a)  RVCE  Inter Collegiate  Tennis     Tournament</p>
<p> b)  UVCE Inter Collegiate  Football    Tournament</p>
<p> c) National College Jayanagar Basketball Women tournament         </p>
<p> d)  BMSCE Inter Collegiate Table Tennis  Women  Tournament</p>
</td>
<td width="128">
<p>Winners Trophy</p>
<p>Winners Trophy</p>
<p>Winners Trophy</p>
<p>Winners Trophy</p>
</td>
</tr>
<tr>
<td width="71">
<p>2018-19</p>
</td>
<td width="464">
<p> Mysore  Dasara   Gymnastic  Competitions   C.M.  CUP -2018</p>
</td>
<td width="128">
<p>Winners Trophy</p>
</td>
</tr>
</tbody>
</table>
<h2>BIT Organized below mentioned  events:</h2>
<p>•	Conducted the All India Inter University Aquatic  Men and Women Championship 2004-05 at Basavanagudi Aquatic Centre, and P.M Swimming Pool Jayanagar  Bangalore<br>
•	Organized the VTU Inter Collegiate  Aquatic Men and Women Championship 2010-11   at Basavanagudi Aquatic Centre, Bangalore<br>
•	Organized the VTU Inter Collegiate Aquatic Men and Women Championship 2012-13 at Global Swimming Pool, Sadashivnagar.  Bangalore<br>
•	Organized the VTU Bangalore Central Zone Kabaddi Men tournament 2016-17 at  BIT Campus, Bangalore<br>
•	Conducted the All India Inter University Aquatic Women Championship 2018-19 at Basavanagudi Aquatic Centre, Nisha millet Swimming Academy.  </p>
<h2>Other Achievements by Students </h2>
<p>BIT Swimmer  Miss. Pooja R Alva winning VTU  Overall Champion ship Trophy and  winning Nos. of Medals in the All India Inter University, and represented India  in Common wealth games</p>
<p><img src="/sports_photos/ga1.jpg" class="image-page"></p>
<p>BIT Swimmer  Miss.Sushaka prathap  won the  Winner Trophies  in VTU Swimming  Competitions and also  Winning the Medals in the All India Inter University Competitions  and received the Best Spots Women award from VTU</p>
<p><img src="/sports_photos/ga2.jpg" class="image-page"></p>
<p>BIT  Swimmer  Miss. Sapthami U S won VTU  Runners Up Trophy and won the Medals in the All India Inter University Competitions </p>
<p><img src="/sports_photos/ga3.jpg" class="image-page"></p>
<p>BIT Hockey team won the VTU  Bangalore Central Zone Runners Trophy 2016-17</p>
<p><img src="/sports_photos/ga4.jpg" class="image-page"></p>
<p>BIT Cricket Men team won the VTU Bangalore Central Zone Inter Collegiate Cricket tournament Winners Trophy  2017-18</p>
<p><img src="/sports_photos/ga5.png" class="image-page"></p>
<p>BIT Table Tennis Women Team Won the Winner’s Trophies  in the VTU Bangalore Central Zone &amp; Inter Zone Inter Collegiate tournaments 2017-18</p>
<p><img src="/sports_photos/ga6.png" class="image-page"></p>
<p>BIT Weight Lifting player Mr. Prajan M Winning 01 Silver Medal in the VTU Competitions 2017-18 and  2018-19</p>
<p><img src="/sports_photos/ga7.jpg" class="image-page"></p>
<p>BIT Gymnastic player Mr. Kushal Winning 03 Silver &amp; 01 Bronze Medals and Runner up Trophy in VTU Competitions – 2018-19</p>
<p><img src="/sports_photos/ga8.jpg" class="image-page"></p>
<p>INTER BRANCH  KABADDI  TOURNAMENT, ORGANIZING BY  BIT FOR THE YEAR 2018 -19</p>
<p><img src="/sports_photos/ga9.jpg" class="image-page"></p>
<p>Lighting the lamp by Guests of All India Inter University Aquatic Women Championship 2018-19 Conducted by BIT</p>
<p><img src="/sports_photos/ga10.jpg" class="image-page"></p>

<p>
<strong>
<u>
SUB: BREIF REPORT Of ALL INDIA INTER UNIVERSITY, AQUATIC WOMEN
CHAMPIONSHIP FOR THE YEAR 2018-19
</u>
</strong>
</p>
<p>
The above championship was conducted at Basavanagudi Aquatic Centre and
Nisha Millet Swimming Academy Ulsoor Bengaluru. from 2<sup>nd</sup> to 4    <sup>th</sup> November 2018 by Visveswaraya Technological University
Belagavi in association with BIT Bangalore and Technical support was
Officiating is done by Karnataka Swimming Association. Previous day there
was a Managers meeting regarding brief details about the championship at
Bangalore Institute of Technology campus, Bengaluru.
</p>
<p>
Total 300 participants from 85 university across India has participated in
this championship day one started with colorful march fast and grand
Opening ceremony in presence of Chief Guest    <strong>Dr G Parameshwara </strong>Deputy Chief minister, Govt of Karnataka
and Shri <strong>Basavaraja Horatti,</strong> Honb’le Chairman ,Karnataka
Legislative Council, Govt of Karnataka,    <strong>Dr. H.N Jagannath Reddy </strong>Registrar of VTU Belagavi and
Chairman, President and Vice President of KSA and<strong>Dr. P Chinnappa Reddy</strong>, guest,    <strong>Dr. Gulab Singh Ruhal </strong>Observar of All India Inter
University Aquatic (Women) Championship 2018-19    <strong>Shri H S Ashokananda </strong>IAS (Retd) ,Administrator of Rajya
Vokkaligara sangha Dr. M.U Aswath Principal BIT, Dr. Arif Ali Khan
Organizing Secretary VTU Belagavi Prof. Shankara Gowda, Sports Secretary
BIT and Organizing Secretary Sri K. T .Dasegowda, PED BIT and Convener and
all the Officials of VTU and All the Organizing Committee Chairman’s &amp;
Members of BIT.
</p>
<p>
Food and accommodation arranged for all participants, Coach, Managers and
officials. All the three days events held successfully without any problem
and every one where very happy with the facility provided by VTU &amp; BIT
</p>
<p>
This meet attraction was that all the medal winners received the medals
which are pure Silver. Overall three days championship completed and
concluded with closing ceremony on Date:4/11/2018
</p>
<p>
The Valedictory function began, and the guests were welcomed asked to take
their respective seats by the anchor.
</p>
<p>
Welcome address :- Welcome Address by Dr.H.B Balakrishna, HOD, Department
of CIVIL.BIT
</p>
<p>
Event report :- Event report by Dr. Arif Ali Khan , Organizing Secretary,
AIIUAC. He gave us an brief report on the event proceedings and the
highlights of the 3day event that concluded on 4<sup>th</sup> November
-2018.
</p>
<p>
Address by chief guest :-Address by chief guest Dr. Gulab Singh Ruhal.
Observer , Association of Indian University. Who addressed the gathering.
He also congratulated all the participants, also upheld the importance of
sports in daily life.
</p>
<p>
Announcement of winners of individual events and winners of Championship
trophy and felicitation of celebrity participants.
</p>
<p>
Championship trophy distribution was announced by Mr. Sathish kumar
Secratory of kamataka swimming association, Karnataka.
</p>
<p>
Championship trophy was awarded by the chief guests and principal BIT
Bangalore.
</p>
<p>
Felicitation was done to two participants who represented India in
international events such as Olympics and Common wealth games:
</p>
<p>
<strong>- Shivani Kataria</strong>
from Delhi University represented India in 2016-Rio-De—Jenerio Brazil, also
took part in world championship in Kazan Russia 2015,Asian Age Group- Gold
medalist in Uzbekistan-2017,a1so participated in South Asian games and won
Gold medal in Guwahati India-2015, also participated in Youth olimpics—2014
and Youth Asian Games 2013 in China.
</p>
<p>
-<strong>Ananya Panigrahi </strong>who also was a participant in this 3 day
National level swimming championship, represented India in commonwealth
games Delhi, she also participated in 34 National level championships, won
a gold medal in 200m Backstroke senior Nationals in Jaipur 2010. She also
has participated in 3 world swimming championships in 2013.
</p>
<p>
i) World school games Israe1-2013.
</p>
<p>
ii)FINA Jr World championship in Dubai -2013.
</p>
<p>
iii)World school Games Brazil -2013.
</p>
<p>
Feedback from participants and Coaches and Parents about the event.
</p>
<p>
- One parent of Delhi University student spoke of the accommodation Food
and all the arrangements made in the three day event.
</p>
<p>
One manager Dr Akanksha Jain from Indore University gave a very Positive
Feedback about the event and its University, &amp; organizing management.
of BIT.
</p>
<p>
<strong>Presidential address</strong>
was given by Dr.M.U.Ashwath,Principa1 ,BIT, Bangalore. he congratulated the
participants and all the organizers of the event and also mentioned that
BIT is pleased to host such an event, also BIT will look forward for such
opportunity in the future.
</p>
<p>
<strong>Vote of thanks by </strong>
Prof. Shankar Gowda Sports Secretary, BIT, where he thanked all the
participants for being a good sport, and their parents, coaches and
managers for having attended this event and making it a grand success. He
also extended his thanks to all the dignitaries and chief guests and
organizing committees’ chairmen, principal, volunteers, referees and each
and everyone who directly or indirectly has worked hard all these three
days to successfully complete this event.
</p>