<div role="tabpanel" class="tab-pane  animated active fadeIn" id="tabs_desc_434_6">
								<h2>Sponsored Research Projects</h2>

<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="13" valign="top">
                <p >
                    <strong>SL. NO</strong>
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    <strong>Project Title</strong>
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    <strong>Funding Agency</strong>
                </p>
            </td>
<td width="20" valign="top">
                <p >
                    <strong>Amount</strong>
                </p>
            </td>
<td width="40" valign="top">
                <p >
                    <strong>Principal Investigator</strong>
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    <strong>Duration</strong>
                </p>
            </td>

<td width="25" valign="top">
                <p >
                    <strong>Year Of Sanction</strong>
                </p>
            </td>
</tr>

<tr>
            <td width="13" valign="top">
                <p >
                 1
                </p>
            </td>
<td width="80" valign="top">
                <p >
           Iot Smart Mirror with NEWS and Temperature
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  7000
                </p>
            </td>
<td width="40" valign="top">
                <p >
             Prof. Ranjana K
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2018-19
                </p>
            </td>
</tr>

<tr>
            <td width="13" valign="top">
                <p >
                 2
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Bio Inspired Water Monitoring System
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  6000
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  Prof. Jamuna M
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2018-19
                </p>
            </td>
</tr>


<tr>
            <td width="13" valign="top">
                <p >
                 3
                </p>
            </td>
<td width="80" valign="top">
                <p >
           Leaf Disease Detection using UAV Embedded Raspberry PI
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  5000
                </p>
            </td>
<td width="40" valign="top">
                <p >
               Dr. M. Rajeswari
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2017-18
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 4
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Automated Pest Detection and Pesticide Spraying ROBOT

                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  5000
                </p>
            </td>
<td width="40" valign="top">
                <p >
                 Prof. Sudha B
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2017-18
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 5
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Development of NPK sensing kit and fertilizer dispensing Robot
                </p>
            </td>
<td width="80" valign="top">
                <p >
        VTU
                </p>
            </td><td width="20" valign="top">
                <p >
                  5000
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  Prof. Ranjana K
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2017-18
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 6
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Automated Fest Detection Pesticide Spraying Robot
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   VTU
                </p>
            </td><td width="20" valign="top">
                <p >
                  5000
                </p>
            </td>
<td width="40" valign="top">
                <p >
               Prof. Sudha B

                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2017-18
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 7
                </p>
            </td>
<td width="80" valign="top">
                <p >
         Women/Kid Safety with Alerting and Tracking System Using Android Mobile Application
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  5000
                </p>
            </td>
<td width="40" valign="top">
                <p >
                Dr. M. Rajeswari
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2016-17
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 8
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Home Locking System Through Face Recognition Using Raspberry PI and GSM module
                </p>
            </td>
<td width="80" valign="top">
                <p >
                   KSCST
                </p>
            </td><td width="20" valign="top">
                <p >
                  4500
                </p>
            </td>
<td width="40" valign="top">
                <p >
                Prof. N. Chethan Anand
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2016-17
                </p>
            </td>
</tr>
<tr>
            <td width="13" valign="top">
                <p >
                 9
                </p>
            </td>
<td width="80" valign="top">
                <p >
            Development of Low Power VLSI Circuits
                </p>
            </td>
<td width="80" valign="top">
                <p >
                VGST
                </p>
            </td><td width="20" valign="top">
                <p >
                 20,00,000
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  Prof. Ranjana K
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    3 months
                </p>
            </td>

<td width="25" valign="top">
                <p >
                  2015-16
                </p>
            </td>
</tr>


</tbody></table>

<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="13" valign="top">
                <p >
                    <strong>SL. NO</strong>
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    <strong>Department</strong>
                </p>
            </td>
<td width="30" valign="top">
                <p >
                    <strong>Authority/ board</strong>
                </p>
            </td>
<td width="20" valign="top">
                <p >
                    <strong>Amount sanctioned</strong>
                </p>
            </td>
<td width="40" valign="top">
                <p >
                    <strong>Year</strong>
                </p>
            </td>
</tr>

 <tr>
            <td width="13" valign="top">
                <p >
                   1.
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    Telecommunication Engineering

                </p>
            </td>
<td width="30" valign="top">
                <p >
                  KSCST
                </p>
            </td>
<td width="20" valign="top">
                <p >
                 20,000/-
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  2018-19
                </p>
            </td>
</tr>

 <tr>
            <td width="13" valign="top">
                <p >
                   2.
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    Telecommunication Engineering

                </p>
            </td>
<td width="30" valign="top">
                <p >
                  KSCST
                </p>
            </td>
<td width="20" valign="top">
                <p >
              10,000/-
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  2017-18
                </p>
            </td>
</tr>

 <tr>
            <td width="13" valign="top">
                <p >
                   3.
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    Telecommunication Engineering

                </p>
            </td>
<td width="30" valign="top">
                <p >
                  KSCST
                </p>
            </td>
<td width="20" valign="top">
                <p >
                 9,500/-
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  2016-17
                </p>
            </td>
</tr>
 <tr>
            <td width="13" valign="top">
                <p >
                   4.
                </p>
            </td>
<td width="80" valign="top">
                <p >
                    Telecommunication Engineering

                </p>
            </td>
<td width="30" valign="top">
                <p >
                  VGST
                </p>
            </td>
<td width="20" valign="top">
                <p >
              20,00,000/-
                </p>
            </td>
<td width="40" valign="top">
                <p >
                  2015-16
                </p>
            </td>
</tr>

</tbody>
</table>

<h2><strong>LIST OF PUBLICATIONS</strong>

<table class="table table-bordered table-sm">
<tbody>
<tr>
<td rowspan="2" width="5%" height="9">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>Sl No.</strong></span></p>
</td>
<td rowspan="2" width="17%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>NAME</strong></span></p>
</td>
<td colspan="2" valign="top" width="16%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>Ph.D Scholar</strong></span></p>
</td>
<td rowspan="2" width="13%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>No of Publications</strong></span></p>
</td>
<td rowspan="2" width="10%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>National Journals</strong></span></p>
</td>
<td rowspan="2" width="12%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>National Conference</strong></span></p>
</td>
<td rowspan="2" width="13%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>International Journals</strong></span></p>
</td>
<td rowspan="2" width="13%">
<p class="western" lang="en-GB" ><span style="font-size: small;"><strong>International Conference</strong></span></p>
</td>
</tr>
<tr>
<td valign="top" width="8%">
<p class="western" lang="en-GB" ><strong>Guiding</strong></p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" ><strong>Guided</strong></p>
</td>
</tr>
<tr>
<td width="5%" height="23">
<p class="western" lang="en-GB" >1.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >Dr. S. SHANTHALA</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >5</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >1</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >26</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >01</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >04</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >09</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >07</p>
</td>
</tr>
<tr>
<td width="5%" height="25">
<p class="western" lang="en-GB" >2.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >Dr. M. RAJESWARI</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >3</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >16</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >06</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >04</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >3.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >N. CHETAN ANAND</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >4.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >B.SUDHA</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >07</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >02</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >5.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >N.G. GIRISHKUMAR</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" ><a name="_GoBack"></a> 05</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >03</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >02</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >6.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >A.R. MANJULA</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >01</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >01</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >7.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >N. SHRUTHI</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >05</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >8.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >A.R. BHAVYA</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >03</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >01</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >9.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >THYAGARAJ. R</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="25">
<p class="western" lang="en-GB" >10.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >RANJAN. K</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="24">
<p class="western" lang="en-GB" >11.</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >JAMUNA. M</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >01</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="5%" height="23">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="17%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="8%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td valign="top" width="9%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="10%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="12%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
<td width="13%">
<p class="western" lang="en-GB" >&nbsp;</p>
</td>
</tr>
</tbody>
</table>

<table class="table table-bordered table-sm">
<tbody>
<tr>
<td rowspan="2" width="7%" height="14">
<p class="western" ><strong>SL. No.</strong></p>
</td>
<td rowspan="2" width="25%">
<p class="western" >&nbsp;</p>
<p class="western" ><strong>Faculty Name</strong></p>
</td>
<td colspan="5" width="68%">
<p class="western" ><strong>No of Publications</strong></p>
</td>
</tr>
<tr>
<td width="8%">
<p class="western" ><strong>Total</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>International Journals</strong></p>
</td>
<td width="11%">
<p class="western" ><strong>National Journals</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>International Conference</strong></p>
</td>
<td width="15%">
<p class="western" ><strong>National Conference</strong></p>
</td>
</tr>
<tr>
<td width="7%" height="15">
<p class="western" >1</p>
</td>
<td width="25%">
<p class="western">Dr. S. Shanthala</p>
</td>
<td width="8%">
<p class="western" >&nbsp;</p>
</td>
<td width="17%">
<p class="western" ><strong>04</strong></p>
</td>
<td width="11%">
<p class="western" >&nbsp;</p>
</td>
<td width="17%">
<p class="western" ><strong>08</strong></p>
</td>
<td width="15%">
<p class="western" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="7%" height="15">
<p class="western" >2</p>
</td>
<td width="25%">
<p class="western">Dr.M.Rajeswari</p>
</td>
<td width="8%">
<p class="western" ><strong>05</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>02</strong></p>
</td>
<td width="11%">
<p class="western" ><strong>1</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>3</strong></p>
</td>
<td width="15%">
<p class="western" >&nbsp;</p>
</td>
</tr>
<tr>
<td width="7%" height="15">
<p class="western" >3</p>
</td>
<td width="25%">
<p class="western">Prof. B.Sudha</p>
</td>
<td width="8%">
<p class="western" ><strong>06</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>4</strong></p>
</td>
<td width="11%">
<p class="western" ><strong>-</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>-</strong></p>
</td>
<td width="15%">
<p class="western" ><strong>2</strong></p>
</td>
</tr>
<tr>
<td width="7%" height="15">
<p class="western" >4</p>
</td>
<td width="25%">
<p class="western">Prof. N.G.Girish Kumar</p>
</td>
<td width="8%">
<p class="western" ><strong>04</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>3</strong></p>
</td>
<td width="11%">
<p class="western" ><strong>-</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>1</strong></p>
</td>
<td width="15%">
<p class="western" ><strong>-</strong></p>
</td>
</tr>
<tr>
<td width="7%" height="14">
<p class="western" >5</p>
</td>
<td width="25%">
<p class="western">Prof. A.R.Bhavya</p>
</td>
<td width="8%">
<p class="western" ><strong>03</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>1</strong></p>
</td>
<td width="11%">
<p class="western" ><strong>-</strong></p>
</td>
<td width="17%">
<p class="western" ><strong>1</strong></p>
</td>
<td width="15%">
<p class="western" ><strong>1</strong></p>
</td>
</tr>
</tbody>
</table>

<br><br>

</h2><h3><b>Dr. S.Shanthala</b></h3>

<ol  style="color:#666666;padding-left:20px;line-height:2">

      1. Anupama H,  Dr. S Shanthala, Dr. H.R. Mahadevaswamy,  Sandhya N K Image Reconstruction Using Compressed Sampling Matching Pursuit IJRECE Vol. 6 Issue 4 ( October- December 2018) ISSN: 2393-9028 (PRINT) |ISSN: 2348-2281 (ONLINE)
<br><br>
    2. Anupama .H. Dr. S. Shanthala Convex-Optimization for Reconstructing compressed Signal using Orthogonal Matching Pursuit Conference on Communication and Electronics Systems (ICCES) 2018. Organized by PPG Institute of Technology during 15-16th October 2018 at Coimbatore, Tamil Nadu.

<br><br>
    3. Anupama H,  Dr. S Shanthala, Dr. H.R. Mahadevaswamy,  Dr.Vasudha.S Compressive Sensing based Image Reconstruction Algorithms – A Performance Review International Journal of Innovative Research in Technology 367 © June 2017 | IJIRT | Volume 4 Issue 1 ISSN: 2349-6002  IJIRT 144669
<br><br>
    4.  Anupama H,  Dr. S Shanthala, Dr. H.R. Mahadevaswamy Image Reconstruction using Compressed Sensing – A work in progress – KSTA Nov-2015
<br><br>
    5. Kusuma.M. S. Dr. S. Shanthala, Cyril Prasanna Raj .P. Analysis and design of 90mm CMOS Amplifier for UWB Applications  - International Journal of Innovative Technology and Exploring Engineering (IJITEE) ISSN:2278-3075,Volume-8, Issue-8June,2019
<br><br>
    6. Kusuma.M. S. Dr. S. Shanthala Performance Analysis of inductive Source Degeneration Low Noise Amplifier Using Multi-finger Technique International Conference on Materials, applied physics and Engineering (ICMAE-2018) at Indore Madhya Pradesh, India 3rd &amp; 4th June 2018.
<br><br>
    7. Kusuma .M. S Dr.S.Shanthala Design of 2-8 GHz Ultra-Wideband LNA using 0.18 µm CMOS Technology IJSDR1609004 International Journal of Scientific Development and Research IIJSDR) WWW.ijsdr.org ISSN: 2455-2631 at September 2016 IJSDR, Volume1, Issue-9.
<br><br>
    8. B. N. Manjunath Reddy Dr.S.Shanthala Dr. B. R. Vijaya Kumar“16-Bit GDI Multiplier Design for Low Power Applications” HKBK International Journal of Engineering Sciences &amp; Technology (HIJEST), Volume-1 Issue=1 2017 Pages:24-27
<br><br>
    9. B. N. Manjunath Reddy Dr.S.Shanthala “16 bit Multiplier Design using GDI Technique”  IEEE International Conference on Smart Grids, Power and Advanced control Engineering (ICPACE2017) at Global Academy of Technology, Bengaluru during 17th – 19th August 2017.
<br><br>
    10. B. N. Manjunath Reddy, Dr.S.Shanthala, Dr. B. R. VijayaKumar “Performance Analysis of GPU V/S CPU for Image Processing Applications International Journal for Research in Applied Sciences &amp; Engineering Technology (IJRASET) ISSN: 2321-9653 Volume 5 Issue II, February 2107
<br><br>
    11. B. N. Manjunath Reddy Dr.S.Shanthala Power and Area Optimization of 8-bit GDI Multiplier in GPUs International Journal on Advanced Computer Theory and Engineering (IJACTE) ISSN: 2319-2526 Volume-5, Issue-3, 2016.
<br><br>
    12. B. N. Manjunath Reddy Dr.S.Shanthala Implementation of Low Power 8-bit Multiplier using Gate Diffusion Input logic International IEEE 17th International conference on CSE. Chengdu, China December l9 - 21, 2014.
<br><br>
    13. B. N. Manjunath Reddy Dr.S.Shanthala Implementation of Low Power 8-bit Multiplier using Gate Diffusion Input logic 1868- 1871 International Journal (IEEE) Computer Society 2014, ISSN 978-1-4799-7981-3/14.
<br><br>
    14. B. N. Manjunath Reddy, H.N Sheshagiri, Dr.S.Shanthala, “Area optimization of 8-bit multiplier using gate diffusion input logic”- National Conference on recent trends in electrical and communication engineering (NCRTECE 2013), held at SMK form a Institute of Technology, OMR, Thaiyur, Kelambakkam, Chennai, February 8-9, 2013.
<br><br>
    15. B. N. Manjunath Reddy Dr.S.Shanthala Area optimization of 8-bit multiplier using Gate Diffusion Input Logic, International (International Journal of Advanced Trends in Computer Science and Engineering) Vol.2, No.2, Pages:57- 61 8-9 Feb. 2013, ISSN 2278-3091.
<br><br>
    16. Dr. S. Shanthala A 3.1-10.6GHz Low-Noise Amplifier for Ultra-Wideband Receiver at SIETCON 2017, Second National Conference on Sustainable Emerging Intelligent Technologies, May  26th 27th 2017, DSCE, Bangalore-5600078.
<br><br>
    17. Dr. S. Shanthala Design of GPU Full Adder Circuit using GDI Logic National Conference on recent trends in Electronics and Communication-2016 at Global Academy of Technology, Bengaluru on 5th May-2016.
<br><br>
    18. Dr. S. Shanthala Image Reconstruction Using compressed sensing. – A Work in progress. 8th Annual KSTA conference Nov 2015.
<br><br>
    19. S. Shanthala, Cyril P. Raj and Dr. S.Y.  Kulkarni, “Design and Analysis of Multi Vt and Variable Vt based Pipelined Adder for Low Power applications “ – International Journal of VLSI design &amp;  Communication Systems (VLSICS) Vol. 1, No.4, December 2010. DOI: 10.5121/vlsic 2010.1404. 
<br><br>
    20. S.Shanthala, Cyril P. Raj and Dr. S.Y.Kulkarni, “Experimental setup for power analysis of low power CMOS adders” International Conference on Communication and Computational Intelligence (INCOCCI 2010).
<br><br>
    21. S.Shanthala and Dr. S.Y.Kulkarni, “Benchmarking Low Power CMOS adders of different word length at 180nm”. 3rd International conference on intelligent systems and control- February 6-7, 2009 at Karpagam College of Engineering, Coimbatore – 32.
<br><br>
    22. S. Shanthala and Dr. S.Y.Kulkarni, “Design and VLSI implementation of Pipelined Multiply Accumulate Unit”. 2nd International Conference on Emerging Trends in Engineering and Technology- December  16-18, 2009 at G.H. Raisoni College of Engineering, Nagpur, India (978-0-7695-3884-6/09 $26.00 © 2009 IEEE – IEEE computer Society).
<br><br>
    23. S.Shanthala and Dr. S.Y.Kulkarni, “VLSI design and implementation of Low Power MAC unit with Block Enabling technique” Pp.620-630– European Journal of Scientific Research ISSN 1450-216X Vol.30 No.4 (2009), pp.620-630.
<br><br>
    24. S.Shanthala and Dr. S.Y.Kulkarni, “High Speed and Low Power FPGA Implementation of FIR Filter for DSP Applications.“ European Journal of Scientific Research ISSN 1450-216X Vol.31 No.1 (2009), pp. 19-28.
<br><br>
    25. S.Shanthala and Dr. S.Y.Kulkarni, “Low Power VLSI system Design Techniques” presented at TEQIP sponsored National Level Conference – April 2006.
<br><br>
    26. S.Shanthala, Dr. H.N. Shivashankar, Dr. K. Venkatesh, Mr. M. Manjunathiah, “Performance Analysis of  Parallel Matrix Multiplication Algorithm on a message passing MIMD system” – Institution of Engineers Journal, Computer Division, vol.72, September 1991.


</ol>

<h3><b>Dr. M. Rajeswari </b></h3>

<ul  style="color:#666666;padding-left:20px;line-height:2">

    1. Mandara L, Meghana M V, Meghana G, Vaishnavi C, M. Rajeswari, Automatic Waste Segregator International Journal of Latest Engineering  Research and Apllications(IJLERA)ISSN: 2455-7137, Volume-04, Issue-06, June 2019.
<br><br>
    2. Darshitha K S, Puneeth H J and Dr. M Rajeswari “Soil Moisture Measurement from High Resolution Multi Spectral Imagery-Review” International Journal of Advanced Research Trends in Engineering Trends and Technology Vol 5, Special Issue 14, April -2018.
<br><br>
    3. Darshitha K S, Puneeth H J and Dr. M Rajeswari “Soil Moisture Measurement from High Resolution Multi Spectral Imagery-Review”2nd International conference on Mechanical, Civil, Electronics &amp; Communication and Computer Science Engineering,ICMCECE-2018,12th and 13th April 2018,BTI,Bangalore.
<br><br>
    4. Dr. M Rajeswari Pooja S, Likitha R,Rachana C,Shashank V” Leaf Disease Detection Using Raspberry PI” International Conference on Innovative Ideas in Engineering &amp; Technologies (ICIIET -18)12th &amp; 13thApril, 2018 Cantonment Bellary, Karnataka.
<br><br>
    5. Dr. M. Rajeswari, Chandana .S “Collision Detection and Avoidance using Intelligent Vehicle Communication Protocol” IJERMT International Journal of Emerging Research in management and Technology Volume-5, Issue-5) 200-203 May 2016.
<br><br>
    6. Dr. M. Rajeswari, Chandana.S, Pruthvi.D,V, Ramya.M.H, Saritha.S.P “Collision Detection and Avoidance using Intelligent Vehicle Communication Protocol” National Conference on Recent Advances in Information and Communication Engineering(NCRAINCE-2016)4TH May 2016,Chikkamagaluru,Karnataka.
<br><br>
    7. M. Rajeswari, K.S.Gurumurthy, L.Pratap Reddy, S.N.Omkar and Senthilnath.J. “Automatic Road Extraction Using High Resolution Satellite Imagery based on “Artificial Bee Colony algorithms”National conference on VLSI and Communication systems, BIT, Bangalore 30th-31st October 2012.
<br><br>
    8. M. Rajeswari, K.S.Gurumurthy ,L. Pratap Reddy ,S.N.Omkar, J. Senthilnath ,“Automatic Extraction of Road Networks based on Normalized cuts and Mean Shift method for high resolution Satellite Imagery” (IJAEST) International Journal of Advanced Engineering Sciences and Technologies Vol No. 3, Issue No. 2,February-2011,115 – 121.
<br><br>
    9. M.Rajeswari, K.S.Gurumurthy, L.Pratap Reddy, S.N.Omkar and Senthilnath.J. Article: Automatic Road Extraction based on Normalized Cuts and Level set Methods. International Journal of Computer Applications 18(7):10-16, March 2011. Published by Foundation of Computer Science (Impact Factor 0.835).
<br><br>
    10. M.Rajeswari, K.S.Gurumurthy, L.Pratap Reddy, S.N.Omkar and Senthilnath.J. ”Automatic Road Extraction based on Level Set, Normalized Cuts and mean shift Methods” bearing paper id 'IJCSI-2011-8-3-323' published in IJCSI Volume 8, Issue 3, May 2011(Impact Factor 0.242).
<br><br>
    11. M.Rajeswari, K.S.Gurumurthy, L.Pratap Reddy, S.N.Omkar and Senthilnath.J. “Automatic Road Extraction using High Resolution Satellite Images based on Level Set and Mean Shift Methods” ,3rd International Conference on Electronics Computer Technology - ICECT 2011 April 8-10th 2011,Kanyakumari(Impact Factor 1.0).
<br><br>
    12. M.Rajeswari, K.S.Gurumurthy, L.Pratap Reddy, S.N.Omkar and Senthilnath.J. “Automatic Road Extraction Using High Resolution Satellite Imagery Based on Segmentation by Weighted Aggregation”, 2011 International Conference on Computer Applications and Network Security (ICCANS 2011) Maldives 27th-29th May 2011.
<br><br>
    13. Rajeshwari, J.senthilnath, S.N.Omkar, “Automatic Road Extraction Using High Resolution Satellite Image Based on Texture progressive analysis &amp; normalized cut method” Journal of the Indian remote sensing, Springer India, Vol 37, September 2009, pp. 351-361.
<br><br>
    14. S.N.Omkar, Rajeshwari, Senthilnath.J, Ganesh A.S “Mean shift method for road extraction in satellite Images”. International conference on Emerging scenarios in Space Technology and Applications-2008(ESSTA 2008) 13-15th November 2008..
<br><br>
    15. M.Rajeshwari, J.senthilnath, S.N.Omkar, “Automatic Road Network Extraction using High Resolution Satellite Imagebased on Level Set Evolution without Re-Initialization ”XXVIII INCA International Congress on collaborative mapping and space technology, November 4-6,2008,Gandhinagar,Ahmedabad,Gujarat,India.
<br><br>
    16. S.N.Omkar, M.Rajeshwari, J Senthilnath “A variational Level set method for Road extraction in satellite Image M CAAST 2008, IIT Karagpur, January 2008.
<br><br>
    17. M.Rajeshwari, J.senthilnath, S.N.Omkar “Semi-Automatic Road Extraction using high resolution satellite imagery in urban areas. Indian Engineering congress 2007, Udaipur, Rajasthan 14-15 December 2007.

</ul>
<br>
<h3><b>Prof. B. Sudha  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">
    1. B. Sudha, Shreyanshu Shankar Pandey, Sanjeevkumar Raikod, Ekansh More, Sachin Bajpai Automated Metro Train International Journal of Soft Computing and Engineering (IJSCE) ISSN: 2231-2307, Volume-9 Issue-2, July 2019
<br><br>
    2.    B.Sudha,Rupesh kumar,Mahanthesh K H,Angad kumar Ratnakar,Sudhakar Gauda,” Automated Shopping Trolley for Super Market BillingSystem IJSDR Volume 3 Issue 5 May-2018 Impact factor 4.57
<br><br>
    3.   B Sudha Bhuvana L, Divya VMamathashree S R Pallavi Automated Pest Detection and Pesticide Spraying Robot International Journal of Recent Trends in Engineering and Research (IJRTER) Volume 4, Issue 4; April 2018, ISSN: 2455-1457 Impact factor 4.101
<br><br>
    4.   B Sudha Archithaa S Rao Deepthi G S, G Anagha1Pooja K,Sunita Katre Implementation of Layer 2 Rules using Software Defined Networking. No. Of Pages: 7 IJLERA Volume-03, Issue-04 4th April 2018 PP-01-07  ISSN: 2455-7137 IF=3.105
<br><br>
    5.  B.Sudha Pavan.H.D.Mahantesh.S.M.Shashank.D.Sathwik.H.V.” Automated Railway Security Systems using Wireless” National conference on” Electronic, Signals &amp; Communication”(NCESC-2017) 29th May 2017
<br><br>
    6.   B. Sudha Chaithra .V.*Megha .K.Vaishnavi .P. Wireless block box system for airborne vehicles International journal of engineering trends andtechnology(IJETT) Volume 35, No.2 MAY 2016  ISSN: 2231-5381 Impact factor 1.78
<br><br>
    7.   B. Sudha Srinivas Bhagavan* .N. K Krishna Murthy .B. C.  Harish Gowda .G. V.  Madhu Sudhan .N. Plant irrigation using soil moisture sensors and android app. Based GSM system NCRTEC-2016 National Conference on “Recent Trends in Electronics &amp; Communication Engineering” at GAT Bangalore 5th may 2016.

</ul>
<br>
<h3><b>Prof. Girish Kumar N G&nbsp;  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">

    1. Shravan G.S, L. Sai Suhas, Hemanth Kumar.N.G, Vinay.S, Girish Kumar.N.G,  2*2 Circular Patch Antenna Array at at 2.4GHz for WSN Applications proceedings of the International Conference on Communication &amp; Electronic Systems(ICCES 2019) IEEE Conference Record#45898, IEEE Xplore ISBN:978-1-7281-1261-9
<br><br>
    2. H. Gagan, R. Manas, N. G. Girish Kumar,&nbsp;“Performance Evaluation of OFDM Coding Ssystem using Concatenated BCH and LDPC Codes”, The 12th International Conference on Wireless Communications, Networking and Mobile Computing, Xian, China, Pp 28-33, September 2016.
<br><br>
    3. Girish Kumar N G, Draveena R Mote, Manjushree S, Srilakshmi S, Shibani D,&nbsp;“Efficient Interleaver Design for MIMO-OFDM based Communication System on FPGA”, The International Journal of Electronics &amp; Communication Technology, Vol. 7, Issue 2, Pp 36-40, April - June 2016.
<br><br>
    4. Girish Kumar N G, Dr. Sree Ranga Raju M N,&nbsp;“Design and Performance Evaluation of Error Detection and Correction using Concatenated BCH and LDPC coding Scheme for Data Streams in Satellite Communication” International Journal of Engineering Research &amp; Technology (IJERT), Vol. 4 Issue 08, Pp 234-238 August-2015.
<br><br>
    5. Girish Kumar N G, Ravikumar , Gautham M, Suraj Kumar, Sagar M,&nbsp;“Optimal Two Wheeler Driving using Smart Helmet”, International Journal of Engineering Research &amp; Technology (IJERT)Vol. 5 Issue 05,Pp 630-633, May-2016.

</ul>
<br>
<h3><b>Prof. Manjula A R&nbsp;  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">
1. Manjula A R,&nbsp;“Comparison of Different algorithm to Classify Targets” in the National conference on “Recent Trends in Information Technology” (NCRIT – 08) jointly organized by the R. V. College of Engineering and Avinashlingam University for Women. Coimbatore from 7th to 8th March 2008.
</ul>

<br>
<h3><b>Prof.N. Shruthi&nbsp;  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">
    1. Shruthi .N., Marimuthu .P., Prabhu .D., Pradeep .A., Vijay .S. Bharadwaj “Simulation &amp; Synthesis of Arp Packet Transmission and Reception on FPGA Journal of advancement in Communication System Volume 1, Issue 2.
<br><br>
    2. Shruthi .N.,Prajwal .D., Nagasoujanya .N. “Secure Bank Lockers Using RFID and password based Technology (Embedded System” Volume3, Issue5, ISSN:2455-2631  May2018 IJSDR.

</ul>
<br>

<h3><b>Prof. A R Bhavya  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">

    1. A.R. Bhavya Harikrishna.J. G.Prashanth Subramanya.H.P Vaishnavi, Automated bulk IC Programming Unit for Manufacturing Industries, International Jourrnal of Latest Research and Applications(IJLERA), ISSN:2455-7137 VOLUME-02,ISSUE-05, MAY 2017.
<br><br>
    2. A.R. Bhavya Harikrishna.J. G.Prashanth Subramanya.H.P Vaishnavi, Automated bulk IC Programming Unit for Manufacturing Industries, National conference on ”Electronic,Signals &amp; Communication”(NCESC-2017), ISSN:2455-7137 VOLUME-02,ISSUE-05, MAY 2017.
<br><br>
    3. A.R. Bhavya, Deepa. R &amp; Sangameshwar “Information Hiding in Digital Images Using Cryptography”

</ul>
<br>

<h3><b>Prof. Ranjana K  </b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">

    1. Ranjana K,&nbsp;‘Comparative Analysis of Diverse Image Retrieval Techniques’ in National level conference held at Canara Engineering College, Mangalore.

</ul>
<br>
<h3><b>Prof. Jamuna .M</b></h3>
<ul  style="color:#666666;padding-left:20px;line-height:2">

   1. Jamuna.M, A.M.Vijaya Prakash, J. Pushpanjali “Low Power VLSI Architecture for Image Compression System Using Discrete Wavelet Transform”. International Journal of Engineering and Advanced Technology (IJEAT) ISSN: 2249 – 8958, Volume-1, Issue-5, June 2012 490.

</ul>						 </div>