{% extends "layout.html" %}
{% block title %}DEPARTMENT OF ELECTRONICS AND TELECOMMUNICATION ENGINEERING{% endblock %}
{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>DEPARTMENT OF ELECTRONICS AND TELECOMMUNICATION ENGINEERING</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area" style="padding-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <!-- About Us Content -->
                <div class="about-us-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>About</h5>
                    </div>
                    <p >The Department of Electronics and Telecommunication Engineering was started in the year 1992-93. The Department has a team of well qualified and dedicated staff members. On the forefront of development and with the advent of technological revolution and quantum development in the field of Electronics and Communications, due to myriad complexities of the e-world, it was inevitable for the evolution of another field to make a distinct identity of its own. Thus, the ball of development was set into motion and the Telecommunication field gradually assumed a role of pre-eminence which is shared by few other engineering disciplines in the modern world. <br><br>

                        The Department offers Under-Graduate [UG] Course and has a Research Center under V.T.U. It has excellent infrastructure facilities and all the labs are well equipped. The objective of the Department is to empower every student to be creative and productive in the field of Telecommunication Engineering by imparting excellent Technical Education and inculcating Human Values.<br><br>
                        
                        The Department offers an excellent academic environment with a team of highly qualified and dedicated faculties. Two staff members have obtained their Ph.D. degree and three other faculty members are pursuing their Ph.D. The Department has the credit of many Technical papers being published in National, International Journals and conference proceedings.<br><br>
                        
                        Most of our Electronics and Telecommunication engineering students get placed in good Companies like Robert Bosh, Oracle, Musigma, TCS, Wipro, IBM, Capgemini, Ericsson, Tech Mahindra, Indian Navy, HP, Infosys, I Gate, SOCIETE GENERAL, CISCO, Computer Science Corporation, Aricent, L&T Infotech, Allstate, Indegene life system, INTEL etc.<br><br>
                        
                        The Department has a Student Association called TESA to organize technical seminars and workshops for the benefit of students. They are also part of many clubs such as Rotaract club, Xkalibre, BIT ECO Club, Samskruthi , IEEE, Leo Club etc.<br><br>
                        
                        Dr.S.Shanthala is currently Professor and Head of Department, Electronics and Telecommunication Engineering Department, Bangalore Institute of Technology, Bangalore. She has 29 Years of teaching experience and is actively involved in the Research and Development work. Research papers are published in leading international journals and conference proceedings.   Prof. S. Shanthala has been awarded gold medal for one of her papers published in the Institute of Engineers Journal. She has authored a book on digital electronics which was published by spectrum publications. She has also been instrumental in obtaining financial aids from funding agencies for the on-going Research and Developmental work in the Department. One Research Scholar has been awarded the Ph.D. Degree under her guidance and there are 4 other Research scholars pursuing research. Her Research interests are VLSI and Embedded Systems.
                        </p><br><br>
                        
                                <div class="d-flex justify-content-center"><div class="card" style="width: 18rem;">
                                    <img src="/faculty/TEL01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr.S.Shanthala</h5>
                                        <p class="card-text">Prof. & Head of the Dept
                                            </p>
                                        </div>
                                    </div></div>
                               
                            
                            <!-- Team Member Area -->
                            <div class="section-heading mt-30">
                               <h5> Vision and Mission </h5>
                            </div>
                                    <h3>Vision</h3>
    <p >Empower every student to be Creative and Productive in the field of Electronics and Telecommunication Engineering by imparting excellent Technical Education and inculcating Human Values. </p>
    <h3>Mission</h3>
    <p>  M1: To make our Students acquaint with the Global requirements such as Problem Solving Skills, Cultural Sensitivity, Ethical behavior and Social Responsibility.<br>
       M2: To Motivate our Students to pursue Higher Education and engage in continuous upgradation of their Professional Skills.<br>
       M3: To encourage students to develop Communication Skills, Professional Values and Positive Attitude that in turn leads to fostering Leadership Qualities.<br>
       </p>
    <h3>Program Educational Objectives (PEO’s)</h3>
    <p > 1.To prepare our Graduates with strong foundations in Mathematical, Scientific and Problem Solving Skills.<br>
     2. To prepare our Graduates to adapt to fast Technical changes in the domain area of core Electronics and Telecommunication Engineering by interacting and working closely with other Premier Technological Institutions / Industries having similar Vision.<br>
     3. To enable our Graduates to develop the Knowledge and Skills across the range of disciplines.<br>
     4.  To prepare our Graduates to meet the Global challenges by inculcating traits such as Communication Skills, Ethical Values and ability to work in a team. </p>
    <h3>Program Specific Outcomes</h3>
    <p> 1: Analyze and Design Analog & Digital modules for a given Specification and Function.<br>
     2: Implement Functional Blocks of Hardware-Software Co-Designs for Embedded Systems, Signal Processing, Communication and Networking applications.</p>						
     <!-- Faculty-->   
     <div class="section-heading mt-30">
      <h5>Faculty</h5>
  </div>
  {% for fac in facs %}
  <!-- Single Team Member -->
  <a href="#" >
  <div class="single-team-member d-flex align-items-center">
      <div class="team-member-thumbnail">
          <img src="/faculty/{{fac[0]}}.jpg" alt="">
          
      </div>
      <div class="team-member-content">
          <h6>{{fac[1]}}</h6>
          <span>{{fac[2]}}</span>
          Qualification:-{{fac[3]}}<br>
             Email:- <a href="mailto:{{fac[4]}}" style="color: blue;">{{fac[4]}}</a>
          
      </div>
  </div>
  </a>
  {% endfor %}
                            </div>
                            
                         <!-- Insert Faculty here  -->   

                            
                        </div>
                        
                        
                        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                            <div class="sidebar-area bg-white mb-30 box-shadow">
                                
                                <div class="section-heading">
                                    <h5>Other Links</h5>
                                </div>
                                <div class="single-sidebar-widget p-30" style="position: relative;top: -50px;">
                                
                                  <div class="social-followers-info">
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('TELE','ach')"><span>Achievements </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('TELE','infra')"><span>Infrastructure </span></button>
                                    <button class="btn" id="rBtn" type="button" data-toggle="modal" data-target="#popup" onclick="getRes('TELE','research')"><span>Research </span></button>
                                    
                                    
                                    <br>
                                </div>

                                <div class="single-sidebar-widget p-30">
                                    <!-- Section Title -->
                                    <div class="section-heading">
                                        <h5>Announcements</h5>
                                    </div>
                                    {% if annons|length==0 %}
                                    <div> No Announcements</div>
                                    <hr> {% else %} {% for annon in annons %}
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex">
                                        <div class="post-thumbnail">
                                            <span
                                                style="font-size: xx-large;">{{annon[2].day}}</span><span>{{getDate(annon[2].day)}}</span><br>{{annon[2].strftime("%b")}}
                                            {{annon[2].year}}
                                        </div>
                                        <div class="post-content">
                                            <a href="/announcement/{{annon[0]}}" class="post-title">{{annon[1]}}</a>
                                        </div>
                                    </div>
                        
                                    {% endfor %}
                                    <div><a href="/archive/TELE/1" style="color: inherit;"><button class="btn"><span>View all</span></button> </a>
                                    </div>
                                    {% endif %}
                                </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### About Us Area End ##### -->
            
            
            {% endblock %}