<div role="tabpanel" class="tab-pane  animated active fadeIn" id="tabs_desc_434_3">
								<style>
.col.md-6{float:left;}
table td{padding-left:15px; important}
</style>
<h3>HDL LABORATORY</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="123">
<p><strong>Lab Incharges</strong></p>
</td>
<td width="340">
<p>Ø N Chetan Anand&nbsp; Asst. Prof.</p>
<p>Ø N Shruthi&nbsp; Asst. Prof.</p>
<p>Ø H R Satish&nbsp;&nbsp;&nbsp; Programmer.</p>
<p>&nbsp;</p>
</td>
<td width="189">
<p><strong>Software’s Available</strong></p>
</td>
<td width="359">
<p>Ø Turbo C++</p>
<p>Ø MATLAB 2007b</p>
<p>Ø Code Composer Studio</p>
<p>Ø Xilinx 9.2i, Model Sim</p>
<p>Ø Keil Software, ARM(LPC-1768)</p>
<p>Ø XP-Professional, Windows 7</p>
<p>Ø Server 2003 operating System</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<div class="row">
<div class="col-md-12">
<div class="col-md-6" style="float:left">
<img src="/tele_photos/i1.jpg" style="height:270px; width:545px"></div>
<div class="col-md-6" style="float:right">
<img src="/tele_photos/i2.jpg" style="height:270px; width:545px"></div>
</div>
</div>

<h3 style="padding-top:20px">ADVANCED COMMUNICATION LABORATORY</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="123">
<p><strong>Lab Incharges</strong></p>
</td>
<td width="340">
<p>Ø B Sudha&nbsp; Asst. Prof.</p>
<p>Ø R Thyagraj&nbsp; Asst. Prof.</p>
<p>Ø C S Renuka&nbsp;&nbsp; Instructor.</p>
<p>&nbsp;</p>
</td>
<td width="189">
<p><strong>Equipment’s Available</strong></p>
</td>
<td width="359">
<p>Ø Digital Storage Oscilloscope</p>
<p>Ø Microwave Bench</p>
<p>Ø Fibre Optic Kits</p>
<p>Ø Spectrum Analyser</p>
<p>Ø Cathode Ray Oscilloscopes</p>
<p>Ø Function Generator</p>
<p>Ø Signal Generator</p>
</td>
</tr></tbody></table><p>&nbsp;</p>

<div class="row">
<div class="col-md-12">
<div class="col-md-6" style="float:left">
<img src="/tele_photos/i3.jpg" style="height:270px; width:545px"></div>
<div class="col-md-6" style="float:right">
<img src="/tele_photos/i4.jpg" style="height:270px; width:545px"></div>
</div>
</div>
<br>
<h3 style="padding-top:20px">DIGITAL ELECTRONICS LABORATORY</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="123">
<p><strong>Lab Incharges</strong></p>
</td>
<td width="340">
<p>Ø Girish Kumar N G&nbsp; Asst. Prof.</p>
<p>Ø Manjula A R&nbsp; Asst. Prof.</p>
<p>Ø Annapoorna K K&nbsp; Instructor.</p>
<p>&nbsp;</p>
</td>
<td width="189">
<p><strong>Equipment’s Available</strong></p>
</td>
<td width="359">
<p>Ø Digital Analog IC Trainer Kits</p>
<p>Ø Cathode Ray Oscilloscopes</p>
<p>Ø Pulse Generator</p>
<p>Ø Signal Generator</p>
<p>Ø 8051 microcontroller with Interfacing Kits</p>
<p>Ø Keil Software</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<div  class="row">
<img src="/tele_photos/image009.png" style="height:270px; width:540px">
</div><p>&nbsp;</p>
<h3>COMPUTER COMMUNICATION NETWORKS LABORATORY</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="123">
<p><strong>Lab Incharges</strong></p>
</td>
<td width="340">
<p>Ø Rajeswari M&nbsp; Asso. Prof.</p>
<p>Ø Bhavya A R&nbsp; Asst. Prof.</p>
<p>Ø Kavyashree P M Instructor.</p>
<p>&nbsp;</p>
</td>
<td width="189">
<p><strong>Software’s Available</strong></p>
</td>
<td width="359">
<p>Ø Turbo C++ and VC++</p>
<p>Ø MATLAB 2007b</p>
<p>Ø Code Composer Studio</p>
<p>Ø Xilinx 9.2i, Model Sim</p>
<p>Ø Keil Software, TASM (µP)</p>
<p>Ø XP-Professional, Windows 7</p>
<p>Ø Server 2003 operating System</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<div  class="row">
<img src="/tele_photos/image011.png" style="height:270px; width:540px">
</div><p>&nbsp;</p>
<h3>RESEARCH AND DEVELOPMENT CENTRE</h3>
<table class="table table-bordered table-sm"><tbody><tr><td width="253">
<p><strong>Software’s Available</strong></p>
</td>
<td width="633">
<p>Ø Turbo C++ and VC++</p>
<p>Ø MATLAB 2007b and Keil Software</p>
<p>Ø Windows 7 Operating System</p>
<p>Ø LAB VIEW Software and Advanced Design System Software</p>
</td>
</tr></tbody></table><p>&nbsp;</p>
<div  class="row">
<img src="/tele_photos/image013.png" style="height:270px; width:540px">
</div>						 </div>