<div role="tabpanel" class="tab-pane  animated active fadeIn" id="tabs_desc_434_4">
								<h4>Kaushik .H. R. Student of TCE, Batch 2007 – 11 secured 240 rank in UPSC Examination 2018-19</h4>
<p>
    <div class="d-flex justify-content-center">
<img src="/tele_photos/karthik.jpg" style="width:200px; height:200px"></div></p>
<br>


<h2>Batch-2014-18</h2>

<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="23" valign="top">
                <p>
                    <strong>SL. NO</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>USN</strong>
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                    <strong>Student Name</strong>
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                    <strong>Rank</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>Marks<br> Percentage%</strong>
                </p>
            </td>
            <td width="120" valign="top">
                <p>
                    <strong>Photos</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="23" valign="top">
                <p>
                    1
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                  1BI14TE035
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                    POOJA.K.
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                   I 
(Gold Medal)
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                   83.65
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="/tele_photos/Pooja.png">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    2
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                 1BI14TE018
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                  DEVRAJ.K.
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                  IV
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                   82.38
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="/tele_photos/devraj.png">
                </p>
            </td>
        </tr>
</tbody>
</table>


<h2>Batch-2013-17</h2>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="23" valign="top">
                <p>
                    <strong>SL. NO</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>USN</strong>
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                    <strong>Student Name</strong>
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                    <strong>Rank</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>Marks<br> Percentage%</strong>
                </p>
            </td>
            <td width="120" valign="top">
                <p>
                    <strong>Photos</strong>
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    1
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                 1BI13TE044
                </p>
            </td>
            <td width="80" valign="top">
                <p>
               SRINIDHI.V. S.
                </p>
            </td>
            <td width="50" valign="top">
                <p>
               I 
(Gold Medal)
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                   85.04
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="/tele_photos/srinidhi.jpg">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    2
                </p>
            </td>
            <td width="40" valign="top">
                <p>
               1BI13TE003

                </p>
            </td>
            <td width="80" valign="top">
                <p>
            ANJALI.K. M.

                </p>
            </td>
            <td width="50" valign="top">
                <p>
            II

                </p>
            </td>
            <td width="40" valign="top">
                <p>
                84.14
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="/tele_photos/anjali.png">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    3
                </p>
            </td>
            <td width="40" valign="top">
                <p>
              1BI13TE023

                </p>
            </td>
            <td width="80" valign="top">
                <p>
        PADMASHREE.D. J.
                </p>
            </td>
            <td width="50" valign="top">
                <p>
           III

                </p>
            </td>
            <td width="40" valign="top">
                <p>
            83.83
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    4
                </p>
            </td>
            <td width="40" valign="top">
                <p>
            1BI13TE027

                </p>
            </td>
            <td width="80" valign="top">
                <p>
            POOJITHA.S.

                </p>
            </td>
            <td width="50" valign="top">
                <p>
      IV
                </p>
            </td>
            <td width="40" valign="top">
                <p>
      83.01
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    5
                </p>
            </td>
            <td width="40" valign="top">
                <p>
          1BI13TE011

                </p>
            </td>
            <td width="80" valign="top">
                <p>
         K. M. ASHWINI

                </p>
            </td>
            <td width="50" valign="top">
                <p>
         V

                </p>
            </td>
            <td width="40" valign="top">
                <p>
             80.58
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>



       </tbody></table>




<h2>Batch-2012-16</h2>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="23" valign="top">
                <p>
                    <strong>SL. NO</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>USN</strong>
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                    <strong>Student Name</strong>
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                    <strong>Rank</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>Marks<br> Percentage%</strong>
                </p>
            </td>
            <td width="120" valign="top">
                <p>
                    <strong>Photos</strong>
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    1
                </p>
            </td>
            <td width="40" valign="top">
                <p>
              1BI12TE031
                </p>
            </td>
            <td width="80" valign="top">
                <p>
              PRANAV.K. ADIGA
                </p>
            </td>
            <td width="50" valign="top">
                <p>
               I 
(Gold Medal)
                </p>
            </td>
            <td width="40" valign="top">
                <p>
               86.43
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    2
                </p>
            </td>
            <td width="40" valign="top">
                <p>
1BI12TE048

                </p>
            </td>
            <td width="80" valign="top">
                <p>
           SUKEERTHI.G.

                </p>
            </td>
            <td width="50" valign="top">
                <p>
        VII
                </p>
            </td>
            <td width="40" valign="top">
                <p>
               80.70
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="/tele_photos/pranav.png">
                </p>
            </td>
        </tr>
</tbody>
</table>
<h2>Batch-2011-15</h2>
<table class="table table-bordered table-sm">
    <tbody>
        <tr>
            <td width="23" valign="top">
                <p>
                    <strong>SL. NO</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>USN</strong>
                </p>
            </td>
            <td width="80" valign="top">
                <p>
                    <strong>Student Name</strong>
                </p>
            </td>
            <td width="50" valign="top">
                <p>
                    <strong>Rank</strong>
                </p>
            </td>
            <td width="40" valign="top">
                <p>
                    <strong>Marks<br> Percentage%</strong>
                </p>
            </td>
            <td width="120" valign="top">
                <p>
                    <strong>Photos</strong>
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    1
                </p>
            </td>
            <td width="40" valign="top">
                <p>
             1BI11TE045
                </p>
            </td>
            <td width="80" valign="top">
                <p>
     SUMA.V
                </p>
            </td>
            <td width="50" valign="top">
                <p>
         II

                </p>
            </td>
            <td width="40" valign="top">
                <p>
            83.36
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    2
                </p>
            </td>
            <td width="40" valign="top">
                <p>
 1BI11TE043

                </p>
            </td>
            <td width="80" valign="top">
                <p>
        SOWMYA.N

                </p>
            </td>
            <td width="50" valign="top">
                <p>
  III
                </p>
            </td>
            <td width="40" valign="top">
                <p>
    82.93
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>

<tr>
            <td width="23" valign="top">
                <p>
                    3
                </p>
            </td>
            <td width="40" valign="top">
                <p>
       1BI11TE014
                </p>
            </td>
            <td width="80" valign="top">
                <p>
       GOURAV.V. VAIDYA

                </p>
            </td>
            <td width="50" valign="top">
                <p>
       X

                </p>
            </td>
            <td width="40" valign="top">
                <p>
             81.04
            </p></td>
            <td width="120" valign="top">
                <p>
                    <img src="">
                </p>
            </td>
        </tr>



       </tbody></table>

<p >The students of department of Telecomm have left no stone unturned in bringing laurels and making all of us proud. We have always been motivated towards overall development of our personality and the following achievements are the greatest examples of the advice of our mentors being turned into reality.</p>
<div class="row" style="padding-left:97px; padding-right:97px">
<div class="col-md-6" style="float:left">
<p style="width:450px"><img src="/tele_photos/image001-4.png" width="200" height="250"></p>
<p><b>Pooja.K<br>
USN : 1BI14TE035<br>
1<sup>st</sup> Rank</b></p>
</div>
<div class="col-md-6" style="float:right">
<p style="width:450px"><img src="/tele_photos/image002-2.png" width="200" height="250"></p>
<p><b>Devaraj.K<br>
USN : 1BI14TE018<br>
4<sup>th</sup> Rank</b></p>
</div>
</div>
<div class="row">
<ul  style="color:#666666;padding-left:20px;line-height:2">
<li> The Department has received <strong>VGST K-FIST L1 grants worth rupees 20 Lakhs</strong> and a project is ongoing.</li>
<li> The Department received the <strong>40th and 41st KSCST grants</strong> for UG student projects.</li>
<li> There are <strong>six students currently registered for the PhD program</strong> in the Department. One has been conferred the degree in March 2018.</li>
<li> Prof. <strong>B Sudha delivered lectures on subject “Network Analysis” during the VTU EDUSAT Program 23 in 2017.</strong></li>
<li> The faculty members have been in the organizing committee and chairpersons for various international and national conferences.</li>
<li> The faculty members have published more than 40 publications.</li>
<li> The Department regularly conducts workshops and seminars and technical talks. Recently, a five-day FDP on “Design of Embedded Systems with ARM Cortex-M3” a two-day workshop on “Microwave and Antennas Laboratory” were conducted. Technical talks on “Internet of Things” and “Importance of Project Selection” were held.</li>
<li> 2017 BATCH has bagged 5 VTU Ranks <strong>Srinidhi V S First Rank, Anjali K M Second Rank, Padmashree D J Third Rank, Poojitha S Fourth Rank and Ashwini K M Fifth Rank.</strong></li>
<li> The Department conducts an intra-semester annual event, <strong>“TELEWAR”</strong> which hosts cultural as well as sport events.</li>
<li> Students of the Department are actively participating in co-curricular as well as extra-curricular activities and in various state-level and national-level competition.</li>
<li> <strong>Kartikey V Hebbar</strong> was a Top-30 finalist in the Hackathon arranged by Cisco in Nov, 2018. He has also represented the college music team at the Youth Festival organized by VTU, Belagavi.</li>
<li> <strong>Muralikrishna N</strong> has been cast in short Kannada movies titled “Obne” and “Kanasu Sullagabahudu”.</li>
<li> Many of the students are pursuing the higher education in India and Abroad.</li>
<li> The Alumni of the Department are holding prestigious positions in various Companies and Organizations.</li>
</ul>
</div>						 </div>